<li class="itemfeed cmt_fed" id="comment_$value1[cid]">
	<a name="comment_anchor_$value1[cid]"></a>
	<div class="d-flex lyear-message-item">
		<a href="user.php?uid=$value1[authorid]" class="img-avatar-48" title="$value1[author]" hidefocus="true" target="_blank">{eval echo avatar_block($value1['authorid'],'','img-avatar img-avatar-48');}</a>
		<div class="flex-grow-1 ms-2">
			<a href="user.php?uid=$value1[authorid]" title="$value1[author]" class="avatar_mcfed text-break" hidefocus="true" target="_blank"><strong>$value1[author]</strong></a>
			<!--{if $value1['rpost']}-->
			<span class="text-muted m-1">{lang reply}</span>
			<a href="user.php?uid=$value1[rpost][authorid]" title="$value1[rpost][author]" class="avatar_mcfed" hidefocus="true" target="_blank"><strong>$value1[rpost][author]</strong></a>
			<!--{/if}-->
			<div class="text-muted">$value1['dateline'] $value1[xtllq] <!--{if $_G[adminid]==1}-->$value1[ip]<!--{/if}-->
				<span class="float-end">
					<!--{if $_G['uid']==$value1[authorid] || $_G[adminid]==1}-->
					<a href="javascript:void(0);" class="dcolor" onclick="feed_delete('$value1[cid]','comment_$value1[cid]','$value1[pcid]')"><i class="mdi mdi-delete"></i>&nbsp;{lang delete}</a>
					<!--{/if}-->
					<!--{if $_G['uid']>0}-->
					<a href="javascript:void(0);" class="dcolor" onclick="getReplyForm('$value1[pcid]','$value1[cid]','$_GET[allowattach]','$_GET[allowat]','$_GET[allowsmiley]');"><i class="mdi mdi-reply"></i>&nbsp;{lang reply}</a>
					<!--{/if}-->
				</span>
			</div>
			<p class="text-break">$value1[message]</p>
			<!--{if $value1[attachs]}-->
			<div class="row">
				<!--{loop $value1[attachs] $attach}-->
				<div class="col-xs-12 col-sm-6 col-lg-4">
					<div class="attachoffer">
						<div class="ms-2 me-auto p-2">
							<div class="fw-bold"><a class="img-avatar-48" hidefocus="true" href="javascript:;"><img src="$attach[img]" data-original="$attach[img]" alt="$attach[title]" class=""></a>$attach[title]<!--{if $attach['filesize']}--><span>($attach['filesize'])</span><!--{/if}--></div>
							<div  class="p-2">
								<!--{if $attach[preview]>0}-->
								<a href="javascript:void(0);" title="" hidefocus="true" class="btn btn-outline-info btn-sm" onclick="feed_attach_preview('$attach[qid]')">{lang preview}</a>
								<!--{/if}-->
								<!--{if $attach['type']=='dzzdoc' || $attach['type']=='link'}-->
								<!--{else}-->
								<a href="javascript:;" title="" hidefocus="true" class="btn btn-outline-info btn-sm" onclick="feed_downAttach('$attach[qid]')">{lang download}<!--{if $attach[downloads]>0}-->($attach[downloads]{lang degree})<!--{/if}--></a>
								<a href="javascript:void(0);" title="" hidefocus="true" class="btn btn-outline-info btn-sm" onclick="feed_attach_saveto('$attach[qid]')">{lang js_saved_my_documents}</a>
								<!--{/if}-->
							</div>
						</div>
					</div>
				</div>
				<!--{/loop}-->
			</div>
			  <!--{/if}-->
		</div>
	</div>
</li>