.red{color:#dc3545}
.container{margin:50px auto}
.main{padding:10px;}
input,select,button{line-height:1.5;padding:5px 10px;border:1px solid #ced4da;border-radius:5px;font-size:16px;font-weight:400;background-color:#fff;background-clip:padding-box;-webkit-appearance:none;-moz-appearance:none;appearance:none;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out}
input:hover,select:hover,button:hover{color:#212529;border-color:#007bff;box-shadow:0 0 0 1px rgba(13,110,253,.25);outline:0;-webkit-transition:all .25s linear;-moz-transition:all .25s linear;-ms-transition:all .25s linear;-o-transition:all .25s linear;transition:all .25s linear}
input:focus,select:focus,button:focus{outline:none;color:#212529;background-color:#fff;border-color:#86b7fe;box-shadow:0 0 0 .25rem rgba(13,110,253,.25)}
button{margin-bottom:0;border-color:#2b7acd;background:#2b7acd;color:#fff;cursor:pointer}
.comment{text-align:left;color:#6c757d}
.spacer{height:60px}
.button span{font-size:15px;font-weight:bold}
.tb2{width:auto}
.tbopt{flex:0 0 25%;cursor:pointer}
.w{background:url(right.png) no-repeat 10px center}
.nw{background:url(error.png) no-repeat 10px center}
.pContainer{position:relative;z-index:100;border:1px solid #FFF;margin:20px;padding:20px;border-radius:20px;background-color:#e9ecef}
.pContainer .progress{position:absolute;left:0;top:0;width:1%;height:100%;background:#007bff;z-index:-1;border-radius:20px}
#notice{padding:0 20px;font-size:24px}
.header{padding:30px 0}
.step_0 .content{padding:30px 200px 0}
label{height:24px;cursor:pointer;position:relative;}
.btn{display:inline-block;text-align:center;text-decoration:none;vertical-align:middle;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;color:#fff;background-color:#0d6efd;border-color:#0d6efd;margin-right:5px;margin-top:5px;font-size:22px}
.btn:hover{color:#fff;background-color:#0b5ed7;border-color:#0a58ca}
.btn:focus{outline:0;box-shadow:0 0 0 .25rem rgba(13,110,253,.25)}
.btn:disabled{pointer-events:none;opacity:.65}
ul{list-style:none;padding:0px;margin:0px}
.padleft{text-align:left}
#menu{width:100%;margin:0 0 10px 0;text-align:center}
#menu td{padding:10px;color:#999;border-bottom:3px solid #EEE}
.tb{border-spacing:0;border-collapse:collapse;width:100%;overflow:auto}
.tb th{font-weight:600}
.tb th,.tb td{padding:6px 13px;border:1px solid #c6d1e3}
.tb tr{background-color:#fff;border-top:1px solid #c6cbd1}
.tb tr:nth-child(2n){background-color:#f8f9fa}
.tb td.w,.tb td.nw{padding-left:35px;text-align:left}
.row{display:flex;align-items:center;flex-wrap:wrap;margin-bottom:20px}
.tbopt{flex:0 0 25%;cursor:pointer}
.txt{flex:1 0 70%;width:100%}
.container-fluid{padding:20px}
.form-text{color:#6c757d;display:block;flex:1 0 70%;margin-left:25%;font-size:14px;padding-top:8px}
.form-text:hover{color:#007bff}
.desc{text-align:left}
.ckb {
    width: 18px;
    height: 18px;
    padding: 0;
    background: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.ckb:checked {
    background: #007bff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23fff'%3e%3cpath d='M18.9 4.9L9 14.8l-3.5-3.5-2.8 2.8L9 20.4 21.7 7.7l-2.8-2.8z'/%3e%3c/svg%3e");
    border-color: #007bff;
    background-size: 14px;
}