<!--{template common/header_simple_start}-->
<link href="static/css/common.css?{VERHASH}" rel="stylesheet" media="all">

<script type="text/javascript" src="static/js/jquery.leftDrager.js?{VERHASH}"></script>
<script src="admin/scripts/admin.js?{VERHASH}"></script>
<!--{template common/header_simple_end}-->
<!--{template common/commer_header}-->
<div class="bs-container clearfix">
	<div class="bs-left-container  clearfix">
		<!--{template left}-->
	</div>
	<div class="left-drager">
	</div>

	<div class="bs-main-container  clearfix">
		<div class="main-header clearfix">
			<ul class="nav nav-pills nav-pills-bottomguide">
				<li <!--{if $operation=='export' }-->class="active"<!--{/if}-->>
					<a hidefocus="true" href="{MOD_URL}&op=database&operation=export">{lang export}</a>
				</li>
				<li <!--{if $operation=='import' }-->class="active"<!--{/if}-->>
					<a hidefocus="true" href="{MOD_URL}&op=database&operation=import">{lang nav_db_import}</a>
				</li>
				<li <!--{if $operation=='runquery' }-->class="active"<!--{/if}-->>
					<a hidefocus="true" href="{MOD_URL}&op=database&operation=runquery">{lang nav_db_runquery}</a>
				</li>
			</ul>
		</div>
		<!--{if $operation=='export'}-->
		<ul class="help-block mt20">
			<h5>{lang board_message}</h5> {lang db_export_tips}
		</ul>
		<div class="main-content">
			<!--{if !$submit}-->

			<form id="cpform" action="{MOD_URL}&op=database&operation=export&setup=1" class="form-horizontal form-horizontal-left" method="post" name="cpform">
				<input type="hidden" value="{FORMHASH}" name="formhash">
				<input type="hidden" value="true" name="exportsubmit">
				<dl>
					<dt>{lang db_export_type}:</dt>
					<dd class="clearfix"><label class="radio radio-inline"><input type="radio" name="type" value="dzz" checked="" onclick="document.getElementById('showtables').style.display = 'none';">{lang all_data_table}</label></dd>
					<dd class="clearfix"><label class="radio radio-inline"><input type="radio" name="type" value="custom"  onclick="document.getElementById('showtables').style.display = '';">{lang db_export_custom}</label></dd>
					<dd id="showtables" class="clearfix" style="display:none;border:1px solid #D2D2D2">
						<h4 class="clearfix ml20"> <label class="checkbox-inline" for ="chkalltables"><input  name="chkall" onclick="checkAll('prefix', this.form, 'customtables', 'chkall', true)" checked="checked" type="checkbox" id="chkalltables">{lang check_all_data_table}</label></h4>
						<ul class="list-unstyled">
							<!--{loop $dztables $value}-->
							<li class="col-xs-4"><label class="checkbox-inline"><input type="checkbox" name="customtables[]" value="$value"  checked="checked">$value</label></li>
							<!--{/loop}-->
						</ul>
					</dd>
				</dl>
				<div id="advanceoption" style="display:none">

					<dl>
						<dt>{lang db_export_method}:</dt>
						<dd class="clearfix"><label class="radio radio-inline"><input type="radio" name="method" value="shell" onclick="if('0') {if(this.form.sqlcompat[2].checked==true) this.form.sqlcompat[0].checked=true; this.form.sqlcompat[2].disabled=true; this.form.sizelimit.disabled=true;} else {this.form.sqlcharset[0].checked=true; for(var i=1; i&lt;=5; i++) {if(this.form.sqlcharset[i]) this.form.sqlcharset[i].disabled=true;}}" id="method_shell">{lang db_export_shell}</label></dd>
						<dd class="clearfix"><label class="radio radio-inline"><input  type="radio" name="method" value="multivol" checked="checked" onclick="this.form.sqlcompat[2].disabled=false; this.form.sizelimit.disabled=false; for(var i=1; i<=5; i++) {if(this.form.sqlcharset[i]) this.form.sqlcharset[i].disabled=false;}" id="method_multivol">{lang db_export_multivol}</label>
							<input type="text" class="input-sm form-control" style="width:50px;" name="sizelimit" value="2048">
						</dd>
					</dl>
					<dl>
						<dt>{lang db_export_options_extended_insert}:</dt>
						<dd class="clearfix"><label class="radio radio-inline"><input  type="radio" name="extendins" value="1">{lang yes}</label><label class="radio radio-inline"><input  type="radio" name="extendins" value="0" checked="checked">{lang no}</label></dd>
					</dl>
					<dl>
						<dt>{lang db_export_options_sql_compatible}:</dt>
						<dd class="clearfix"><label class="radio radio-inline"><input  type="radio" name="sqlcompat" value="" checked="">{lang default}</label></dd>
						<dd class="clearfix"><label class="radio radio-inline"><input  type="radio" name="sqlcompat" value="MYSQL40"> MySQL 3.23/4.0.x</label></dd>
						<dd class="clearfix"><label class="radio radio-inline"><input  type="radio" name="sqlcompat" value="MYSQL41" disabled="">  MySQL 4.1.x/5.x</label></dd>
					</dl>
					<dl>
						<dt>{lang db_export_options_charset}:</dt>
						<dd class="clearfix"><label class="radio radio-inline"><input  type="radio" name="sqlcharset" value="">{lang db_export_options_charset}</label>
							<label class="radio radio-inline"><input  type="radio" name="sqlcharset" value="utf8">  UTF8</label></dd>
					</dl>
					<dl>
						<dt>{lang db_export_usehex}:</dt>
						<dd class="clearfix"><label class="radio radio-inline"><input type="radio" name="usehex" value="1" checked="checked">{lang yes}</label>
							<label class="radio radio-inline"><input type="radio" name="usehex" value="0" >{lang no}</label></dd>
					</dl>
					<dl>
						<dt>{lang db_export_usezip}:</dt>
						<dd class="clearfix"><label class="radio radio-inline"><input type="radio" name="usezip" value="1">{lang db_export_zip_1}</label></dd>
						<dd class="clearfix"><label class="radio radio-inline"><input type="radio" name="usezip" value="2">{lang db_export_zip_2}</label></dd>
						<dd class="clearfix"><label class="radio radio-inline"><input type="radio" name="usezip" value="0" checked>{lang db_export_zip_3}</label></dd>
					</dl>
					<dl>
						<dt>{lang db_export_filename}:</dt>
						<dd class="clearfix"><input type="text" class="form-control" name="filename" value="$defaultfilename"></dd>
					</dl>
				</div>
				<dl>
					<dd class="clearfix"><button type="submit" class="btn btn-primary" name="exportsubmit" value="true" >{lang blank_submit}</button>
						&nbsp; &nbsp;<label class="checkbox inline"><input  type="checkbox" value="1" onclick="document.getElementById('advanceoption').style.display = document.getElementById('advanceoption').style.display == 'none' ? '' : 'none'; this.value = this.value == 1 ? 0 : 1; this.checked = this.value == 1 ? false : true" id="btn_more">{lang more_options}</label></dd>
				</dl>
			</form>
			<!--{else}-->
			<div class="well">
				<!--{if $msg}-->
				<p class="$msg_type">$msg</p>
				<!--{/if}-->
				<!--{if $redirecturl}-->
				<p class="text-info">
					<a href="{$redirecturl}" class="lightlink">{lang message_redirect}</a>
				</p>
				<script type="text/JavaScript">setTimeout(function(){location.href='{$redirecturl}';}, 2000);</script>
				<!--{/if}-->
			</div>
			<!--{/if}-->
		</div>
		<!--{elseif $operation=='import'}-->
		<div class="main-content" style="border:1px solid #FFF">
			<!--{if $msg}-->
			<div class="well">
				<p class="$msg_type">$msg</p>
				<!--{if $redirecturl}-->
				<p class="text-info">
					<a href="{$redirecturl}" class="lightlink">{lang message_redirect}</a>
				</p>
				<script type="text/JavaScript">setTimeout(function(){location.href='{$redirecturl}';}, 2000);</script>
				<!--{/if}-->
			</div>
			<!--{else}-->

			<ul class="help-block">
				<h5>{lang board_message}</h5> {lang db_import_tips}
			</ul>
			$do_import_option
			<form id="cpform" action="{MOD_URL}&op=database&operation=import" class="form-horizontal form-horizontal-left " method="post" name="cpform">
				<input type="hidden" value="{FORMHASH}" name="formhash">
				<input type="hidden" value="true" name="deletesubmit">
				<table class="table table-hover" style="border-top:1px solid #DDD">
					<thead>
						<th></th>
						<th>{lang filename}</th>
						<th>{lang version}</th>
						<th>{lang time}</th>
						<th>{lang type}</th>
						<th>{lang big_small}</th>
						<th>{lang db_method}</th>
						<th>{lang db_volume}</th>
						<th></th>
					</thead>
					<!--{loop $list $key $val}-->
					<tr>
						<td><input type="checkbox" name="delete[]" value="$key"></td>
						<td>
							<!--{if $val['list']}-->
							<a href="javascript:;" onclick="jQuery('#exportlog_{$key}').toggle()">$key</a>
							<!--{else}-->
							<a href="$val[filename]">$key</a>
							<!--{/if}-->
						</td>
						<td>$val[version]</td>
						<td>$val[dateline]</td>
						<td>$val[ftype]</td>
						<td>$val[size]</td>
						<td>$val[method]</td>
						<td>$val[volume]</td>
						<td>
							<!--{if $val['list']}-->
							<a href="{$datasiteurl}restore.php?operation=import&from=server&datafile_server=$val[datafile_server]&importsubmit=yes" <!--{if $info[ 'version'] !=$_G[ 'setting'][ 'version']}--> onclick="return confirm('{lang db_import_confirm}');"<!--{else}-->onclick="return confirm('{lang db_import_confirm_sql}');"<!--{/if}-->target="_blank">{lang import}</a>
							<!--{else}-->
							<a href="{$datasiteurl}restore.php?operation=importzip&datafile_server=$info[datafile_server]&importsubmit=yes" onclick="return confirm('{lang db_import_confirm_zip}');" target="_blank">{lang db_import_unzip}</a>
							<!--{/if}-->
						</td>
					</tr>
					<thead id="exportlog_{$key}" style="display:none;">
						<!--{loop $val[list] $key1 $val1}-->
						<tr>
							<td></td>
							<td>
								<a href="$val1[filename]">$val1[filename]</a>
							</td>
							<td>$val1[version]</td>
							<td>$val1[dateline]</td>
							<td></td>
							<td>$val1[size]</td>
							<td></td>
							<td>$val1[volume]</td>
							<td></td>
						</tr>
						<!--{/loop}-->
					</thead>
					<!--{/loop}-->
					<thead>
						<tr>
							<td colspan="15"><input type="checkbox" name="chkall" id="chkallspKI" onclick="checkAll('prefix', this.form, 'delete')">{lang del}&nbsp;&nbsp;<button type="submit" class="btn btn-primary" name="exportsubmit" value="true" >{lang blank_submit}</button>
							</td>
						</tr>
					</thead>
				</table>
			</form>
			<!--{/if}-->
		</div>
		<!--{elseif $operation=='runquery'}-->
		<div class="main-content">

			<ul class="help-block">
				<h4>{lang board_message}</h4>
				{lang db_runquery_tips}
			</ul>
			<!--{if $msg}-->
			<div class="well">
				<p class="$msg_type">$msg</p>
				<!--{if $redirecturl}-->
				<p class="text-info">
					<a href="{$redirecturl}" class="lightlink">{lang message_redirect}</a>
				</p>
				<script type="text/JavaScript">setTimeout(function(){location.href='{$redirecturl}';}, 5000);</script>
				<!--{/if}-->
			</div>
			<!--{else}-->

			<form id="cpform" action="{MOD_URL}&op=database&operation=runquery" method="post" name="cpform">
				<input type="hidden" value="{FORMHASH}" name="formhash">
				<input type="hidden" value="true" name="sqlsubmit">
				<dl>
					<dt>{lang db_runquery_sql}</dt>
					<dd class="clearfix"><textarea cols="85" rows="10" name="queries" style="width:500px;"></textarea></dd>
					<dd class="clearfix mt10"><label class="checkbox-inline"><input name="createcompatible" type="checkbox" value="1" checked="checked" />{lang db_runquery_createcompatible}</label></dd>
				</dl>
				<dl>
					<dd class="clearfix"><button type="submit" class="btn btn-primary">{lang blank_submit}</button></dd>
				</dl>
			</form>
			<!--{/if}-->
		</div>
		<!--{/if}-->
	</div>
</div>
<script type="text/javascript">
	jQuery('.left-drager').leftDrager_layout();
</script>
<script src="static/bootstrap/js/bootstrap.min.js?{VERHASH}"></script>
<!--{template common/footer_simple}-->