<!--{template common/header_simple_start}-->
<link href="static/css/common.css?{VERHASH}" rel="stylesheet" media="all">
<script type="text/javascript" src="static/js/jquery.leftDrager.js?{VERHASH}"></script>
<!--{template common/header_simple_end}-->
<!--{template common/commer_header}-->
<div class="bs-container clearfix">
	<div class="bs-left-container  clearfix">
		<!--{template left}-->
	</div>
	<div class="left-drager">
		<div class="left-drager-op">
		  <div class="left-drager-sub"></div>
		</div>
	  </div>
	<div class="bs-main-container  clearfix">
		<div class="main-content">
			<!--{if $step==1}-->
			<form method="post" class="form-horizontal form-horizontal-left" action="{MOD_URL}&op=fileperms&step=2">
				<input name="formhash" value="{VERHASH}" type="hidden">
				<div class="alert alert-warning" style="margin:10px;">主要检查文件及文件夹的写入权限，点击下面按钮开始进行检查</div>
				<dl>
				<input class="btn btn-block btn-primary" name="confirmed" value="确定" type="submit">
				</dl>
			</form>
			<!--{elseif $step==2}-->
			<div class="text-center" style="margin:20px 0;">
				<h2 class="text-success ml20">正在进行文件权限检查，请稍候......</h2>
				<div class="progress progress-striped active">
					<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%"><span class="sr-only">100% Complete</span></div>
				</div>
			</div>
			<dl><a href="{MOD_URL}&op=fileperms&step=3" class="btn btn-block btn-primary">{lang message_redirect}</a></dl>
			<script type="text/javascript">
				jQuery('.progress-bar').animate({ width: '100%' }, 2000, function() {
					window.location.href = '{MOD_URL}&op=fileperms&step=3';
				});
			</script>
			<!--{elseif $step==3}-->
			<!--{if $result}-->
			<div class="alert alert-warning" style="margin:10px;">
				<i class="dzz dzz-error"></i>如果某个文件或目录被检查到“无法写入”(以红色列出)，请即刻通过 FTP 或其他工具修改其属性(例如设置为 777)，以确保站点功能的正常使用。
			  </div>
			<ol class="list-group">
				$result
			  </ol>
			<!--{else}-->
			<!--{/if}-->
			<!--{/if}-->
		</div>
	</div>
</div>
<script type="text/javascript">
	jQuery('.left-drager').leftDrager_layout();  
</script>
<!--{template common/footer_simple}-->