<!--{template lyear:header_simple_start}-->
<!--{template lyear:header_simple_end}-->
<main class="bs-main-container">
	<div class="container-fluid">
		<div class="card">
			<div class="card-body">
				<ul class="nav nav-step">
					<li class="nav-item <!--{if $step==2 || $step==3}-->complete<!--{/if}-->">
						<span>1.{lang nav_updatecache_confirm}</span>
						<a class="nav-link <!--{if $step==1}-->active<!--{/if}-->" data-toggle="tab"></a>
					</li>

					<li class="nav-item <!--{if $step==3}-->complete<!--{/if}-->">
						<span>2.{lang nav_updatecache_verify}</span>
						<a class="nav-link <!--{if $step==2}-->active<!--{/if}-->" data-toggle="tab"></a>
					</li>

					<li class="nav-item">
						<span>3.{lang nav_updatecache_completed}</span>
						<a class="nav-link <!--{if $step==3}-->active<!--{/if}-->" data-toggle="tab"></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<!--{if $step==1}-->
					<form method="post" class="form-horizontal" action="{MOD_URL}&op=updatecache&step=2">
						<input name="formhash" value="{VERHASH}" type="hidden">
						<div class="m-2">
							<div class="form-check form-check-inline">
								<input name="type[]" value="data" checked id="datacache" class="form-check-input" type="checkbox">
								<label class="form-check-label" for="datacache">{lang tools_updatecache_data}</label>
							</div>
							<div class="form-check form-check-inline">
								<input name="type[]" value="tpl" checked id="tplcache" class="form-check-input" type="checkbox">
								<label class="form-check-label" for="tplcache">{lang tools_updatecache_tpl}</label>
							</div>
							<div class="form-check form-check-inline">
								<input name="type[]" value="perm" id="permcache" class="form-check-input" type="checkbox">
								<label class="form-check-label" for="permcache">权限判断缓存</label>
							</div>
							<div class="form-check form-check-inline">
								<input name="type[]" value="memory" id="memory" class="form-check-input" type="checkbox">
								<label class="form-check-label" for="memory">内存缓存</label>
							</div>
						</div>
						<dl class="mb-3 d-grid">
							<input class="btn btn-primary" name="confirmed" value="{lang confirms}" type="submit">
						</dl>
					</form>
				<!--{elseif $step==2}-->
				<div class="text-center m-2">
					<h2 class="text-success ml20">{lang tools_updatecache_waiting}</h2>
					<div class="progress">
						<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>
				<dl class="mb-3 d-grid">
					<a href="{MOD_URL}&op=updatecache&step=3&type={$type}" class="btn btn-primary">{lang message_redirect}</a>
				</dl>
				<script type="text/javascript">
					jQuery('.progress-bar').animate({ width: '100%' }, 2000, function() {
						window.location.href = '{MOD_URL}&op=updatecache&step=3&type={$type}';
					});
				</script>
				<!--{elseif $step==3}-->
				<h2 class="text-primary ml20 text-center">{lang update_cache_succeed}</h2>
				<script type="text/javascript">
					window.setTimeout(function() { location.href = '{MOD_URL}&op=updatecache'; }, 5000);
				</script>
				<!--{/if}-->
			<div class="alert alert-warning">
				<h5>{lang board_message}</h5>
				<ul class="form-text">
					{lang tools_updatecache_tips}
				</ul>
			</div>
		</div>
	</div>
</div>
</main>
<!--{template lyear:footer_simple}-->