<!--{template lyear:header_simple_start}-->
<!--{template lyear:header_simple_end}-->
<style>
	.list-group-item.active {
		color: #fff;
		background: #0d6efd;
	}
	th {
		text-align:center;
		color: #76a9ff;
		line-height: 34px;
		padding: 3px 5px;
	}
	tr {
		text-align:center;
	}
	.ext span:first-child{
		display: inline-block;
    	width: 55%;
	}
	.label{
		padding: 2px;
		margin: 2px;
	}
	.gallery-grid .gallery-item {
    padding-bottom: 5px;
  }
</style>
<main class="bs-main-container">
	<div class="container-fluid">
		<div class="card">
			<div class="card-header">
				<div class="card-title">
					PHP扩展信息<a href="{MOD_URL}&op=xtxx&do=phpinfo" target="_blank" class="ms-2 btn btn-outline-primary btn-sm">PHP详情</a>
				</div>
			</div>
			<div class="card-body gallery-grid">
				<!--{eval echo kuozhan();}-->
			</div>
			<div class="card-footer">
				已加载的扩展：$extensions
			  </div>
		</div>
	</div>
</main>
<!--{template lyear:footer_simple}-->