




.fwinmask{background:#FBFBFB;box-shadow:1px 3px 15px rgba(0,0,0,0.8),inset 0 0 10px #FFF;padding:5px;border:1px solid #CCC\0;*border:1px solid #CCC;border-radius:3px}
.fwinmask p{margin:0;padding:5px 0 0}
.fwinmask .altw{width:350px}
.fwinmask .altw .fltc{margin-bottom:0;padding:8px}
.fwinmask .alert_right,.fwinmask .alert_error,.fwinmask .alert_info{padding:6px 0 6px 58px;min-height:45px;height:auto !important;height:40px;line-height:160%;background:url(images/right.png) no-repeat 8px 8px;font-size:14px}
.fwinmask .alert_error{background-image:url(images/error.png)}
.fwinmask .alert_error a{font-weight:700}
.fwinmask .alert_info{background-image:url(images/info.png)}
.fwinmask .alert_btnleft{margin-top:8px}
.fwinmask .alert_btn{margin-top:20px;text-align:center}
.fwinmask .alert_act{margin-top:20px;padding-left:58px}
.fwinmask .t_l,.fwinmask .t_r,.fwinmask .b_l,.fwinmask .b_r{height:0px;width:0px}
.fwinmask .t_c,.fwinmask .m_l,.fwinmask .m_r,.fwinmask .b_c{width:0px;height:0px}
.fwinmask  .nfl .f_c{background:none;border:none;margin:auto;padding:20px;width:380px}
.fwinmask .m_c .form-signin{background:none;border:none;border-radius:none;box-shadow:none;margin:0;padding:0}
.fwinmask .m_c  .form-group{border-bottom:1px solid #e7e7e7;border-top:1px solid #FFFFFF;margin:0px;padding:10px 0}
.fwinmask .m_c  .form-group .help-block{margin:5px 0}
.fwinmask .m_c h3{border-bottom:1px solid #e7e7e7;font-size:16px;margin:0;font-weight:bold}
.fwinmask .m_c h3{*zoom:1}
.fwinmask .m_c h3:before,.fwinmask .m_c h3:after{display:table;line-height:0;content:""}
.fwinmask .m_c h3:after{clear:both}
.fwinmask .m_c h3 .close{margin-right:10px\0;*zoom:1}
.fwinmask .m_c h3 em{font-style:normal;float:left;padding:10px}
.fwinmask .m_c .o{background:none;border-top:none;padding:5px;text-align:right;border-top:1px solid #FFF}
.fwinmask .m_c .c{border-bottom:1px solid #e7e7e7;border-top:1px solid #FFFFFF;padding:10px;margin:0 !important;min-width:350px}
.fwinmask .m_c .last{border-bottom:none;border-top:1px solid #FFFFFF;margin:0px;padding:10px 0}
.fwinmask .ROUND{background:url(images/showwindow_y.png) 999px 999px;position:absolute;overflow:hidden;z-index:-1;font-size:1px}