<!--{template common/header_simple_start}-->
<link href="static/css/common.css?{VERHASH}" rel="stylesheet" media="all">
<link href="admin/images/app.css?{VERHASH}" rel="stylesheet" media="all">
<script type="text/javascript" src="static/js/jquery.leftDrager.js?{VERHASH}"></script>
<script src="admin/scripts/admin.js?{VERHASH}"></script>
<style>
	html,
	body {
		overflow: hidden;
		background: #FBFBFB;
	}
	
	.bs.main-container {
		margin-left: 0;
	}
</style>
<!--{template common/header_simple_end}-->
<nav class="navbar navbar-default bs-navbar-default navbar-fixed-top" role="navigation" style="margin:0">
	<!--{template top}-->
</nav>
<div class="bs-container clearfix" style="border-top:1px solid #FFF">
	<div class="bs-main-container">
		<div class="main-header2">
			<ul class="nav nav-pills clearfix">
				<li>
					<a href="{BASESCRIPT}?mod=app&op=list&do=available">{lang already_close}</a>
				</li>
				<li>
					<a href="{BASESCRIPT}?mod=app&op=list&do=notinstall">{lang uninstalled}</a>
				</li>
				<li>
					<a href="{BASESCRIPT}?mod=app&op=list&do=updatelist">{lang renewable}</a>
				</li>
				<li class="active pull-right">
					<a href="{BASESCRIPT}?mod=app&op=cp&op=import">{lang import_type_app}</a>
				</li>
				<li class="pull-right">
					<a href="{BASESCRIPT}?mod=app&op=edit&do=add">{lang add_app}</a>
				</li>
			</ul>
		</div>
		<div class="main-content clearfix" style="padding:25px;border-top:1px solid #FFF">
			<form id="importform" name="importform" class="form-horizontal form-horizontal-left" action="{BASESCRIPT}?mod=app&op=cp&do=import" method="post" enctype="multipart/form-data">
				<input type="hidden" name="importsubmit" value="true" />
				<input type="hidden" name="formhash" value="{FORMHASH}" />
				<dl>
					<dt>{lang choose_import_way}</dt>
					<dd class="clearfix">
						<label class="radio radio-inline"><input type="radio" name="importtype" value="file" checked="checked" onclick="$('importfile').style.display='';$('importtxt').style.display='none';" />{lang uploading_files}</label>
						<label class="radio radio-inline"><input type="radio" name="importtype" value="txt"  onclick="$('importfile').style.display='none';$('importtxt').style.display='';" />{lang import_paste_text}</label>
					</dd>
				</dl>
				<dl id="importfile">
					<dt>{lang import_upload}</dt>
					<dd class="clearfix"><input type="file" class="form-control" name="importfile" style="padding:5px;" /></dd>
				</dl>
				<dl id="importtxt" style="display:none">
					<dt>{lang import_paste_data}：</dt>
					<dd class="clearfix"><textarea type="textarea" class="form-control" style="width:80%;" name="importtxt" rows="5"></textarea></dd>
				</dl>
				<input type="submit" class="btn btn-primary" value="{lang submit}" style="padding:6px 25px" />
			</form>

		</div>
	</div>
</div>
<script type="text/javascript">
	jQuery('.left-drager').leftDrager_layout();
</script>
<script src="static/bootstrap/js/bootstrap.min.js?{VERHASH}"></script>
<!--{template common/footer_simple}-->