<!--{template common/header_simple_start}-->
<link href="static/css/common.css?{VERHASH}" rel="stylesheet" media="all">
<link href="admin/images/app.css?{VERHASH}" rel="stylesheet" media="all">
<script type="text/javascript" src="static/js/jquery.leftDrager.js?{VERHASH}"></script>
<script src="admin/scripts/admin.js?{VERHASH}"></script>
<style>
	html,
	body {
		overflow: hidden;
		background: #FBFBFB;
	}
</style>
<!--{template common/header_simple_end}-->
<nav class="navbar navbar-default bs-navbar-default navbar-fixed-top" role="navigation" style="margin:0">
	<!--{template top}-->
</nav>
<div class="bs-container clearfix" style="border-top:1px solid #FFF">
	<div class="bs-main-container">
		<div class="main-header" style="padding:0 10px;">
			<ul class="nav nav-pills nav-pills-bottomguide clearfix">
				<li <!--{if empty($ext) && empty($appid)}-->class="active"<!--{/if}-->>
					<a href="{ADMINSCRIPT}?mod=app&op=extopen">{lang all}</a>
				</li>
				<!--{if $ext}-->
				<li class="active">
					<a href="{ADMINSCRIPT}?mod=app&op=extopen&ext=$ext">$ext</a>
				</li>
				<!--{elseif $appid }-->
				<li class="active">
					<a href="{ADMINSCRIPT}?mod=app&op=extopen&appid=$appid">{eval echo $appdatas[$appid]['appname'];}</a>
				</li>
				<!--{/if}-->
				<li class="pull-right">
					<form name="search" action="{BASESCRIPT}" method="get">
						<input type="hidden" name="mod" value="app" />
						<input type="hidden" name="op" value="extopen" />

						<div class="input-group group-sm" style="width:180px;padding-top:2px">
							<input name="ext" type="text" value="$ext" class="form-control " placeholder="{lang extension}">
							<a href="javascript:;" class="input-group-addon" onclick="this.parentNode.parentNode.submit()"><i class="glyphicon glyphicon-search"></i></a>
						</div>
					</form>
				</li>
			</ul>
		</div>
		<div class="main-content clearfix" style="border-top:1px solid #FFF">
			<form id="appform" name="appform" class="form-horizontal form-horizontal-left" action="{BASESCRIPT}?mod=app&op=extopen" method="post">
				<input type="hidden" name="appsubmit" value="true" />
				<input type="hidden" name="formhash" value="{FORMHASH}" />
				<table class="table table-hover">
					<thead>
						<tr>
							<th width="60" style="text-align:center">{lang default}</th>
							<th>
								<a href="{ADMINSCRIPT}?mod=app&op=extopen&ext=$ext&appid=$appid">{lang sort}</a>
							</th>
							<th>
								<a href="{ADMINSCRIPT}?mod=app&op=extopen&s=ext">{lang extension}</a>
							</th>
							<th>
								<a href="{ADMINSCRIPT}?mod=app&op=extopen&s=appid">{lang application_name}</a>
							</th>

						</tr>
					</thead>

					<!--{loop $list $value}-->
					<tr>
						<td width="60" style="text-align:center"><input type="checkbox" data-ext="$value[ext]" value="1" name="isdefault[{$value[extid]}]" <!--{if $value[isdefault]}--> checked="checked"<!--{/if}-->onclick="check_default(this)" /></td>
						<td width="60"><input type="text" name="disp[{$value[extid]}]" class="form-control input-sm" value="$value[disp]" style="width:40px;" /></td>
						<td>
							<a href="{ADMINSCRIPT}?mod=app&op=extopen&ext=$value[ext]">$value[ext]</a>
						</td>
						<td>
							<a href="{ADMINSCRIPT}?mod=app&op=extopen&appid=$value[appid]"><img src="$value[appico]" />$value[appname]</a>
						</td>

					</tr>
					<!--{/loop}-->
					<thead>
						<td style="text-align:center"><input type="checkbox" title="{lang select_all}" name="chkall" id="chkall" onclick="checkAll('prefix', this.form, 'isdefault')"></td>
						<td colspan="20">
							<input type="submit" class="btn btn-primary" value="{lang submit}" />$multi</td>
					</thead>
				</table>
			</form>
			<div class="tip" style="margin:20px;color:#444;text-shadow:1px 1px 1px #FFF;line-height:1.8">
				<div class="alert alert-warning">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<h5>
						<b>{lang board_message}</b>
					</h5>
					<ul>
						{lang extopen_board_message_text}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	jQuery('.left-drager').leftDrager_layout();

	function check_default(obj) {
		if(jQuery(obj).prop('checked')) {
			jQuery('input[data-ext=' + jQuery(obj).data('ext') + ']').not(obj).prop('checked', false);
		}
	}
</script>
<script src="static/bootstrap/js/bootstrap.min.js?{VERHASH}"></script>
<!--{template common/footer_simple}-->