<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<base href="{$_G['siteurl']}" />
<title>{lang password_share}</title>
<link href="static/jquery_weui/css/weui.min.css" rel="stylesheet">
<link href="static/jquery_weui/css/jquery-weui.min.css" rel="stylesheet">
<link href="static/dzzicon/icon.css" rel="stylesheet">
<link href="{MOD_PATH}/images/mobile/password.css" rel="stylesheet">
<script type="text/javascript">var DZZSCRIPT='{DZZSCRIPT}',LANG='{$_G[language]}', STATICURL = 'static/', IMGDIR = '{$_G[setting][imgdir]}', VERHASH = '{VERHASH}', charset = '{CHARSET}', dzz_uid = '$_G[uid]', cookiepre = '{$_G[config][cookie][cookiepre]}', cookiedomain = '{$_G[config][cookie][cookiedomain]}', cookiepath = '{$_G[config][cookie][cookiepath]}',attackevasive = '{$_G[config][security][attackevasive]}', disallowfloat = '{$_G[setting][disallowfloat]}',  REPORTURL = '$_G[currenturl_encode]', SITEURL = '$_G[siteurl]', JSPATH = '$_G[setting][jspath]',MOD_PATH='{MOD_PATH}',APP_URL='{MOD_URL}',MOD_URL='{MOD_URL}';</script>   
</head>
	<body>
<section class="weui-cells__recent">
<div class="weui-cell weui-cell_access weui-cell-member">
    <div class="weui-cell__hd">{eval echo avatar_block($share['uid']);}</div>
    <div class="weui-cell__bd">
        <h4>{$share[username]}{lang password_share_to}</h4>
    </div>
</div>
<form method="post" action="{$_G[siteurl]}index.php?mod=shares&sid=$osid" onsubmit="return success();">
	<input type="hidden" name="formhash" value="{FORMHASH}" />
	<div class="weui-cell weui-cells">
		<div class="weui-cell__hd"><label class="weui-label">提取密码</label></div>
		<div class="weui-cell__bd">
		  <input class="weui-input" type="password" name="password"  placeholder="请输入密码">
		</div>
	</div>
	<div class="weui-submit">
		<button type="submit" class="weui-btn weui-btn_primary_color" name="passwordsubmit" value="true">提取文件</button>
	</div>
</form>
</section>
</body>
<script type="text/javascript" src="static/jquery/jquery.min.js"></script>
<script type="text/javascript" src="static/jquery_weui/js/jquery-weui.min.js"></script>
<script type="text/javascript">
	function success(){
		var passwords ='{$rightpassword}';
		var val=$('.weui-input').val();
		console.log(passwords);
		if(passwords==val){			
			return true;
		}else{
			console.log(passwords);
			$.alert("密码不正确，请重新填写");
			return false;
		}
	}
</script>
</html>
