<!--{eval output();}-->
<!--{eval updatesession();}-->
<!--{if debuginfo()}-->
<script type="text/javascript">
try{
	if(console && console.log){
		console.log('Processed in $_G['debuginfo']['time'] second(s), $_G['debuginfo']['queries'] queries <!--{if $_G['gzipcompress']}-->, Gzip On<!--{/if}--><!--{if C::memory()->type}-->, <!--{echo ucwords(C::memory()->type)}--> On<!--{/if}-->.');
	}
}catch(e){}
</script>
<!--{/if}-->
<!--{if !$_G['setting']['bbclosed']}-->
<!--{if !isset($_G['cookie']['sendmail'])}-->
<script type="text/javascript" src="misc.php?mod=sendmail&rand=$_G[timestamp]"></script>
<!--{/if}-->
<script type="text/javascript" src="misc.php?mod=sendwx&rand=$_G[timestamp]"></script>
<!--{/if}-->
<!--{if $_G['setting']['upgradetis'] !== '3' && $_G['uid'] && $_G['adminid'] == 1}-->
<!--{if $_G['setting']['upgradetis'] !== '1' && !isset($_G['cookie']['checkupgrade'])}-->
<script type="text/javascript">jQuery.getScript('misc.php?mod=upgrade&action=checkupgrade&rand=$_G['timestamp']');</script>
<!--{/if}-->
<!--{if $_G['setting']['upgradetis'] !== '2' && !isset($_G['cookie']['checkappupgrade'])}-->
<script type="text/javascript">jQuery.getScript('misc.php?mod=upgrade&action=checkappupgrade&rand=$_G['timestamp']');</script>
<!--{/if}-->
<!--{if $_G['setting']['upgradetis'] !== '3' && !isset($_G['cookie']['upgradenotice'])}-->
<script type="text/javascript">
  jQuery(document).ready(function(){
    try{jQuery('#systemNotice').load('misc.php?mod=upgrade&action=upgradenotice');}catch(e){};	
  });
</script>
<div id="systemNotice" class="position-absolute p-1 bottom-0 end-0" role="alert" aria-live="assertive" aria-atomic="true" style="z-index: 999;"></div>
<!--{/if}-->
<!--{/if}-->
<!--{if $_G['setting']['statcode']}-->
	$_G['setting']['statcode']
<!--{/if}-->
<script type="text/javascript" src="static/lyear/js/popper.min.js?{VERHASH}"></script>
<script type="text/javascript" src="static/lyear/js/bootstrap.min.js?{VERHASH}"></script>
<script type="text/javascript" src="static/lyear/js/main.min.js?{VERHASH}"></script>
<script type="text/javascript" src="static/lyear/js/perfect-scrollbar.min.js?{VERHASH}"></script>
<script type="text/javascript">
$(document).ready(function(e) {_header.init('{FORMHASH}');});
</script>
<!--{hook footer_tpl}-->
</body>
</html>