</head>
<body id="nv_{$_G['basescript']}" class="$bodyClass" style="$bodystyle" data-theme="$_G['cookie']['the_site_theme']">
<div id="append_parent" style="z-index:99999;"></div>
<div id="ajaxwaitid" style="z-index:99999;"></div>
<header class="bs-top-container" style="display: flex;padding-left: 0;">
  <!--{template lyear:lyear_header_left}-->
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarText" style="">
        <!--{template lyear:lyear_header_search}-->
        <ul class="navbar-right d-flex align-items-center">
          <!--{template lyear:lyear_header_right}-->
          <!--切换主题配色-->
          <li>
            <a class="nav-link theme-toggle-btn mdi <!--{if $_G['cookie']['the_site_theme'] =='dark'}-->mdi-power-sleep<!--{else}-->mdi-white-balance-sunny<!--{/if}--> fs-4" href="javascript:;" title="切换主题">
            </a>
          </li>
          <!--{if !$_G['setting']['bbclosed'] || !$_G['adminid'] ==0}-->
          <li>
          <a href="javascript:;" id="desktop_app" data-href="index.php?mod=system&template=1&op=app_ajax&operation=app" class="app_popup_icon nav-link js-popbox" role="button" data-placement="bottom" data-trigger="focus" data-auto-adapt="true" data-toggle="popover"><span class="mdi mdi-apps fs-4"></span></a>
          </li>
          <li>
            <a href="javascript:;" id="dzz_notification" data-href="index.php?mod=system&template=1&op=notification&filter=new" class="animations-box position-relative nav-link navbar-notice js-popbox" role="button" data-placement="bottom" data-trigger="focus" data-auto-adapt="true" data-toggle="popover">
            <span class="mdi mdi-bell-outline fs-4"></span>
            <span class="position-absolute translate-middle badge bg-danger rounded-pill d-none">&nbsp;</span>
            </a>
          </li>
          <!--{/if}-->
          <li>
            <a href="javascript:;" class="nav-link js-popbox" data-href="user.php?mod=space&template=1&op=navmenu&modname={MOD_NAME}" role="button" data-placement="bottom" data-trigger="focus" data-auto-adapt="true" data-toggle="popover">
              <!--{if $_G['uid']}-->
              {eval echo avatar_block($_G['uid']);}
              <!--{else}-->
              <span class="Topcarousel img-avatar" style="background:#007bff;background:var(--bs-primary)" title="{lang login}">{lang login}</span>
              <!--{/if}-->
            </a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
</header>
<script type="text/javascript">
jQuery(document).ready(function(e) {
_header.init('{FORMHASH}');//初始化头部效果
_notice.getNotificationCount();
});
_notice={};
_notice.flashStep=1;
_notice.checkurl='index.php?mod=system&op=notification&filter=checknew';
_notice.normalTitle= document.title;
_notice.getNotificationCount=function(){
jQuery.getJSON(_notice.checkurl,function(json){
var sum=parseInt(json.sum);
_notice.showTips(sum);
if(json.timeout>0) window.setTimeout(_notice.getNotificationCount,json.timeout);
});
}
_notice.showTips=function(sum){
if(sum>0){
jQuery('#dzz_notification>span.badge').html(sum).removeClass('d-none');
jQuery('#dzz_notification>span.dzz').hide();
//_notice.flashTitle();
}else{
jQuery('#dzz_notification>span.badge').addClass('d-none');
jQuery('#dzz_notification>span.dzz').show();
//_notice.flashTitle(1);
}
}
_notice.flashTitle=function(flag){
//仅窗口不在焦点时闪烁title，回到焦点时停止闪烁并将title恢复正常
if(flag ||　CurrentActive){//当前处于焦点
document.title=_notice.normalTitle;
_notice.flashTitleRun = false;
return;//退出循环
}
_notice.flashTitleRun = true;
_notice.flashStep++;
if (_notice.flashStep==3) {_notice.flashStep=1;}
if (_notice.flashStep==1) {document.title="【您有新的通知】";}
if (_notice.flashStep==2) {document.title="【$_G['setting']['sitename']】";}
setTimeout(function(){_notice.flashTitle();},500);  //循环
}
</script>