<!--{if empty($_GET['inajax'])}-->
<!--{template common/header_simple_start}-->
<link href="static/css/common.css?{VERHASH}" rel="stylesheet" media="all">
<style>
body{background:rgb(58, 110, 165);}
<!--{if defined('IN_MOBILE')}-->
body{background:#FFF}
<!--{/if}-->
</style>
<!--{template common/header_simple_end}-->
<!--{if !defined('IN_MOBILE')}-->
<div class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:block;" >
	<div class="modal-dialog" style="font-size:14px;">
        <div class="modal-content" >
<!--{/if}-->
<!--{/if}-->
<!--{eval $loginhash = 'L'.random(4);}-->
<!--[if lt IE 9]> 
  <script src="static/js/jquery.placeholder.js" type="text/javascript"></script>
<![endif]-->
      <div id="lostpw_container_$loginhash">
      	<div class="modal-header text-center">
             <!--{if !empty($_GET['inajax'])}--><button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><!--{/if}-->
            <h4  class="modal-title"><span id="returnmessage3_$loginhash">{lang getpassword}</span></h4>
         </div>
         <div class="modal-body" style="line-height:30px;">
           <form method="post" autocomplete="off" id="lostpwform_$loginhash" class="form-horizontal " role="form"  onsubmit="ajaxpost('lostpwform_$loginhash', 'returnmessage3_$loginhash', 'returnmessage3_$loginhash');return false;" action="user.php?mod=lostpasswd">
              <input type="hidden" name="formhash" value="{FORMHASH}" />
               <input type="hidden" name="lostpwsubmit" value="true" />
               <input type="hidden" name="handlekey" value="lostpw_$loginhash" />
              <div class="form-group" >
                <label class="control-label col-sm-3" for="lostpw_email">{lang login_email}</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="email" id="lostpw_email"  value=""  placeholder="{lang fill_your_login_email}" />
                </div>
              </div>
              <div class="form-group" >
                <label class="control-label col-sm-3" for="lostpw_username">{lang real_name}</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control "  name="username" id="lostpw_username"  value=""  placeholder="{lang names_fill_registration}"  />
                </div>
              </div>
              <div class="form-group last" >
                <div class="col-sm-3"></div>
                <div class="col-sm-8">
                  <button class="btn btn-danger btn-width"  type="submit"  name="lostpwsubmit" value="true" ><strong>{lang sure_find}</strong></button>
                  &nbsp;&nbsp;&nbsp;<a class="btn btn-default btn-width " href="user.php?mod=logging"  onclick="try{_login.logging();return false}catch(e){return true}" title="{lang back_login}">{lang back_login}</a>
                </div>
              </div>
            </form>
      	 </div>
        <div class="modal-footer" style="display:none;">
        	<button type="button" class="btn btn-primary toMail" >{lang now_your_email}</button>
            <button type="button" class="btn btn-default toIndex" onclick="location.href='$_G[siteurl]'">{lang back_homepage}</button>
        </div>
      </div>
 <script type="text/javascript">
 	jQuery('#lostpw_email').focus();
	function succeedhandle_lostpw_{$loginhash}(url, message, values) {
			var el=jQuery('#lostpw_container_$loginhash');
			var mail='http://mail.'+values['email'].split('@')[1];
			
			el.find('.modal-title').html('{lang password_back_email_sent_successfully}');
			el.find('.modal-body').html(message);
			el.find('.modal-footer .toMail').on('click',function(){
				window.location.href=mail;
			})
			el.find('.modal-footer').show();
	};
	jQuery(document).ready(function(e) {
        if(jQuery('.ie8').length){ //ie8模拟placeholder;
			jQuery(':input[placeholder]').each(function(){
				jQuery(this).placeholder();
			});
		}
    });
 </script>
 <!--{if empty($_GET['inajax'])}-->
 <!--{if !defined('IN_MOBILE')}-->
 </div>
 </div>
</div>
<!--{/if}-->
<script type="text/javascript">
	jQuery('body').addClass('modal-open');
</script>
<script src="static/bootstrap/js/bootstrap.min.js?{VERHASH}"></script>
<!--{template common/footer}-->

<!--{/if}-->