<!--{template common/header_simple_start}-->
<link href="static/css/common.css?{VERHASH}" rel="stylesheet" media="all">
<script src="user/scripts/register.js?{VERHASH}"></script>
<style>
	body {
		background: rgb(58, 110, 165);
	}
	
	.col-sm-4 .help-block {
		margin-bottom: 0;
	}
	
	.middle-box {
		padding: 15px;
		margin: 10px;
		width: auto;
		border: 1px solid #ddd;
		background-color: RGBA(255, 255, 255, 0.9);
		box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
		border-radius: 5px;
	}
	
	@media (min-width: 360px) {
		.middle-box {
			width: 350px;
			margin: 30px auto 10px auto;
		}
	}
	
	@media (min-width: 768px) {
		.middle-box {
			width: 350px;
			margin: 50px auto 20px auto;
		}
	}
	
	.middle-box h3 {
		text-shadow: 1px 1px 1px #FFF;
	}
	
	.bindContainer {
		margin: 20px auto 0 auto;
	}
	
	.bindContainer .tip {
		text-shadow: 1px 1px 1px #FFF;
		padding: 10px;
	}
</style>
<!--{template common/header_simple_end}-->
<div id="wrapper_div" style="width: 100%;height:100%;  position: absolute; top: 0px; left: 0px; margin: 0px; padding: 0px; overflow: hidden;z-index:-1;  font-size: 0px; background:$_G['setting']['loginset']['bcolor'];">
	<!--{if $_G['setting']['loginset']['img']}-->
	<img src="$_G['setting']['loginset']['img']" name="imgbg" id="imgbg" style="right: 0px; bottom: 0px; top: 0px; left: 0px; z-index: 10;margin:0;padding:0;overflow:hidden; position: absolute;width:100%;height:100%" height="100%" width="100%">
		
	<!--{/if}-->
	<!--{if $_G['setting']['loginset']['url']}-->
	<iframe id="wrapper_frame" name="wrapper_frame" src="$_G['setting']['loginset']['url']" frameborder="0" marginheight="0" marginwidth="0" width="100%" height="100%" allowtransparency="true" style="z-index:20;position:absolute;width:100%;height:100%;background:url(dzz/images/b.gif);"></iframe>
	<!--{/if}-->
</div>
<div class="middle-box ">
	<div class="bindTitle text-center">
		<div><img style="width:100px;height:100px" src="$uinfo[figureurl_qq_2]"></div>
		<h3>$uinfo['nickname']</h3>
	</div>
	<div class="bindContainer clearfix">
		<div class="alert alert-info" role="alert" style="padding:10px"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {lang please_bound_then_account}</div>
		<form class="m-t" name="f" method="post" action="user.php?mod=qqlogin&type=olduser">
			<div class="form-group  form-group-lg">
				<input type="text" class="form-control" name="userinfo[email]" id="user" placeholder="{lang login_email_username}" required="required" />
			</div>
			<div class="form-group form-group-lg">
				<input type="password" name="userinfo[pw]" id="password" class="form-control" placeholder="{lang login_password}" required="required" />
			</div>
			<div class="form-group  form-group-lg">
				<input type="submit" value="{lang login_bound}" class="btn btn-success btn-block" style="line-height:30px;">
			</div>
			<div class="form-group form-group-lg clearfix row" style="margin-top:10px;margin-bottom:0">
				<!--{if $_G['setting']['qq_bind']}-->
				<div class="col-xs-12">
					<a href="user.php?mod=register&agree=1" class="btn btn-info btn-block">{lang register_binding}</a>
				</div>
				<!--{else}-->
				<div class="col-xs-6">
					<a href="user.php?mod=register&agree=1" class="btn btn-info btn-block">{lang register_binding}</a>
				</div>
				<div class="col-xs-6">
					<a href="user.php?mod=qqlogin&type=newuser" class="btn btn-default btn-block">{lang landing_directly}</a>
				</div>
				<!--{/if}-->
			</div>
		</form>
	</div>
</div>
<script src="static/bootstrap/js/bootstrap.min.js?{VERHASH}"></script>

<!--{template common/footer}-->