html,body{background-color:#fff}
.hide{display:none}
.da-avatar .img-avatar{width:64px;height:64px;line-height:64px;font-size:32px}
ul,ul li,li{list-style:none;padding:0;margin:0}
.middleconMenu{height:100%;overflow:hidden;margin-bottom:0}
.middletopMenu .row{margin:0}
.nodropdown .dropdown-toggle::after{content:none}
.wangpan-upload{position:relative;display:inline-block}
.wangpan-upload-file{position:absolute;z-index:999;background-color:#fff;border:1px solid #ccc;border-radius:4px;font-size:12px;padding:10px 3px;left:0;right:0;text-align:center;width:110px}
.wangpan-upload-file li{height:25px;line-height:25px;cursor:pointer;position:relative}
#wangpan-upload-file,#wangpan-upload-folder{position:absolute;top:0;left:0;width:100%;height:100%;cursor:pointer;opacity:0}
.wangpan-upload-file li:hover{background-color:#f6faff}
.wangpan-upload:hover .wangpan-upload-file{display:block}
.show_uploading_status{display:block}
.hide_uploading_status{display:none}
.setting-img{height:150px}
.setting-img img{width:100%;height:100%}
.upload-click{position:absolute;top:0;bottom:0;width:100%;color:#fff;line-height:150px;text-align:center;font-size:18px;letter-spacing:2px}
#exampleInputFile{position:absolute;top:0;left:0;right:0;bottom:0;width:100%;opacity:0}
.middlecenter .middlecenter-header{padding-top:1rem;padding-left:1rem;padding-right:1rem}
#middleconMenu{position:relative;height:100%;overflow:hidden}
#middleconMenu .middlecenter{margin-right:0;-webkit-transition:margin 300ms cubic-bezier(0.4,0.0,0.2,1);transition:margin 300ms cubic-bezier(0.4,0.0,0.2,1);will-change:margin;position:relative}
.scroll-100{height:100%;overflow:auto;position:relative}
@-webkit-keyframes fadeMenu{0%{opacity:0;height:0}
to{opacity:1}
}@keyframes fadeMenu{0%{opacity:0;height:0}
to{opacity:1}
}.dropdown-menu .file-text{padding-left:8px;padding-right:16px}
.file-text{left:45px;height:36px;width:112px;text-overflow:ellipsis;white-space:nowrap}
.header-toggle{flex:1 0 auto;padding-left:2.42rem}
.navtopheader{position:fixed;top:0;left:0;width:100%;height:64px;z-index:1009;display:none}
.navtoperate{background-color:#FFFFFF;box-shadow:0px 0px 15px 0px rgba(0,0,0,0.15)}
.select-toperate{display:-webkit-flex;display:flex;flex-wrap:wrap}
.select-toperate-left{-webkit-flex:1 0 auto;flex:1 0 auto;-webkit-box-pack:start;-webkit-justify-content:flex-start;justify-content:flex-start}
.select-toperate-center{-webkit-flex:1 0 auto;flex:1 0 auto;vertical-align:middle;-webkit-box-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:end;-webkit-justify-content:flex-end;justify-content:flex-end}
.emptyPage{text-align:center;position:absolute;top:45%;left:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%)}
.emptyPage .emptyPage-text{font-size:16px;color:#AAAAAA;cursor:default}
.header-toggle .sizeMenu li a{color:#FFFFFF}
.sizeMenu{float:right!important}
.sizeMenu li{float:left}
.sizeMenu li a{float:left;padding:0 6px;line-height:34px;cursor:pointer}
.sizeMenu li.background-toggle{background-color:rgba(0,0,0,0.2);border-radius:50%;width:34px;height:34px}
.sizeMenu li a i{font-size:22px;vertical-align:-4px}
.sizeMenu li.listchange{display:none}
.select-toperate-right{-webkit-flex:0 auto;flex:0 auto;-webkit-justify-content:flex-end;justify-content:flex-end;vertical-align:middle;-webkit-box-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:end}
.select-toperate-right .sizeMenu{padding-right:5px}
.select-toperate-right .sizeMenu li .icons-thumbnail{padding:0 8px 0px 14px}
.btn-cricular{border-radius:500px;color:#FFFFFF;background:none}
.btn-cricular:hover,.btn-cricular:focus{color:#FFFFFF;background-color:rgba(0,0,0,0.2);box-shadow:none}
.hoverTools{display:none;top:18%;right:5px;float:right;position:absolute}
.hover .hoverTools{display:block}
.renaming .hoverTools{display:none}
.hoverTools .btn,.member_hoverTools .btn{font-size:18px;padding:0;background:none;border:0;box-shadow:none}
.shareMenu .btn:focus{border:none;outline:none;outline-offset:0}
.icosContainer{height:100%;padding-left:1rem;padding-right:1rem}
.CONTENT.filemanage{font-size:13px;overflow:hidden;background:#FBFBFB}
.filemanage .icosContainer{overflow-y:auto;overflow-x:hidden;width:100%;border-top:1px solid #FFF}
.filemanage .icosContainer_inner{min-height:100%}
.filemanage-bottom span{padding:0 10px}
.filemanage .detail_header_asc{display:inline-block;margin-left:3px}
.filemanage .detail_header{cursor:pointer}
.filemanage .detail_header:hover{background:#F7F7F7}
[data-theme='dark'] .filemanage .detail_header:hover{background:rgba(255,255,255,0.075)}
.filemanage .detail_item_name_icon{margin-right:0px}
*html .filemanage .detail_item_name_icon{width:expression(this.width > 28 && this.width>=this.height ? 28:true);height:expression(this.height > 28 && this.width<=this.height ? 28:true)}
.filemanage .detail_tr{cursor:pointer}
.filemanage .detail_tr.Icoselected td{box-shadow:none;color:#FFFFFF}
.filemanage .detail_tr.Icoselected td .text-muted,.filemanage .detail_tr.Icoselected .selectbox{color:#FFFFFF !important}
.filemanage .detail_tr.Icoselected td .detail_item_td_position_span{color:#FFFFFF !important}
.filemanage .detail_tr.Icoselected td .hoverTools .btn{color:#FFFFFF}
.filemanage .detail_tr.Icoselected td .hoverTools .btn:hover{color:#000000}
.filemanage .detail_tr a:hover{text-decoration:none}
.filemanage .detail_tr.hover{transition:all 0.2s ease-in 0s}
.filemanage .detail_tr.Icoselected{background:#3779ff;transition:all 0.2s ease-in 0s}
.filemanage .detail_item_name{margin:0 10px;line-height:30px;font-size:12px;height:30px;text-shadow:1px 1px 1px #FFF;font-weight:700;overflow:hidden;word-wrap:nowrap}
.filemanage .detail_item_name span{cursor:pointer}
.filemanage .detail_item_hover{overflow:hidden;word-wrap:nowrap;position:relative;line-height:50px}
.filemanage .detail_header_asc_1 span,.filemanage .detail_header_asc_0 span{display:none}
.filemanage .detail_header_asc_1 .mdi-chevron-up{display:inline-block;color:#3779ff}
.filemanage .detail_header_asc_0 .mdi-chevron-down{display:inline-block;color:#3779ff}
.filemanage .detail_text{text-shadow:none;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;line-height:inherit;display:inline-block;float:left;word-break:break-all}
.filemanage .detail_header_td_div{overflow:hidden;position:relative;white-space:nowrap;text-overflow:ellipsis}
.filemanage td,.filemanage th{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;height:32px;line-height:32px}
.selectall-box{padding-left:5px;width:auto;display:inline-block;line-height:64px}
.selectall-box .mdi-close{cursor:pointer;display:inline-block}
.selectall-box a{position:absolute;z-index:10}
.selectall-box .select-info{display:inline-block}
.yunfile-upload{position:relative}
.yunfile-btnMenu .btn{padding:0px;font-size:14px;background:none;border:0;box-shadow:none}
.yunfile-btnMenu{display:inline-block}
.yunfile-btnMenu .btn i{font-size:22px;vertical-align:top;padding:5px 9px;display:inline-block}
.new-buildMenu{float:right;display:none}
.new-buildMenu .newMenu{display:inline-block;margin-right:5px}
.new-buildMenu .dropdown-menu li:hover .filee-folder,.new-buildMenu .dropdown-menu li:hover .filee-upload,.new-buildMenu .dropdown-menu li:hover .filee-file,.new-buildMenu .dropdown-menu li:hover .filee-language{color:#4E5563}
.filee-icon{width:24px;height:24px;font-size:16px}
.filee-icon.filee-file-ppt{color:#ff9800}
.filee-icon.filee-file-excel{color:#66bb6a}
.filee-icon.filee-file-text{color:#2196F3}
.filee-icon.filee-file-pdf{color:#FF0000}
.dropdown-menu>li>a{position:relative}
.icoblank_righttop{display:none;position:absolute;right:3px;top:0px;color:#b9b9b9}
.icoblank_righttop::before{content:"\F0131"}
.middleicon{-webkit-user-select:none !important;-moz-user-select:none !important;user-select:none !important;padding-bottom: 20px;}
.middleicon .card{padding:5px;margin-bottom:0}
.middleicon .tr_item{position:relative;margin:0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.detaillist{padding-bottom:20px;}
.Icoblock.middleicon{position:relative;float:left;width:150px;height:155px;margin:5px;text-align:center}
.Icoblock.middleicon .Icoblock_icon{max-width:95%;max-height:95%;overflow:hidden}
.Icoblock.middleicon .icoimgContainer{position:relative;width:135px;height:120px;line-height:120px}
[data-theme='dark'] .Icoblock.middleicon .text-muted{color:#fff !important;color:rgba(255,255,255,.85) !important}
.bs-left-container-close .da-avatar{display:none}
.bs-left-container-close .bs-left-container:hover .da-avatar{display:block}
.file-item-block{display:none;width:100%}
@media ((max-width:1024px)){.bs-left-container-close .bs-left-container .da-avatar{display:block}
.file-item-hide{display:none}
.file-item-block{display:block}
.filemanage td,.filemanage th{height:auto;line-height:1.72}
}.file-item{border-radius:0;overflow:hidden;box-shadow:none;transition:all 0.3s ease;border:2px solid transparent;cursor:pointer;border:1px solid #EEEEEE}
[data-theme='dark'] .file-item{border:1px solid rgba(255,255,255,0.25)}
.file-item:hover{background-color:#f2f2f2}
[data-theme='dark'] .file-item:hover{background-color:rgba(0,0,0,.1)}
.hover .icoblank_righttop{display:block}
.Icoselected .icoblank_righttop::before,.Icoselected .mdi-checkbox-blank-outline::before{content:"\F0132"}
.Icoselected .icoblank_righttop,.file-item:hover .icoblank_righttop{display:block}
.Icoselected .file-item,[data-theme='dark'] .Icoselected .file-item{border:1px solid #007bff;border:1px solid var(--bs-primary);background-color:#e3f2fd;border-color:var(--bs-primary);background-color:rgba(var(--bs-primary-rgb),0.1);outline:1px solid #007bff}
.Icoselected .icoblank_righttop{color:#2196F3;color:var(--bs-primary)}
.editable-name{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;outline:none}
.editable-name .form-control{padding:0}
.thumbnail img,.thumbnail svg{width:32px;height:auto;vertical-align:middle}
.glow{filter:glow(color=#007bff,strengh=2);-moz-box-shadow:0px 0px 2px #007bff;-webkit-box-shadow:0px 0px 2px #007bff;box-shadow:0px 0px 2px #007bff;box-shadow:0px 0px 2px var(--bs-primary)}
.file-info-col{display:flex;gap:2px;align-items:center}
.file-name-wrapper{display:flex;flex-direction:column;width:100%;overflow:hidden;margin-left:5px}
.file-name-wrapper .filename{max-width:-webkit-calc(100% - 20px);max-width:-moz-calc(100% - 20px);max-width:calc(100% - 20px);display:flex}
.dialog-filelist-ul .success{color:#15c377}
.dialog-uploader-list{position:relative;overflow:hidden;overflow-y:auto;height:calc(100% - 40px)}
.dialog-uploader-list .dialog-file-icon{position:absolute;top:12px;left:13px;width:24px;height:24px}
.dialog-file-list{position:relative;line-height:49px;border-bottom:1px solid #F2F6FD}
.upload-file-name .name-text{text-indent:45px;display:block}
.upload-file-status .uploading{display:inline}
.dialog-info{overflow:hidden}
.dialog-file-list em{font-style:normal}
.dialog-file-list em.precent{padding-right:15px}
.upload-list-wrapper{height:100%;overflow:hidden}
.upload-list-wrapper .upload-list-header{display:flex;justify-content:space-around;align-content:center;align-items:center;height:40px}
.upload-list-wrapper .upload-file-name{float:left;width:45%}
.upload-list-wrapper .upload-file-size{float:left;width:13%}
.upload-list-wrapper .upload-file-path{float:left;width:13%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.upload-list-wrapper .upload-file-status{float:left;width:19%}
.upload-list-wrapper .upload-file-operate{float:left;width:10%}
.upload-list-header div{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;padding:5px;font-weight:bold}
.selectbox{color:#b9b9b9}
.layui-menu li,.layui-menu-body-title,.layui-menu-body-title a{color:#444}
.share-item .file-icon{width:48px;height:48px;border-radius:4px;display:inline-block;margin-right:8px;vertical-align:middle;padding:3px}
.share-desc{display:inline-block;vertical-align:middle}
.layui-menu li, .layui-menu-body-title, .layui-menu-body-title a{color: #444;}
.lyear-dropdown .dropdown-menu{min-width: 11rem;}