<!--{if $_GET['op']=='extopen'}-->
 <div class="input-search">
 <form name="search" action="{BASESCRIPT}" method="get">
    <input type="hidden" name="mod" value="appmarket" />
    <input type="hidden" name="op" value="extopen" />
    <i class="input-search-icon glyphicon glyphicon-search" aria-hidden="true" onclick="this.parentNode.submit()"></i>
    <input type="text" class="form-control search  form-search" name="ext" value="$_GET[ext]" placeholder="{lang extension}" id="searchval">
    <span aria-hidden="true" id="emptysearchcondition" class="header-closebutton">×</span>
 </form>
</div>
<!--{elseif empty($_GET['op'])}-->
 <div class="input-search">
 <form name="search" action="{BASESCRIPT}" method="get">
    <input type="hidden" name="mod" value="appmarket" />
    <input type="hidden" name="op" value="" />
    <input type="hidden" name="tagid" value="$_GET['tagid']" />
     <input type="hidden" name="group" value="$_GET['group']" />
    <i class="input-search-icon glyphicon glyphicon-search" aria-hidden="true" onclick="this.parentNode.submit()"></i>
    <input type="text" class="form-control search  form-search" name="keyword" value="$_GET[keyword]" placeholder="{lang application_name_suppliers}" id="searchval">
    <span aria-hidden="true" id="emptysearchcondition" class="header-closebutton">×</span>
				
 </form>
</div>
<!--{elseif $_GET['op']==upgrade}-->
 <div class="input-search">
 <form name="search" action="{BASESCRIPT}" method="get">
    <input type="hidden" name="mod" value="{MOD_NAME}" /> 
    <input type="hidden" name="op" value="upgrade" />
    <i class="input-search-icon glyphicon glyphicon-search" aria-hidden="true" onclick="this.parentNode.submit()"></i>
    <input type="text" class="form-control search  form-search" name="keyword" value="$_GET[keyword]" placeholder="{lang appname}" id="searchval">
	 <span aria-hidden="true" id="emptysearchcondition" class="header-closebutton">×</span>			
 </form>
</div>
<!--{elseif $_GET[op]=='default'}-->
 <div class="input-search">
 <form name="search" action="{BASESCRIPT}" method="get">
    <input type="hidden" name="mod" value="{MOD_NAME}" /> 
    <input type="hidden" name="op" value="$_GET[op]" />
    <input type="hidden" name="group" value="$_GET['group']" />
    <input type="hidden" name="position" value="$_GET['position']" />
    <input type="hidden" name="depid" value="$_GET['depid']" />
    <i class="input-search-icon glyphicon glyphicon-search" aria-hidden="true" onclick="this.parentNode.submit()"></i>
    <input type="text" class="form-control search  form-search" name="keyword" value="$_GET[keyword]" placeholder="{lang appname}" id="searchval">
     <span aria-hidden="true" id="emptysearchcondition" class="header-closebutton">×</span>
				
 </form>
</div>
<!--{/if}-->
<script type="text/javascript">

jQuery('#searchval').focus(function (e) {//头部搜索框变颜色
    jQuery(this).closest('.input-search').addClass('focus');
	if(this.value!='') jQuery('#emptysearchcondition').show();
});
jQuery('#searchval').blur(function (e) {//失去焦点时
	 jQuery(this).closest('.input-search').removeClass('focus');
	 if(this.value=='') jQuery('#emptysearchcondition').hide();
});
jQuery('#searchval').keyup(function (e) {//失去焦点时
	if(this.value!='') jQuery('#emptysearchcondition').show();
});
jQuery('#emptysearchcondition').on('click',function(){
	jQuery('#searchval').val('');
	jQuery('#searchval').closest('form').submit();
	jQuery('#emptysearchcondition').hide();
	return false;
});
</script>