<!--{template common/header_simple_start}-->
<!--{template common/header_simple_end}-->
<div class="container" style="padding:30px;">
  <div class="well" style="overflow:hidden;">
    <form id="confirm_uninstall_form" name="confirm_uninstall_form" class="form-horizontal-left form-horizontal" action="{MOD_URL}&op=cp&do=uninstall" method="post" >
            <input type="hidden" name="confirmsubmit" value="true" />
            <input type="hidden" name="adminurl" value="$_GET['adminurl']" />
            <input type="hidden" name="appid" value="$appid" />
            <input type="hidden" name="formhash" value="{FORMHASH}" />
            <p class="text-danger">
            	{$app_delete_confirm}
            </p>
            <p><input id="confirm" type="text" class="form-control" style="max-width:200px;" name="confirm" value="" /></p>

            <button type="button" class="btn btn1 btn-danger" onclick="if(document.getElementById('confirm').value!='DELETE'){document.getElementById('confirm').focus();}else{document.getElementById('confirm_uninstall_form').submit()}">{lang app_sure_delete}</button>
            &nbsp;&nbsp;&nbsp;<button type="button" class="btn btn1 btn-default" onclick="location.href='{$refer}';return false;">{lang app_not_delete}</button>
    </form>
   </div>
</div>
<!--{template common/footer_simple}-->