<!--{template lyear:header_simple_start}-->
<style>
  .gallery-grid .gallery-item {
    padding-bottom: 5px;
  }
  .app-card:hover {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 0 2px #007bff, 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 2px var(--bs-primary), 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .15);
  }
  .app-icon {
    width: 64px;
    height: 64px;
    margin: 0 auto 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ext-opt span:first-child {
    display: inline-block;
    width: 55%;
  }
  .accordion-body .badge {
    font-weight: 400;
  }
</style>
<!--{template lyear:header_simple_noleft_end}-->
<main class="bs-main-container" style="padding-left: 0;">
	<div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <span class="avatar-md rounded-circle avatar-box text-white bg-primary">
                <i class="mdi mdi-account-check fs-4"></i>
              </span>
              <span class="fs-4 text-truncate"><a href="javascript:;" id="online" class="dcolor">{lang click_to_view}</a></span>
            </div>
            <div class="text-end">{lang online_num}</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="card wave wave-animate-slow wave-success">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <span class="avatar-md rounded-circle avatar-box text-white bg-success">
                <i class="mdi mdi-account fs-4"></i>
              </span>
              <span class="fs-4 text-truncate"><a href="{DZZSCRIPT}?mod=orguser" class="dcolor">$yonghurenshu</a></span>
            </div>
            <div class="text-end">{lang user_total}</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <span class="avatar-md rounded-circle avatar-box text-white bg-danger">
                <i class="mdi mdi-account-lock-outline fs-4"></i>
              </span>
              <span class="fs-4 text-truncate"><a href="{DZZSCRIPT}?mod=orguser" class="dcolor">$tingyongrenshu</a></span>
            </div>
            <div class="text-end">{lang user_disable}</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <span class="avatar-md rounded-circle avatar-box text-white bg-warning">
                <i class="mdi mdi-account-arrow-up fs-4"></i>
              </span>
              <span class="fs-4 text-truncate"><a href="javascript:;" id="userstats" class="dcolor">{lang click_to_view}</a></span>
            </div>
            <div class="text-end">{lang user_growth_statistics}</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <span class="avatar-md rounded-circle avatar-box text-white bg-purple">
                <i class="mdi mdi-file-chart fs-4"></i>
              </span>
              <span class="fs-4 text-truncate"><a href="{DZZSCRIPT}?mod=filemanage" class="dcolor">$wenjiangeshu</a></span>
            </div>
            <div class="text-end">{lang file_num}</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <span class="avatar-md rounded-circle avatar-box text-white bg-yellow">
                <i class="mdi mdi-cloud-outline fs-4"></i>
              </span>
              <span class="fs-4 text-truncate"><a href="{DZZSCRIPT}?mod=filemanage" class="dcolor">$kongjianshiyong</a></span>
            </div>
            <div class="text-end">{lang space_usage}</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <span class="avatar-md rounded-circle avatar-box text-white bg-info">
                <i class="mdi mdi-alpha-c-circle-outline fs-4"></i>
              </span>
              <span class="fs-4 text-truncate"><a href="{ADMINSCRIPT}?mod=system&op=systemupgrade" class="dcolor">$version</a></span>
            </div>
            <div class="text-end">Dzz {lang version}</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="card wave wave-animate-slow wave-info">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <span class="avatar-md rounded-circle avatar-box text-white bg-cyan">
                <i class="mdi mdi-clock-time-eight-outline fs-4"></i>
              </span>
              <span class="fs-4 text-truncate"><a href="{ADMINSCRIPT}?mod=system&op=systemupgrade" class="dcolor">$RELEASE</a></span>
            </div>
            <div class="text-end">{lang version_date}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <header class="card-header d-flex justify-content-between">
        <div class="card-title">系统信息</div>
        <ul class="card-actions">
          <li><a href="#!" class="dcolor card-btn-close"><i class="mdi mdi-close"></i></a></li>
          <li><a href="#!" class="dcolor card-btn-slide"><i class="mdi mdi-chevron-up"></i></a></li>
          <li><a href="#!" class="dcolor card-btn-fullscreen"><i class="mdi mdi-fullscreen"></i></a></li>
          <li><a href="{MOD_URL}&do=systemcheck" class="dcolor card-btn-reload"><i class="mdi mdi-refresh"></i></a></li>
        </ul>
      </header>
      <div class="card-body">
        <a href="{MOD_URL}&do=systemcheck" class="btn btn-primary card-btn-reload d-grid">{lang click_to_view}</a>
      </div>
    </div>
    <div class="row">
      <!--{loop $data $value}-->
      <div class="col-md-3 col-sm-3 col-lg-2">
        <a <!--{if $value['open']}-->target="_blank"<!--{/if}--> href="$value[url]" title="$value[appname]" class="card app-card border">
          <div class="card-body text-center">
              <img src="$value[appico]" class="app-icon">
              <div class="card-title text-body text-truncate">$value[appname]</div>
          </div>
        </a>
      </div>
      <!--{/loop}-->
    </div>
  </div>
</main>
<script>
  $('#online').click(function() {
    layer.open({
        type: 2,
        title: '{lang online_user}',
        shadeClose: true,
        id:'layeronline',
        shade: false,
        maxmin: true,
        area: window.innerWidth < 768 ? ['100%','100%'] : ['70%', '70%'],
        content: '{MOD_URL}&do=online',
    });
});
$('#userstats').click(function() {
    layer.open({
        type: 2,
        title: '{lang user_growth_statistics}',
        shadeClose: true,
        id:'layeruserstats',
        shade: false,
        maxmin: true,
        area: window.innerWidth < 768 ? ['100%','100%'] : ['70%', '70%'],
        content: '{MOD_URL}&do=stats',
    });
});
</script>
<script type="text/javascript" src="static/lyear/js/layer/layer.js?{VERHASH}"></script>
<!--{template lyear:footer_simple}-->