<!--{template lyear:header_simple_start}-->
<style>
  .gallery-grid .gallery-item {
    padding-bottom: 5px;
  }
</style>
<!--{template lyear:header_simple_end}-->
<main class="bs-main-container">
	<div class="container-fluid">
    <div class="card bg-primary text-white">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <span class="fs-4">{$_G['username']}，{$greeting}</span>
        </div>
        <div>登录时间：<!--{eval echo dgmdate($userstatus['lastvisit'])}-->，当前时间：{$dateInfo}</div>
      </div>
    </div>
    <div class="row card-banner bg-white">
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="card mb-0 shadow-none">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <span class="avatar-md rounded-circle avatar-box text-white bg-primary">
                <i class="mdi mdi-account-check fs-4"></i>
              </span>
              <span class="fs-4 text-truncate"><a href="javascript:;" id="online" class="dcolor">点击查看</a></span>
            </div>
            <div class="text-end">当前在线数</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="card mb-0 shadow-none">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <span class="avatar-md rounded-circle avatar-box text-white bg-success">
                <i class="mdi mdi-account fs-4"></i>
              </span>
              <span class="fs-4 text-truncate"><a href="{DZZSCRIPT}?mod=orguser" class="dcolor">$yonghurenshu</a></span>
            </div>
            <div class="text-end">用户总数</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="card mb-0 shadow-none">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <span class="avatar-md rounded-circle avatar-box text-white bg-danger">
                <i class="mdi mdi-account-lock-outline fs-4"></i>
              </span>
              <span class="fs-4 text-truncate"><a href="{DZZSCRIPT}?mod=orguser" class="dcolor">$tingyongrenshu</a></span>
            </div>
            <div class="text-end">停用人数</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="card mb-0 shadow-none">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <span class="avatar-md rounded-circle avatar-box text-white bg-warning">
                <i class="mdi mdi-account-arrow-up fs-4"></i>
              </span>
              <span class="fs-4 text-truncate"><a href="javascript:;" id="userstats" class="dcolor">点击查看</a></span>
            </div>
            <div class="text-end">用户增长统计</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row card-banner bg-white">
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="card mb-0 shadow-none">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <span class="avatar-md rounded-circle avatar-box text-white bg-purple">
                <i class="mdi mdi-file-chart fs-4"></i>
              </span>
              <span class="fs-4 text-truncate"><a href="{DZZSCRIPT}?mod=filemanage" class="dcolor">$wenjiangeshu</a></span>
            </div>
            <div class="text-end">文件个数</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="card mb-0 shadow-none">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <span class="avatar-md rounded-circle avatar-box text-white bg-yellow">
                <i class="mdi mdi-cloud-outline fs-4"></i>
              </span>
              <span class="fs-4 text-truncate"><a href="{DZZSCRIPT}?mod=filemanage" class="dcolor">$kongjianshiyong</a></span>
            </div>
            <div class="text-end">空间使用</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="card mb-0 shadow-none">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <span class="avatar-md rounded-circle avatar-box text-white bg-info">
                <i class="mdi mdi-alpha-c-circle-outline fs-4"></i>
              </span>
              <span class="fs-4 text-truncate"><a href="{ADMINSCRIPT}?mod=system&op=systemupgrade" class="dcolor">$version</a></span>
            </div>
            <div class="text-end">Dzz版本</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="card mb-0 shadow-none">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <span class="avatar-md rounded-circle avatar-box text-white bg-cyan">
                <i class="mdi mdi-clock-time-eight-outline fs-4"></i>
              </span>
              <span class="fs-4 text-truncate"><a href="{ADMINSCRIPT}?mod=system&op=systemupgrade" class="dcolor">$RELEASE</a></span>
            </div>
            <div class="text-end">版本更新日期</div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <header class="card-header d-flex justify-content-between">
        <div class="card-title">服务器信息</div>
        <ul class="card-actions">
          <li><a href="#!" class="dcolor card-btn-close"><i class="mdi mdi-close"></i></a></li>
          <li><a href="#!" class="dcolor card-btn-slide"><i class="mdi mdi-chevron-up"></i></a></li>
          <li><a href="#!" class="dcolor card-btn-fullscreen"><i class="mdi mdi-fullscreen"></i></a></li>
          <li><a href="{MOD_URL}&do=systemcheck" class="dcolor card-btn-reload"><i class="mdi mdi-refresh"></i></a></li>
        </ul>
      </header>
      <div class="card-body">
        <a href="{MOD_URL}&do=systemcheck" class="btn btn-primary card-btn-reload d-grid">点击查看</a>
      </div>
    </div>
  </div>
</main>
<script>
  $('#online').click(function() {
    layer.open({
        type: 2,
        title: '在线用户',
        shadeClose: true,
        id:'layeronline',
        shade: false,
        maxmin: true,
        area: window.innerWidth < 768 ? ['100%','100%'] : ['70%', '70%'],
        content: '{MOD_URL}&do=online',
    });
});
$('#userstats').click(function() {
    layer.open({
        type: 2,
        title: '用户增长统计',
        shadeClose: true,
        id:'layeruserstats',
        shade: false,
        maxmin: true,
        area: window.innerWidth < 768 ? ['100%','100%'] : ['70%', '70%'],
        content: '{MOD_URL}&do=stats',
    });
});
</script>
<script type="text/javascript" src="static/lyear/js/layer/layer.js?{VERHASH}"></script>
<!--{template lyear:footer_simple}-->