<!--{template lyear:header_simple}-->
<style>
	body {
		overflow: auto;
	}
</style>
<link rel="stylesheet" type="text/css" href="static/lyear/js/bootstrap-datepicker/bootstrap-datepicker3.min.css">
<div class="card" style="border-radius: 0;margin-bottom:0;">
	<div class="card-header">
		<ul class="nav nav-pills">
			<li class="nav-item"><a class="nav-link <!--{if $time=='all'}-->active<!--{/if}-->" href="{MOD_URL}&do=stats&time=all">{lang overview}</a></li>
			<li class="nav-item"><a class="nav-link <!--{if $time=='month'}-->active<!--{/if}-->" href="{MOD_URL}&do=stats&time=month">{lang MonthyChart}</a></li>
			<li class="nav-item"><a class="nav-link <!--{if $time=='week'}-->active<!--{/if}-->" href="{MOD_URL}&do=stats&time=week">{lang contour}</a></li>
			<li class="nav-item"><a class="nav-link <!--{if $time=='day'}-->active<!--{/if}-->" href="{MOD_URL}&do=stats&time=day">{lang date_line}</a></li>
		  </ul>
	</div>
	<div class="card-body">
		<!--{if $time!='all'}-->
		<div class="mb-3">
			<div class="input-daterange input-group" id="datepicker">
			  <label class="input-group-text" for="datepicker_start">{lang to}</label>
			  <input type="text" class="form-control" id="datepicker_start" value="$starttime">
			  <label class="input-group-text" for="datepicker_end">{lang to_date}</label>
			  <input type="text" class="form-control" id="datepicker_end" value="$endtime">
			</div>
		  </div>
		  <!--{/if}-->
		  <canvas class="js-chartjs-bars" id="userstats"></canvas>
	</div>
</div>
<script type="text/javascript">
	var myChart;
	jQuery(document).ready(function(e) {
		myChart = new Chart($("#userstats"), {
			type: 'line',
			data: [],
			options: {
				responsive: true,
				plugins: {
					legend: {
					position: 'top',
					},
					title: {
					display: true,
					text: '{lang user_growth_statistics}'
					},
				}
			}
		});
		getdatebytime();
		$('.input-daterange').datepicker({
			autoclose:true,
			todayHighlight:true,
			clearBtn:true,
			endDate: new Date(),
			language: 'zh_CN',
			zIndex:'50',
			<!--{if $time=='month'}-->
			format: 'yyyy-mm',
			minViewMode: 1,
			<!--{/if}-->
			todayBtn: "linked",
			calendarWeeks: true,
		}).on('changeDate', function(e) {
			getdatebytime();
		});
	});
	function getdatebytime(){
		var start=jQuery('#datepicker_start').val();
		var end=jQuery('#datepicker_end').val();
		<!--{if $time !=='all'}-->
		if (!start || !end) {
			showmessage('请选择有效的开始和结束日期', 'danger', '3000', 1);
			return;
		}
		<!--{/if}-->
		var url='{MOD_URL}&do=stats&operation=getdata&time=$time&starttime='+start+'&endtime='+end;
		var time='{$time}';
		jQuery.post(url,function(json){
		if(json['success']){
			// 更新图表数据
			myChart.data.labels = json['labels'];
			myChart.data.datasets = json['datasets'];
			myChart.update(); // 重新渲染图表
		} else {
			showmessage('{lang error}', 'danger', '3000', 1);
		}
		},'json')
		.fail(function() {
			showmessage('{lang do_failed}', 'danger', '3000', 1);
		});
	}
</script>
<script type="text/javascript" src="static/lyear/js/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="static/lyear/js/chart.min.js"></script>
<!--{template lyear:footer}-->