<!--{template common/header_ajax}-->
<script type="text/javascript" reload="1">
	var selorg={};
	<!--{if $openarr}-->
	selorg.openarr=$openarr;  
	<!--{/if}-->
	selorg.add=function(ctrlid,vals){
		if(vals[0].orgid=='other') vals[0].path='{lang all_personnel}';
		jQuery('#'+ctrlid+'_Menu').html(vals[0].path+' ');
		jQuery('#sel_'+ctrlid).val(vals[0].orgid);
	}
</script>
<div class="modal-header">
  <h4 class="modal-title text-truncate">{lang export_user}</h4>
  <div class="float-end">
    <button type="button" class="modal-fullscreen-btn"><i class="mdi"></i></button>
    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
  </div>
</div>
<div class="modal-body">
  <form id="cpform" action="{MOD_URL}&op=export" class="form-horizontal form-horizontal-left"  method="post" name="cpform" onsubmit="return validate(this)">
    <input type="hidden" value="{FORMHASH}" name="formhash">
    <input type="hidden" value="true" name="exportsubmit">
    <div class="row mb-3">
      <label class="col-sm-2">{lang export_range}：</label>
      <div class="col-sm-10">
        <div class="dropdown">
            <input id="sel_orgid"  type="hidden" name="orgid" value="$orgid" />
            <button type="button" id="orgid_Menu" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              $orgpath 
            </button>
            <div id="orgid_dropdown_menu" class="dropdown-menu org-sel-box" role="menu" aria-labelledby="orgid_Menu">
              <iframe name="orgids_iframe" class="org-sel-box-iframe" src="index.php?mod=system&op=orgtree&template=1&ctrlid=orgid&nouser=1&range=1" frameborder="0" marginheight="0" marginwidth="0" width="100%" height="100%" allowtransparency="true" ></iframe>
            </div>
          </div>
        <span  class="form-text">{lang export_range_user}</span></div>
      </div>
      
    <div class="row mb-3">
      <label class="col-sm-2">{lang export_data}：</label>
      <div class="col-sm-10">
        <!--{loop $h0 $key $title}-->
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="$key" name="item[]" value="$key" checked="checked">
          <label class="form-check-label" for="$key">$title</label>
        </div>
        <!--{/loop}-->
        <span class="form-text"></span>
      </div>
      
    </div>
    <dl class="mb-3 d-grid">
      <button type="submit" class="btn btn-primary btn-round bodyloading" data-loading-text="{lang in_export}">{lang export_immediately}</button>
    </dl>
  </form>
</div>
 <script type="text/javascript" reload="1">
 function validate(form){
	 jQuery(form).find('button[type=submit]').button('loading');
	 return true;
 }
 </script>
<!--{template common/footer_ajax}-->