<!--{template lyear:header_simple_start}-->
<style>
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
	text-overflow: ellipsis;
	white-space:nowrap;
}
</style>
<script type="text/javascript">
	var selorg={};
	<!--{if $openarr}-->
	selorg.openarr=$openarr;  
	<!--{/if}-->
	selorg.add=function(ctrlid,vals){
		if(vals[0].orgid=='other') vals[0].path='{lang please_select_a_organization_or_department}';
		jQuery('#'+ctrlid+'_Menu').html(vals[0].path+' ');
		jQuery('#sel_'+ctrlid).val(vals[0].orgid);
	}
  </script>
<!--{template lyear:header_simple_end}-->
<main class="bs-main-container">
	<div class="container-fluid">
	  <div class="card">
		<div class="card-body">
			<ul class="nav nav-pills"> 
				<li class="nav-item"><a class="nav-link" href="{MOD_URL}&op=import">{lang start_import}</a></li>
				<li class="nav-item"><a class="nav-link active" href="{MOD_URL}&op=import&do=list">{lang import_set}</a></li>
			</ul>
		</div>
	</div>
	<div class="card">
		<div class="card-body">
			<div class="row mb-3">
				<label class="col-sm-2" for="pswdefault">{lang import_organization}</label>
				<div class="col-sm-10">
					<div class="controls">
						<div class="dropdown">
							<input id="sel_orgid"  type="hidden" name="orgid"  value="$orgid" />
							<button type="button" id="orgid_Menu" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">$orgpath</button>
							<div id="orgid_dropdown_menu" class="dropdown-menu org-sel-box" role="menu" aria-labelledby="orgid_Menu">
								<iframe name="orgids_iframe" class="org-sel-box-iframe" src="index.php?mod=system&op=orgtree&template=1&ctrlid=orgid&moderator=1&range=1" frameborder="0" marginheight="0" marginwidth="0" width="100%" height="100%" allowtransparency="true" ></iframe>
							</div>
						</div>
					</div>
					<span class="form-text"><!--{if !$isadmin}--><span class="text-danger">机构部门管理员必须要选择导入机构才能导入！</span><!--{/if}-->{lang import_list_organization}</span>
				</div>
			</div>
			<div class="row mb-3" id="pass_default">
				<label class="col-sm-2" for="pswdefault">{lang default_password}</label>
				<div class="col-sm-10">
					<input id="pswdefault" type="text" class="form-control" value="111" name="pswdefault">
					<span class="form-text">{lang import_list_password}</span>
				</div>
			</div>
			<div class="row mb-3" id="pass_default">
				<label class="col-sm-2">{lang import_way}</label>
				<div class="col-sm-10">
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" id="append1" name="append" value="1" checked="checked">
						<label class="form-check-label" for="append1">{lang bulking}</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" id="append2" name="append" value="0" <!--{if $isadmin < 1}-->disabled<!--{/if}-->>
						<label class="form-check-label" for="append2">{lang coverage}</label>
					</div>
					<span class="form-text">{lang import_list_coverage}<!--{if $isadmin < 1}--><span class="text-danger">覆盖导入只支持系统管理员使用</span><!--{/if}--></span>
				</div>
			</div>
			<div class="alert alert-warning">
				<strong>导入用户说明：</strong>
				<ul class="mb-0">
					<li>用户名和邮箱项目为必填项</li>
					<li>点击下面的导入项的内容，可以临时编辑，编辑部门时注意，部门每行是上下级的关系，上一行为下一行的上级部门</li>
					<li>不需要导入的项目，可以在右侧进行删除</li>
					<li>点击导入按钮，导入当前项目，全部导入按钮，按顺序导入所有项，中途可以再次点击停止</li>
				</ul>
			</div>
		<div class="table-responsive" style="padding:0;">
			<table class="table table-hover" style="border-bottom:1px solid #DDD;">
			<thead>
				<tr> 
				<!--{loop $h $key $value}-->
				<th>$h0[$value]</th>
				<!--{/loop}-->
				<th><button type="button" id="button_import_all" class="btn btn-primary" style="padding:6px 25px;" data-loading-text="{lang import_finish}" onclick="toggle_import_all(this)">{lang all_import}</button></th>
				</tr>
			</thead>
			{eval $i=0;}
			<!--{loop $list $value}-->
			<tr class="item" id="item_$i"> 
				<!--{loop $h $key1 $value1}--> 
				<!--{if is_array($value[$value1])}-->
				<td class="editable" key="$value1"><!--{loop $value[$value1] $value2}-->
				<p class="form-control m-0">$value2</p>
				<!--{/loop}--></td>
				<!--{else}-->
				<td class="editable" key="$value1"><p class="form-control m-0">$value[$value1]</p></td>
				<!--{/if}--> 
				<!--{/loop}-->
				<td><button type="button" id="button_item_$i" class="btn btn-outline-primary me-2" onclick="item_import('item_$i',this);" data-loading-text="{lang in_import}">{lang import_nbsp}</button><a href="javascript:;" class="btn btn-outline-danger" title="{lang delete_item}" onclick="item_remove(this);return false;"><i class="mdi mdi-delete"></i></a></td>
			</tr>
			{eval $i++;}
			<!--{/loop}-->

			</table>
		</div>
		</div>
	</div>
</div>
</main>
<script type="text/javascript">
var url='{BASESCRIPT}?mod=member';
var importing=false;

function toggle_import_all(obj){
	var el=jQuery(obj);
	if(importing){
		importing=false;
		el.html('{lang continue_import}');
	}else{
		importing=true;
		el.html('{lang import_click_stop}');
		run_import_all();
	}
}
function run_import_all(){
	if(!importing) return;
	var list=jQuery('.item:not(.danger,.success)');
	if(!list.length){
		jQuery('#button_import_all').button('loading');
	}else{
		var id=jQuery('.item:not(.danger,.success1)').attr('id');
		if(id) item_import(id);
	}
}
function item_import(id){
	showmessage('{lang in_import}', 'info', 3000, 1);
	var data=getData(id);
	var el=jQuery('#button_'+id);
	el.button('loading');
	jQuery.getJSON('{MOD_URL}&op=import&do=importing',data,function(json){
		if(json.error){
			el.button('reset');
			el.html(json.error);
			showmessage(json.error, 'error', 3000, 1);
			el.parent().parent().addClass('danger');
		}else{
			el.parent().parent().addClass('success1');
			el.html('{lang import_success}');
			showmessage('{lang import_success}', 'success', 3000, 1);
			window.setTimeout(function(){el.parent().parent().remove();if(importing) run_import_all();},0);
		}
	}).fail(function(jqXHR, textStatus, errorThrown) {
		showmessage('{lang do_failed}' + textStatus, 'danger', 3000, 1);
	});
}
function getData(id){
	var data={};
	//获取设置项数据
	data.orgid=jQuery('#sel_orgid').val();
	data.pswdefault=jQuery('#pswdefault').val();
	data.append=jQuery('#append').prop('checked')?1:0;
	data.sendmail=jQuery('#sendmail').prop('checked')?1:0;
	
	//获取导入项的数据
	if(document.getElementById(id)){
		jQuery('#'+id).children().each(function(){
			var el=jQuery(this);
			if(el.attr('key')){
				if(el.find('p').length>1){
					var vals=[];
					el.find('p').each(function(){
						vals.push(jQuery(this).html());
					});
				 	data[el.attr('key')]=vals.join('/');
				}else{
					 data[el.attr('key')]=el.find('p').html();
				}
			}
		});
	}
	return data;
}
function item_remove(obj){
	jQuery(obj).parent().parent().remove();
}
jQuery(document).ready(function(e) {
  jQuery('.editable p').on('click',function(e){
	  e=e?e:window.event;
		var tag = e.srcElement ? e.srcElement :e.target;
		if(tag.type=="text"||tag.type=="textarea"){
			return true;
		}		
	  var val=jQuery(this).html();
	  jQuery(this).removeClass('form-control');
	  jQuery(this).html('<input type="text" class="form-control editinput" onkeyup="if(event.keyCode==13){jQuery(this).parent().addClass(\'form-control\');jQuery(this).parent().html(this.value);}" value="'+val+'" onblur="jQuery(this).parent().addClass(\'form-control\');jQuery(this).parent().html(this.value);">');
	  jQuery(this).find('input').focus();
  });
});
</script> 
<!--{template lyear:footer_simple}--> 