<div class="card">
  <div class="card-body">
    <ul class="nav nav-pills">
      <li class="nav-item text-break">
        <strong class="nav-link">$space[username]</strong>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{MOD_URL}&op=edituser&uid=$uid#user_{$user['uid']}_" onclick="jQuery('#orguser_container').load(this.href);return false;">{lang basic_message}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{MOD_URL}&op=edituser&do=profile&uid=$uid" onclick="jQuery('#orguser_container').load(this.href);return false;">{lang details_information}</a>
      </li>
    </ul>
  </div>
</div>
<div class="card">
  <div class="card-body">
      <div id="return_edituserprofile"></div>
      <form id="accountform" name="accountform" class="form-horizontal form-horizontal-left" action="{MOD_URL}&op=edituser&do=profile" method="post" onsubmit="account_submit();return false">
        <input type="hidden" name="profilesubmit" value="true" />
        <input type="hidden" name="uid" value="$uid" />
        <input type="hidden" name="handlekey" value="edituserprofile" />
        <input type="hidden" name="formhash" value="{FORMHASH}" />
        <!--{loop $settings $key $value}-->
        <!--{if $value[available]}-->
        <div class="row mb-3">
          <label class="col-sm-2" for="$key">$value[title]</label>
          <div class="col-sm-10">
            $htmls[$key]
          </div>
        </div>
        <!--{/if}-->
        <!--{/loop}-->
        <dl class="mb-3 d-grid">
          <input type="submit" class="btn btn-primary btn-round bodyloading" value="{lang save_changes}">
        </dl>
      </form>
  </div>
</div>
<script type="text/javascript" reload="1">
	currentHash = 'user_{$space['uid']}_profile';
	location.hash = '#user_{$space['uid']}_profile';
	function account_submit() {
		ajaxpost('accountform', 'ajaxwaitid', 'return_edituserprofile');
		return false;
	}

	function succeedhandle_edituserprofile(url, message, values) {
		showmessage(message, 'success', 3000, 1);
	};
</script>