<!--{template common/header_simple_start}-->
<link href="static/css/common.css?{VERHASH}" rel="stylesheet" media="all">
<script type="text/javascript" src="static/js/jquery.leftDrager.js?{VERHASH}"></script>
<style>
	html,
	body {
		overflow: hidden;
		background: #FBFBFB;
	}
	
	.bs-left-container {
		width: 150px;
		top: 0;
		padding:0;
	}
	
	.bs-main-container {
		margin-left: 150px;
		overflow: auto;
	}
</style>
<!--{template common/header_simple_end}-->

<div class="bs-container clearfix" style="padding-top:0">
	<div class="bs-left-container  clearfix">
		<!--{template left}-->
	</div>
	<div class="left-drager">
		<div class="left-drager-op">
			<div class="left-drager-sub"></div>
		</div>
	</div>

	<div class="bs-main-container  clearfix">
		<div class="main-header" style="padding:0 15px">
			<ul class="nav nav-pills nav-pills-bottomguide">
				<li>
					<a href="{MOD_URL}">{lang member_list}</a>
				</li>
				<li>
					<a href="{MOD_URL}&op=edituser&uid=$uid">{lang basic_information}</a>
				</li>
				<li class="active">
					<a href="{MOD_URL}&op=edituser&do=profile&uid=$uid">{lang details_information}</a>
				</li>
				<!-- <li><a href="{MOD_URL}&op=import">从文件导入</a></li>
               <li><a href="{MOD_URL}&op=invite">Email邀请</a></li>-->
			</ul>
		</div>

		<div class="main-body" style="padding:15px 15px 15px 22px;">
			<div id="return_edituserprofile"></div>
			<form id="accountform" name="accountform" class="form-horizontal form-horizontal-left" action="{MOD_URL}&op=edituser&do=profile" method="post" onsubmit="account_submit();return false">
				<input type="hidden" name="profilesubmit" value="true" />
				<input type="hidden" name="uid" value="$uid" />
				<input type="hidden" name="handlekey" value="edituserprofile" />
				<input type="hidden" name="formhash" value="{FORMHASH}" />
				<div class="form-group">
					<label class="control-label">{lang compellation}</label>
					<div class="controls">
						<p class="form-control-static">$space[username]</p>
					</div>
				</div>
				<!--{loop $settings $key $value}-->
				<!--{if $value[available]}-->
				<div class="form-group">
					<label class="control-label" for="$key">$value[title]</label>
					<div class="controls">
						$htmls[$key]
					</div>
				</div>
				<!--{/if}-->
				<!--{/loop}-->
				<div class="form-group">
					<label class="control-label"></label>
					<div class="controls">
						<input type="submit" class="btn btn-primary" value="{lang save_changes}">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript" reload="1">
	function account_submit() {
		ajaxpost('accountform', 'ajaxwaitid', 'return_edituserprofile');
		return false;
	}

	function succeedhandle_edituserprofile(url, message, values) {
		showmessage(message, 'success', 3000, 1);
	};
</script>
<script type="text/javascript">
	jQuery('.left-drager').leftDrager_layout();
</script>
<script src="static/bootstrap/js/bootstrap.min.js?{VERHASH}"></script>
<!--{template common/footer_simple}-->