<!--{template common/header_simple_start}-->
<link href="static/css/common.css?{VERHASH}" rel="stylesheet" media="all">
<link href="static/icheck/skins/minimal/blue.css?{VERHASH}" rel="stylesheet" media="all">
<script type="text/javascript" src="static/js/jquery.leftDrager.js?{VERHASH}"></script>
<script type="text/javascript" src="admin/scripts/admin.js?{VERHASH}"></script>
<style>
	html,
	body {
		overflow: hidden;
		background: #FBFBFB;
	}
	
	.bs-left-container {
		width: 150px;
		top: 0
	}
	
	.bs-main-container {
		margin-left: 150px;
		overflow: auto;
		padding:0;
	}
	
	.form-horizontal-left .radio-inline {
		margin: 0;
	}
	
	.mod_validate td {
		background: #dff0d8 !important;
	}
	
	.mod_refusal td {
		background: #f2dede !important;
	}
	
	.table-sub tr {
		height: 30px;
	}
	
	.table td img {
		max-width: 50px;
		max-height: 50px;
		margin: 0px;
	}
</style>
<!--{template common/header_simple_end}-->
<!--{template common/commer_header}-->

<div class="bs-container clearfix" style="padding-top:0px;">
	<div class="bs-left-container  clearfix">
		<!--{template left}-->
	</div>
	<div class="left-drager">
		<div class="left-drager-op">
			<div class="left-drager-sub"></div>
		</div>
	</div>
	<div class="bs-main-container  clearfix">
		<div class="main-header">
			<ul class="nav nav-pills nav-pills-bottomguide">
				<li <!--{if $anchor=='authstr' }-->class="active"<!--{/if}-->>
					<a href="{MOD_URL}&op=verify&anchor=authstr&vid=$vid">{lang members_verify_nav_authstr}</a>
				</li>
				<li <!--{if $anchor=='refusal' }-->class="active"<!--{/if}-->>
					<a href="{MOD_URL}&op=verify&anchor=refusal&vid=$vid">{lang members_verify_nav_refusal}</a>
				</li>
				<!--{if $vid}-->
				<li <!--{if $anchor=='pass' }-->class="active"<!--{/if}-->>
					<a href="{MOD_URL}&op=verify&anchor=pass&vid=$vid">{lang already_passed}</a>
				</li>
				<!--{/if}-->
			</ul>
		</div>
		<div class=" " style="padding:15px 15px 0 15px;font-size:85%;">
			<form action="{BASESCRIPT}" method="get">
				<table cellspacing="5" cellpadding="5" style="min-width:390px">
					<tbody>
						<tr height="35">
							<th>{lang user_name}*</th>
							<td><input type="text" name="username" value="$_GET[username]" class="form-control input-sm" style="width:120px;"></td>
							<th style="text-align:right">UID：</th>
							<td><input type="text" name="uid" value="$_GET[uid]" class="form-control input-sm" style="width:125px;"></td>
						</tr>
						<!--{if $anchor!='pass'}-->
						<tr height="35">
							<th>{lang members_verify_dateline}：</th>
							<td colspan="3"><input type="text" name="dateline1" value="$_GET[dateline1]" class="form-control input-sm" style="width:120px;display:inline-block" onclick="showcalendar(event, this)" /> &nbsp;&nbsp;&nbsp;&nbsp; ~ &nbsp;&nbsp;&nbsp;&nbsp;
								<input type="text" name="dateline2" value="$_GET[dateline2]" class="form-control input-sm" style="width:125px;display:inline-block" onclick="showcalendar(event, this)" /></td>
						</tr>
						<!--{/if}-->
						<tr height="35">
							<th>{lang result_ranking}：</th>
							<td colspan="3">
								<!--{if $anchor!='pass'}-->
								<select name="orderby" class="form-control input-sm" style="width:95px;display:inline-block">
									<option value="dateline">{lang members_verify_dateline}</option>
								</select>
								<!--{else}-->
								<select name="orderby" class="form-control input-sm" style="width:95px;display:inline-block">
									<option value="uid">UID</option>
								</select>
								<!--{/if}-->
								<select name="ordersc" class="form-control input-sm" style="width:73px;display:inline-block">
									<option value="desc" <!--{if $_GET[ordersc]=='desc' }-->selected="selected"<!--{/if}-->>{lang pass_subtract}</option>
									<option value="asc" <!--{if $_GET[ordersc]=='asc' }-->selected="selected"<!--{/if}-->>{lang pass_add}</option>
								</select>
								<select name="perpage" class="form-control input-sm" style="width:125px;display:inline-block">
									<option value="10" <!--{if $_GET[perpage]=='10' }-->selected="selected"<!--{/if}-->>{lang logs_lpp}10{lang individual}</option>
									<option value="20" <!--{if $_GET[perpage]=='20' }-->selected="selected"<!--{/if}-->>{lang logs_lpp}20{lang individual}</option>
									<option value="50" <!--{if $_GET[perpage]=='50' }-->selected="selected"<!--{/if}-->>{lang logs_lpp}50{lang individual}</option>
									<option value="100" <!--{if $_GET[perpage]=='100' }-->selected="selected"<!--{/if}-->>{lang logs_lpp}100{lang individual}</option>
								</select>
								<input type="hidden" name="mod" value="member">
								<input type="hidden" name="op" value="verify">
								<input type="hidden" name="vid" value="$vid">
								<input type="hidden" name="anchor" value="$anchor"></td>
						</tr>
						<tr height="45">
							<td>&nbsp;</td>
							<td colspan="3"><input type="submit" name="searchsubmit" value="{lang search}" class="btn btn-default btn-sm btn-width">
								<span class="help-inline">&nbsp;&nbsp;&nbsp;*{lang fuzzy_search}</span></td>
						</tr>
					</tbody>
				</table>
			</form>
			<script type="text/javascript" src="static/js/calendar.js?{VERHASH}"></script>
		</div>
		<div class="main-content" style="border-top:1px solid #DDD">
			<iframe id="frame_profile" name="frame_profile" style="display: none"></iframe>

			<form id="cpform" action="{MOD_URL}&op=verify&" class="form-horizontal form-horizontal-left" method="post" name="cpform">
				<input type="hidden" value="{FORMHASH}" name="formhash">
				<input type="hidden" value="true" name="verifysubmit">
				<input type="hidden" value="$vid" name="vid">
				<input type="hidden" name="anchor" value="$anchor">
				<table class="table table-hover" style="font-size:12px;">
					<!--{if $anchor!='pass'}-->
					<thead>
						<th width="90" style="text-align:center">{lang username}</th>
						<th width="120">{lang members_verify_dateline}</th>
						<th>{lang members_verify_info}</th>
					</thead>
					<!--{loop $list  $value}-->
					<tr id="mod_{$value[vid]}_row" verifyid="{$value[vid]}" class="hover">
						<td width="90" align="center">$value[username]</td>
						<td width="120">$value[dateline]</td>
						<td>$value[fieldstr]</td>
					</tr>
					<!--{/loop}-->
					<thead>
						<td colspan="15">

							<input type="submit" class="btn btn-primary" id="submit_batchverifysubmit" name="batchverifysubmit" title="" value="{lang submit}"> &nbsp;
							<a href="javascript:;" class="btn btn-link" onclick="mod_setbg_all('validate')">{lang all_validate}</a> &nbsp;
							<a class="btn btn-link" href="javascript:;" onclick="mod_setbg_all('refusal')">{lang select_all_refuse}</a> &nbsp;
							<a class="btn btn-link" href="javascript:;" onclick="mod_cancel_all();">{lang cancel_select}</a>
							$multi
						</td>
					</thead>
					<!--{else}-->
					<thead>
						<th width="80"></th>
						<th width="90" style="text-align:center">{lang username}</th>

						<th>{lang members_verify_info}</th>
					</thead>
					<!--{loop $list  $value}-->
					<tr id="mod_{$value[uid]}_row" verifyid="{$value[uid]}" class="hover">
						<td width="80">$value[opstr]</td>
						<td width="90" align="center">$value[username]</td>
						<td>$value[fieldstr]</td>
					</tr>
					<!--{/loop}-->
					<thead>
						<td colspan="15">
							<input type="submit" class="btn btn-primary" id="submit_batchverifysubmit" name="batchverifysubmit" title="" value="{lang submit}"> &nbsp;
							<a href="javascript:;" class="btn btn-link" onclick="mod_setbg_all('export')">{lang select_all_export}</a> &nbsp;
							<a class="btn btn-link" href="javascript:;" onclick="mod_setbg_all('refusal')">{lang select_all_refuse}</a> &nbsp;
							<a class="btn btn-link" href="{MOD_URL}&op=verify&vid=$vid&anchor=pass&verifysubmit=yes">{lang all_export}</a>
							$multi
						</td>
					</thead>
					<!--{/if}-->
				</table>
			</form>
		</div>
	</div>
</div>
	
<script type="text/javascript">
	function showreason(vid, flag) {
		var reasonobj = document.getElementById('reason_' + vid);
		if(reasonobj) {
			reasonobj.style.display = flag ? '' : 'none';
		}
		if(!flag && document.getElementById('verifyitem_' + vid) != null) {
			var checkboxs = document.getElementById('verifyitem_' + vid).getElementsByTagName('input');
			for(var i in checkboxs) {
				if(checkboxs[i].type == 'checkbox') {
					checkboxs[i].checked = '';
				}
			}
		}
	}

	function mod_setbg(vid, value) {
		document.getElementById('mod_' + vid + '_row').className = 'mod_' + value;
	}

	function mod_setbg_all(value) {
		checkAll('option', document.getElementById('cpform'), value);
		var trs = document.getElementById('cpform').getElementsByTagName('TR');
		for(var i in trs) {
			if(trs[i].id && trs[i].id.substr(0, 4) == 'mod_') {
				trs[i].className = 'mod_' + value;
				showreason(trs[i].getAttribute('verifyid'), value == 'refusal' ? 1 : 0);
			}
		}
	}

	function mod_cancel_all() {
		var inputs = document.getElementById('cpform').getElementsByTagName('input');
		for(var i in inputs) {
			if(inputs[i].type == 'radio') {
				inputs[i].checked = '';
			}
		}
		var trs = document.getElementById('cpform').getElementsByTagName('TR');
		for(var i in trs) {
			if(trs[i].id && trs[i].id.match(/^mod_(\d+)_row$/)) {
				trs[i].className = "mod_cancel";
				showreason(trs[i].getAttribute('verifyid'), 0)
			}
		}
	}

	function singleverify(vid) {
		var formobj = document.getElementById('cpform');
		var oldaction = formobj.action;
		formobj.action = oldaction + 'singleverify=' + vid;
		formobj.target = "frame_profile";
		formobj.submit();
		formobj.action = oldaction;
		formobj.target = "";
	}
</script>
<script type="text/javascript">
	jQuery('.left-drager').leftDrager_layout();
	var url = '{MOD_URL}';


</script>
<script src="static/bootstrap/js/bootstrap.min.js?{VERHASH}"></script>
<script type="text/javascript" src="static/icheck/icheck.min.js?{VERHASH}"></script>
<!--{template common/footer_simple}-->