.bs-main-container{
	padding:0;
}
.jstree-root{
	padding:5px 0 0 10px;
	line-height:24px;
}
.classtree-topbar{
	position:relative;
	bottom:0px;
	left:0px;
	background:#F7F7F7;
	border-bottom:1px solid #D2D2D2;
	border-top:1px solid #FFF;
	padding:7px 10px 3px 10px;
}

.classtree-topbar a{
	display:inline-block;
	margin:0px 5px;
	width:24px;
	height:24px;
	background-image:url(icons_24.png);
    _filter: Alpha(opacity=70);
    opacity: 0.7;
}
.classtree-topbar .newdir{
	background-position:0 0;
}
.classtree-topbar .newdir_1{
	background-position:0 -24px;
}
.classtree-topbar .newdoc{
	background-position:0 -48px;
}
.classtree-topbar .import{
	background-position:0 -72px;
}
.classtree-topbar .search{
	background-position:0 -96px;
}
.classtree-topbar .guide{
	background-position:0 -120px;
}
.classtree-topbar a:hover{
	 _filter: Alpha(opacity=100);
  opacity: 1;
}
.classtree-topbar a:active{

}

.classtree-search{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:39px;
	display:none;
}
.classtree-search input.form-control{
	padding:5px 50px 5px 5px;
	height:100%;
	border:0;
}
.classtree-search .form-control:focus{
	box-shadow:none;
}
.classtree-search>a{
	position:absolute;
	line-height: 40px;
    width: 25px;
    text-align: center;
}
.classtree-search>a:hover{
	background-color:#F1f1f1;
}
.classtree-search .search{
	position:absolute;
	right:25px;
	top:0px;
}
.classtree-search .delete{
	position:absolute;
	right:0;
	top:0;
}
/*重定义图标*/

.jstree-default .jstree-icon:empty {
     font-size: 22px; 
    color: rgba(78,85,99,1);
}
.jstree-default-large .jstree-icon:empty{
	 width: 24px;
    height: 24px;
    border-radius: 50%;
}
.jstree-default .jstree-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.jstree-default .jstree-icon.jstree-themeicon-custom{
	margin-top:5px;
}
.jstree-default .jstree-icon.jstree-themeicon-custom.dzz{
	margin-top:-2px;
}
.moderators-container .user-item{
	padding:10px;width:120px;position:relative;height:180px;
}
.moderators-container .user-item .delete{
	display:none;
	position:absolute;top:5px;right:5px;width:24px;height:24px;
	cursor:pointer;
	z-index:100;
	
}
.moderators-container .user-item.hover .delete{
	display:block;
}
.moderators-container .user-item-avatar{
	
	width:100px;height:100px;
	
}

.moderators-container .user-item .avatar-cover{
	width:100px;height:100px;
	position:absolute;
	left:10px;
	top:10px;
	background:url(user_bg.png) no-repeat;
	z-index:10;
	
}
.ie8 .moderators-container .user-item .avatar-cover{
	display:none;
}
.moderators-container .user-item-avatar .avatar-face{
	width:90px;height:90px;margin:5px
	
}.moderators-container .user-item-avatar .avatar-face .Topcarousel {
	width:90px;height:90px;
	font-size:40px;
	line-height: 90px
	
}
.moderators-container .user-item-avatar img{
	width:100%;
	height:100%;
	border-radius:50%;
}
.moderators-container .moderators-acceptor{
	padding:10px;width:227px;height:170px;position:relative;
	margin-top:10px;
	background:url(add_guide.png)  no-repeat;
}
.moderators-container .moderators-acceptor .avatar-cover{
	left:25px;
	top:0px;
	display:none;
	width:100px;height:100px;
	position:absolute;
	background:url(user_bg.png) no-repeat;
	z-index:10;
}
.moderators-container .moderators-acceptor .user-item-avatar{
	margin:-10px 0 0 15px;
	display:none;
	
	
	
}
.moderators-container .moderators-acceptor.hover .user-item-avatar,.moderators-container .moderators-acceptor.hover .avatar-cover {
	display:block;
}
.main-body{
	border-top:1px solid #FFF;
}
.table-con .form-horizontal .control-label{
	font-weight: normal;
}
.group-head li{
	float: left;
	list-style: none;
}
.head-portrait {
    margin-right: 10px;
    border: 1px solid transparent;
    border-radius: 3px;
    position: relative;
    margin-bottom: 0;
}
.head-portrait img, .head-file img, .head-file input {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.head-file {
    position: relative;
}
.head-file input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
textarea{
	resize: none;
}
.setting-img {
    height: 150px;
}
.setting-img img {
    width: 100%;
    height: 100%;
}
.upload-click {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    line-height: 150px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
}
#exampleInputFile {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
}
.head-checkbox{
	display: none;
	 position: absolute;
	 left:1px;
	 top:0;
	 width:100%;
	 height:100%;
}
.head-portrait:hover {
    border: 1px solid #2196f3;
}
.group-head .head-checkbox .checkbox-custom {
    height:100%;
    margin: 0px;
}
.group-head .head-checkbox .checkbox-custom label{
	vertical-align: text-top;
}
.headFirstWord{
	display: inline-block;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 18px;
}
.head-portrait:hover .head-checkbox {
    display: block;
}
.group-head{
	overflow: hidden;
	padding: 0;
}
.head-portrait .hover{
	display: block;
}
.has-warning .checkbox, .has-warning .checkbox-inline, .has-warning .control-label, .has-warning .help-block, .has-warning .radio, .has-warning .radio-inline, .has-warning.checkbox label, .has-warning.checkbox-inline label, .has-warning.radio label, .has-warning.radio-inline label{
	color: #333;
}
.has-warning .form-control {
border-color: #ff3203;
box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
}
kbd{
	background-color: #FFF;color: #ff3203;font-size: 100%;box-shadow: inset;-webkit-box-shadow:inset 0 0 0 rgba(0,0,0,.25);box-shadow:inset 0 0 0 rgba(0,0,0,.25);
}
.head-portrait .iconFirstWord{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: inline-block;
	line-height: 40px;
    text-align: center;
    margin-right: 2px;
    color: #FFFFFF;
	font-size:24px;
}
.iconFirstWord {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: inline-block;
    line-height: 24px;
    text-align: center;
    margin-right: 2px;
    color: #FFFFFF;
	font-size:14px;
}