<!--{if empty($_GET['op'])}-->
 <div class="input-search">
	<form name="search" action="{MOD_URL}" method="get">
		<input type="hidden" name="mod" value="{MOD_NAME}" />
		<input type="hidden" name="lpp" value="$lpp" /> 
		<i class="input-search-icon mdi mdi-magnify" aria-hidden="true" onclick="this.parentNode.submit()"></i>
		<input type="text" class="form-control search form-search" name="keyword" value="$keyword" placeholder="可按内容或用户名查询，按回车键确认" id="searchval">
	</form>
</div>
<!--{/if}-->
<script type="text/javascript">
jQuery('#searchval').focus(function (e) {
    jQuery(this).parent().parent().addClass('focus');
});
jQuery('#searchval').blur(function (e) {
	 jQuery(this).parent().parent().removeClass('focus');
})
</script>