<div class="itemfeed " id="comment_$value[cid]">
	<a name="comment_$value[cid]"></a>
	<div class="left_ifed">
		<a href="user.php?uid=$value[authorid]" title="$value[author]" hidefocus="true">{eval echo avatar_block($value[authorid]);}</a>
	</div>
	<div class="right_ifed">
		<div class="main_fed">
			<div class="source_fed">
				<a href="user.php?uid=$value[authorid]" title="$value[author]" hidefocus="true" class="appuser_sfed skip_mmfed">$value[author]</a><span class="cont_sfed">{lang talk}：</span> </div>
			<div class="master_mfed"> <span class="lquote_mmfed"></span><span class="content_mmfed">$value[message]</span><span class="rquote_mmfed"></span> </div>
			<div class="attachment_fed">
				<!--{loop $value[attachs] $attach}-->

				<div class="item_afed">
					<!--{if $attach[isimage]}-->
					<div class="pic_fed clearfix">
						<div class="img_pfed">
							<a class="min_ipfed" hidefocus="true" href="javascript:;"><img src="$attach[img]" data-original="$attach[img]&original=1" alt="$attach[title]" class="">
						</a></div>
					</div><div class="file_fed imgfile_fed clearfix">
					<a class="min_ipfed" hidefocus="true" href="javascript:;"> $attach[title]<span class="kb_nffed">($attach[filesize])</span>
						</a><p class="down_ffed"><a class="min_ipfed" hidefocus="true" href="javascript:;">
							</a><a href="javascript:;" title="" hidefocus="true" class="btn_dffed skip_mmfed" onclick="feed_downAttach('$attach[qid]')">{lang download}
								<!--{if $attach[downloads]>0}-->($attach[downloads]{lang degree})<!--{/if}-->
							</a>
							<a href="javascript:void(0);" title="" hidefocus="true" class="save_dffed skip_mmfed" onclick="feed_attach_saveto('$attach[qid]')">{lang js_saved_my_documents}</a>
						</p>
					</div>
					<!--{elseif $attach['type']=='video'}-->
					<div class="file_fed file_fed_{$attach[type]} clearfix">
						<div class="ico_ffed " style="margin-right:20px">
							<a href="javascript:;" onclick="feed_attach_preview('$attach[qid]')"><img src="$attach[img]" alt="$attach[title]" class="videoclass50_50"></a>
						</div>
						<p class="name_ffed">$attach[title]</p>
						<p class="down_ffed">
							<!--{if $attach[preview]>0}-->
							<a href="javascript:void(0);" title="" hidefocus="true" class="preview_dffed skip_mmfed" onclick="feed_attach_preview('$attach[qid]')">{lang preview}</a>
							<!--{/if}-->
						</p>
					</div>
					<!--{elseif $attach['type']=='dzzdoc' || $attach['type']=='link'}-->
					<div class="file_fed file_fed_{$attach[type]} clearfix">
						<div class="ico_ffed ">
							<a href="javascript:;" onclick="feed_attach_preview('$attach[qid]')"><img src="$attach[img]" alt="$attach[title]" style="max-height:50px;"></a>
						</div>
						<p class="name_ffed">$attach[title]</p>
						<p class="down_ffed">
							<a href="javascript:void(0);" title="" hidefocus="true" class="preview_dffed skip_mmfed" onclick="feed_attach_preview('$attach[qid]')">{lang preview}</a>

						</p>
					</div>
					<!--{else}-->
					<div class="file_fed file_fed_{$attach[type]} clearfix">
						<div class="ico_ffed"><img src="$attach[img]" alt="$attach[filename]" style="max-height:50px;"> </div>
						<p class="name_ffed">$attach[title]
							<!--{if $attach['filesize']}--><span class="kb_nffed">($attach[filesize])</span><!--{/if}-->
						</p>
						<p class="down_ffed">
							<!--{if $attach[preview]>0}-->
							<a href="javascript:void(0);" title="" hidefocus="true" class="preview_dffed skip_mmfed" onclick="feed_attach_preview('$attach[qid]')">{lang preview}</a>
							<!--{/if}-->
							<a href="javascript:;" title="" hidefocus="true" class="btn_dffed skip_mmfed" onclick="feed_downAttach('$attach[qid]')">{lang download}
								<!--{if $attach[downloads]>0}--><span class="text-gray">($attach[downloads]{lang degree})</span><!--{/if}-->
							</a>
							<a href="javascript:void(0);" title="" hidefocus="true" class="save_dffed skip_mmfed" onclick="feed_attach_saveto('$attach[qid]')">{lang js_saved_my_documents}</a>
						</p>
					</div>
					<!--{/if}-->

				</div>

				<!--{/loop}-->
			</div>
			<div class="action_mfed clearfix">
				<div class="btn_amfed">
					<ul>
						<!--{if $_G['uid']==$value[authorid] || $_G[adminid]==1}-->
						<!--<li class="more_bamfed">
							<a hidefocus="true" href="javascript:void(0);" onclick="feed_edit('$value[cid]','$_GET[allowattach]','$_GET[allowat]','$_GET[allowsmiley]')">{lang edit}</a>
						</li>-->
						<li class="more_bamfed">
							<a hidefocus="true" href="javascript:void(0);" onclick="feed_delete('$value[cid]','comment_$value[cid]')">{lang delete}</a>
						</li>

						<!--{/if}-->
						<!--{if $_G['uid']>0}-->
						<li class="reply_bamfed">
							<a hidefocus="true" href="javascript:void(0);" onclick="getReplyForm('$value[cid]','0','$_GET[allowattach]','$_GET[allowat]','$_GET[allowsmiley]');">{lang reply}</a>
						</li>
						<!--{/if}-->
					</ul>
				</div>
				$value[dateline]</div>
		</div>
		<div id="comment_reply_{$value[cid]}" class="comment_ifed">
			<!--{if $value[replies]>0}-->
			<div class="comment_fed" style="display: block;">
				<!--{if $_G['uid']>0}-->
				<div class="corner_lfed"><span></span></div>
				<!--{/if}-->
			</div>
			<!--{/if}-->
			<!--{if $value[replies]>5}-->
			<div class="txt_cfed">
				<a class="" href="javascript:void(0);" hidefocus="true" cid="$value[cid]" title="">{lang total}<span class="num_cfed">$value[replies]</span>{lang a_reply}<i></i></a>
			</div>
			<!--{/if}-->
			<!--{if $value[replies]>0}-->
			<div id="reply_list_$value[cid]" class="list_cfed  ">
				<!--{loop $value[replys] $value1}-->
				<!--{template reply_item}-->
				<!--{/loop}-->
				<script type="text/javascript" reload="1">
					jQuery('#comment_$value[cid]').find('.txt_cfed a').on('click', function() {
						ajaxget('{DZZSCRIPT}?mod=comment&op=ajax&do=getreplys&cid=$value[cid]&allowattach=$_GET[allowattach]&allowat=$_GET[allowat]&allowsmiley=$_GET[allowsmiley]', 'reply_list_$value[cid]', 'reply_list_$value[cid]');
						return false;
					});
				</script>
			</div>
			<!--{/if}-->
		</div>
	</div>
</div>