@charset "utf-8";
/* CSS atwho */
.atwho-view {
    position:absolute;
    top: 0;
    left: 0;
    display: none;
    margin-top: 18px;
    background: white;
    border: 1px solid #DDD;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    min-width: 120px;
    z-index: 99999;
}

.atwho-view .cur {
    background: #428bca;
    color: white;
}
.atwho-view .cur small {
    color: white;
}
.atwho-view strong {
    color: #428bca;
}
.atwho-view .cur strong {
    color: white;
    font:bold;
}
.atwho-view ul {
    /* width: 100px; */
    list-style:none;
    padding:0;
    margin:auto;
}
.atwho-view ul li {
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid #DDD;
    cursor: pointer;
    /* border-top: 1px solid #C8C8C8; */
}
.atwho-view ul li img{
	max-height: 24px;
}
.atwho-view small {
    font-size: smaller;
    color: #777;
    font-weight: normal;
}
/*ui-artZoom*/
.ui-artZoom {
	padding: 0 10px 10px 10px;
	background: #f9f9f9;
	border: solid 1px #D0D9DA
}
.ui-artZoom img {
	-ms-interpolation-mode: bicubic
}
.ui-artZoom-toolbar {
	height: 36px;
	line-height: 26px;
	padding: 5px 0
}
.ui-artZoom-buttons {
	display: inline-block;
*display:inline;
*zoom:1;
	height: 26px;
	line-height: 0;
	margin-right: 5px;
	outline: 0
}
.ui-artZoom-loading {
	color: gray;
	font-size: 12px
}
.ui-artZoom-buttons a{
	display: inline-block;
	padding: 5px 15px 5px 0;
	font: 12px/1.11 "Microsoft Yahei", Tahoma, Arial, Helvetica, STHeiti;
	_font-family: Tahoma, Arial, Helvetica, STHeiti;
	-o-font-family: Tahoma, Arial;
	_font-size: 12px;
	color: #3C3C3D;
	white-space: nowrap;
	overflow: visible;
	cursor: pointer;
	text-decoration: none;
	outline: 0;
	position: relative;
	zoom: 1;
*display:inline;
*vertical-align:middle
}
.ui-artZoom-buttons a:hover, .ui-artZoom-buttons ._tt_tasklist li .title_tttl:hover, ._tt_tasklist li .ui-artZoom-buttons .title_tttl:hover {
	color: #2d83cf;
	text-decoration: none;
	background-position: 0 -40px
}
.ui-artZoom-buttons a:active, .ui-artZoom-buttons ._tt_tasklist li .title_tttl:active, ._tt_tasklist li .ui-artZoom-buttons .title_tttl:active {
	color: #2d83cf
}
.ui-artZoom-noLoad a.ui-artZoom-left, .ui-artZoom-noLoad ._tt_tasklist li .ui-artZoom-left.title_tttl, ._tt_tasklist li .ui-artZoom-noLoad .ui-artZoom-left.title_tttl, .ui-artZoom-noLoad a.ui-artZoom-right, .ui-artZoom-noLoad ._tt_tasklist li .ui-artZoom-right.title_tttl, ._tt_tasklist li .ui-artZoom-noLoad .ui-artZoom-right.title_tttl {
	color: #999;
	cursor: default
}
.ui-artZoom-ready .ui-artZoom-loading span {
	width: 5px;
	overflow: hidden;
	visibility: hidden
}
a.ui-artZoom-left, ._tt_tasklist li .ui-artZoom-left.title_tttl {
	margin-right: 0;
	border-right: 0
}
a.ui-artZoom-right, ._tt_tasklist li .ui-artZoom-right.title_tttl {
	margin-right: 0;
	margin-left: 0
}
a.ui-artZoom-source, ._tt_tasklist li .ui-artZoom-source.title_tttl {
	margin-left: 0
}
a.ui-artZoom-left:active, ._tt_tasklist li .ui-artZoom-left.title_tttl:active, a.ui-artZoom-right:active, ._tt_tasklist li .ui-artZoom-right.title_tttl:active, a.ui-artZoom-source:active, ._tt_tasklist li .ui-artZoom-source.title_tttl:active {
	top: 0
}
.ui-artZoom-buttons a span, .ui-artZoom-buttons ._tt_tasklist li .title_tttl span, ._tt_tasklist li .ui-artZoom-buttons .title_tttl span {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: auto 3px auto auto;
	position: relative;
	top: 0;
*top:0;
	background-image: url(icons.png);
	background-repeat: no-repeat;
*font-size:0;
	vertical-align: middle
}
a.ui-artZoom-right span, ._tt_tasklist li .ui-artZoom-right.title_tttl span, .ui-artZoom-noLoad .ui-artZoom-buttons a.ui-artZoom-right span, .ui-artZoom-noLoad .ui-artZoom-buttons ._tt_tasklist li .ui-artZoom-right.title_tttl span, ._tt_tasklist li .ui-artZoom-noLoad .ui-artZoom-buttons .ui-artZoom-right.title_tttl span {
	background-position: 0 -0
}
a.ui-artZoom-left span, ._tt_tasklist li .ui-artZoom-left.title_tttl span, .ui-artZoom-noLoad .ui-artZoom-buttons a.ui-artZoom-left span, .ui-artZoom-noLoad .ui-artZoom-buttons ._tt_tasklist li .ui-artZoom-left.title_tttl span, ._tt_tasklist li .ui-artZoom-noLoad .ui-artZoom-buttons .ui-artZoom-left.title_tttl span {
	background-position: -12px 0
}
a.ui-artZoom-hide span, ._tt_tasklist li .ui-artZoom-hide.title_tttl span, .ui-artZoom-noLoad .ui-artZoom-buttons a.ui-artZoom-hide span, .ui-artZoom-noLoad .ui-artZoom-buttons ._tt_tasklist li .ui-artZoom-hide.title_tttl span, ._tt_tasklist li .ui-artZoom-noLoad .ui-artZoom-buttons .ui-artZoom-hide.title_tttl span {
	background-position: -36px 0
}
a.ui-artZoom-source span, ._tt_tasklist li .ui-artZoom-source.title_tttl span {
	background-position: -24px 0
}
a.ui-artZoom-right:hover span, ._tt_tasklist li .ui-artZoom-right.title_tttl:hover span, a.ui-artZoom-right:active span, ._tt_tasklist li .ui-artZoom-right.title_tttl:active span {
	background-position: 0 -12px
}
a.ui-artZoom-left:hover span, ._tt_tasklist li .ui-artZoom-left.title_tttl:hover span, a.ui-artZoom-left:active span, ._tt_tasklist li .ui-artZoom-left.title_tttl:active span {
	background-position: -12px -12px
}
a.ui-artZoom-source:hover span, ._tt_tasklist li .ui-artZoom-source.title_tttl:hover span, a.ui-artZoom-source:active span, ._tt_tasklist li .ui-artZoom-source.title_tttl:active span {
	background-position: -24px -12px
}
a.ui-artZoom-hide:hover span, ._tt_tasklist li .ui-artZoom-hide.title_tttl:hover span, a.ui-artZoom-hide:active span, ._tt_tasklist li .ui-artZoom-hide.title_tttl:active span {
	background-position: -36px -12px
}
.ui-artZoom-show {
	background: transparent
}
.ui-artZoom-ready .ui-artZoom-photo {
	font-size: 0;
	line-height: 0
}
.ui-artZoom-box{line-height:0}
/*ui-artZoom*/

.videoclass50_50 {
	background: url(video50.png) center no-repeat;
	padding: 3px 9px;
	width: 68px;
	height: 50px;
	margin: -3px -9px;
}
.comment-reply-form{
	padding: 10px 0;
	margin: 0 20px;
	border-top:1px solid #DDD;
}
.comment-reply-form .itemfeed{
	border:none;
}
.comment-page .pagination{
	margin:10px 0;
}
.img_50_50{
	max-width: 50px;
	max-height: 50px;
}
* .img_50_50{
	width: expression(this.width > 50 && this.width>=this.height ? 50 : true);
	height: expression(this.height > 50 && this.width<=this.height ? 50 : true);
}
.publishsharewrap{
	position:relative;
}
.line_publishsharewrap  textarea {
	height: 25px
}
.line_publishsharewrap .count_cpsw {
	display: none
}
.line_publishsharewrap .action_cpsw {
	display: none
}
.itemfeed .publishsharewrap {
	margin-left: 60px;
}
.wrap_tcpsw .writein {
	color: #333;
}
.count_cpsw {
	padding: 3px 0;
	color: #aaa;
	text-align: right;
	font-size: 12px;
	line-height: 14px;
	font-family: Verdana, Arial;
}
.count_cpsw span {
	margin: 0;
}
.cur_num_input {
	color: #666;
}
.action_cpsw {
	padding: 5px 10px;
	text-align: right;
	background-color:#F7F7F7;
	border-style:solid;
	border-color:#e1e1e1;
	border-width:0px 1px 1px 1px;
}
.list_acpsw {
	float: left;
	padding-top: 4px;
	padding-left: 1px;
	margin: 0;
}
.list_acpsw li {
	padding-bottom: 1px;
	float: left;
	display: inline;
	margin-right: 10px;
	font: 12px/14px '\5B8B\4F53', '\65B0\5B8B\4F53', sans-serif;
	line-height: 20px;
}
.list_acpsw .item_lacpsw {
	background-image: url(ico_pub.gif);
	background-repeat: no-repeat;
	display: inline-block;
	text-align: left;
	overflow: hidden;
	color: #aaa;
	text-decoration: none;
}
.ament_lacpsw .item_lacpsw {
	background-position: 0 -78px;
	padding-left: 12px;
}
.ament_lacpsw .item_lacpsw:hover {
	background-position: 0 -119px;
	color: #0aa7da;
}
.emotion_lacpsw .item_lacpsw {
	background-position: 0 -240px;
	padding-left: 19px;
}
.emotion_lacpsw .item_lacpsw:hover {
	background-position: 0 -279px;
	color: #C63;
}
.textarea_cpsw {
	border: 1px solid #e1e1e1;
	padding: 3px;
	background: #fff;
}
.wrap_tcpsw {
	background: #fff;
}
.wrap_tcpsw textarea {
	width: 100%;
	height: 25px;
	border: 0 none;
	color: #aaa;
	font: 14px/22px Verdana,'\5B8B\4F53','\65B0\5B8B\4F53',sans-serif;
	outline: 0;
	padding: 0;
	margin: 0;
	background: #fff;
}

.list_acpsw .item_lacpsw {
	background-image: url(ico_pub.gif);
	background-repeat: no-repeat;
	display: inline-block;
	text-align: left;
	overflow: hidden;
	color: #aaa;
	text-decoration: none;
}
.at_lacpsw .item_lacpsw {
	background-position: 0 -158px;
	padding-left: 19px;
}
.at_lacpsw .item_lacpsw:hover {
	background-position: 0 -199px;
	color: #37B201;
}
.actionUploadAttachment {
	width: 136px;
	padding: 5px 1px;
	border: 1px solid #ccc;
	background-color: #fff;
	font-family: "5B8B\4F53";
	font-size: 12px;
	line-height: 14px;
	position: absolute;
	left: 0;
	z-index: 998;
}
.actionUploadAttachment .local_auatth a{
	background-position: 10px 9px;
}
.actionUploadAttachment a {
	color: #666;
	text-decoration: none;
	padding: 8px 0 8px 30px;
	text-align: left;
	display: block;
	background: url(ico_upload.gif) no-repeat;
}
.actionUploadAttachment .own_auatth a, .actionUploadAttachment .own_auatth ._tt_tasklist li .title_tttl, ._tt_tasklist li .actionUploadAttachment .own_auatth .title_tttl {
	background-position: 10px -24px;
}
.actionUploadAttachment a:hover, .actionUploadAttachment ._tt_tasklist li .title_tttl:hover, ._tt_tasklist li .actionUploadAttachment .title_tttl:hover {
	background-color: #f0efef;
	color: #666;
}
.actionUploadAttachment .hover_local_auatth a, .actionUploadAttachment .hover_local_auatth ._tt_tasklist li .title_tttl, ._tt_tasklist li .actionUploadAttachment .hover_local_auatth .title_tttl {
	background-color: #f0efef;
	color: #666;
}
.local_auatth input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	-ms-filter: 'alpha(opacity=0)';
	font-size: 200px;
	direction: ltr;
	cursor: pointer;
	width:150px;
	height:50px;
}
.down_quna_cpsw {
	padding-right: 12px;
	background: url(ico_pub.gif) no-repeat right -318px;
	display: inline-block;
}
.quna_cpsw {
	margin-right: 10px;
	color: #666;
	vertical-align: middle;
	cursor: pointer;
	font: 12px/14px Verdana, '\5B8B\4F53', '\65B0\5B8B\4F53', sans-serif;
}

.attachmentContainer {
	text-align: left;
	zoom: 1;
	padding-top:8px; 
}
.attachment_previewer{
	margin-right:20px;
	float:left;
	width:180px;
	overflow:hidden
}
.attachmentviewbox p {
	margin: 0 ;
}
.view_attvb {
	padding: 10px 0;
	font-size: 12px;
	line-height: 22px;
}
.view_attvb span {
	color: #aaa;
	margin-left: 5px;
}
.ico_vattvb {
	float: left;
	margin-right: 10px;
	min-height:50px;
}
.ico_name{
	height:25px;
	overflow:hidden;
}


.cancel_cpsw {
	text-decoration: none;
	display: table-cell;
	display: inline-block;
	vertical-align: middle;
	font: 12px/14px '\5B8B\4F53','\65B0\5B8B\4F53',sans-serif;
}
.cancel_cpsw i {
	display: block;
	font-style: normal;
	font-weight: 400;
	padding: 4px 10px;
	color: #aaa;
	cursor: pointer;
}
.cancel_cpsw:hover i {
	color:#08c
}

.itemfeed {
	font-size: 12px;
	line-height: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 5px 0 5px;
	
	border-top: 1px solid #e7e7e7;
	*zoom:1
}
.comment_ifed .itemfeed{
	border-top: none;
}
.left_ifed img{
	width:35px;
	height:35px;
}
.right_ifed {
	padding-left: 45px
}
.cmt_fed .Topcarousel{
	width:30px;
	height:30px;
	line-height: 30px;
	margin-top:0;
}

.cmt_fed img.img-circle{
	width:30px;
	height:30px;
}
.dateline_fed {
	padding: 4px 5px 4px 27px;
	font: 12px/14px Verdana, "\5B8B\4F53", "\65B0\5B8B\4F53", sans-serif;
	color: #aaa;
	background: url(lock_line.gif) no-repeat 0 0;
	position: relative;
	float: right
}
.left_ifed {
	float: left;
	position: relative;
	top: 4px;
	left: 0;
	z-index: 1
}

.left_ifed a {
	display: block;
	width: 35px;
	height: 37px;
	overflow: hidden;
	color: #aaa;
	text-decoration: none

}

.source_fed {
	color: #aaa;
	padding-bottom: 2px;
	font: 12px/20px Verdana, "\5B8B\4F53", "\65B0\5B8B\4F53", sans-serif
}
.source_fed a{
	text-decoration: none
}
.source_fed span {
	color: #aaa
}
.appuser_sfed {
	vertical-align: middle;
	margin-left: 5px;
	margin-right: 5px;
	color: #145c98
}
.cont_sfed {
	vertical-align: middle
}
.master_mfed {
	font-size: 14px;
	padding: 5px;
	color: #000;
	line-height: 22px;
	word-break: break-all;
	word-wrap: break-word
}
.item_afed{
	padding-bottom:10px;
}
.item_afed:hover {
    background-color: #FBFBFB;
}
.lquote_mmfed {
	width: 16px;
	height: 11px;
	margin-right: 5px;
	line-height: 999px;
	background: url(ico_feed.png) no-repeat -25px 0;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden
}
.rquote_mmfed {
	width: 16px;
	height: 11px;
	margin-left: 5px;
	line-height: 999px;
	background: url(ico_feed.png) no-repeat -50px 0;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden
}
.itemfeed .comment_ifed {
	padding:5px 0 
}

.main_fed{
	min-height:60px;	
}
.action_mfed {
	height: 26px;
	color: #aaa;
	padding: 10px 0 0;
	position: relative;
	z-index: 2
}
.btn_amfed {
	float: right;
	display:none;
}
.main_fed:hover .btn_amfed {
	display:inline-block
}
.btn_amfed li {
	float: left;
	display: inline;
	margin-left: 10px;
	line-height: 0
}
.btn_amfed a {
	line-height: 14px;
	text-decoration: none;
	color: #aaa;
	font-size: 12px
}
.btn_amfed i {
	font-style: normal
}
.reply_bamfed a {
	height: auto\0;
*height:auto
}
.reply_bamfed a i {
	line-height: 12px\0;
	cursor: pointer
}
.from_fed {
	margin-left: 10px;
	text-decoration: none;
	color: #aaa
}
.comment_fed {
	border-top: 1px solid #e1e1e1
}
.comment_fed .pic_fed {
	padding-left: 0;
	padding-right: 0
}
.comment_fed .file_fed {
	padding-left: 0;
	padding-right: 0
}
.cmt_fed .linksrc_fed {
	color: #145c98
}
.cmt_fed .topicsrc_fed {
	color: #145c98
}
.cmt_fed .atsrc_fed {
	color: #145c98
}
.count_fed {
	margin: 0 5px
}
.count_fed a {
	color: #aaa;
	text-decoration: none
}
.count_fed a:hover {
	background-position: right -162px;
	color: #145c98
}
.txt_cfed {
	padding: 5px 0;
	line-height: 0
}
.txt_cfed i {
	width: 4px;
	height: 14px;
	margin-left: 4px;
	background: url(ico_feed.png) no-repeat 0 -26px;
	display: inline-block;
	vertical-align: middle
}
.txt_cfed a:hover i {
	background-position: 0 -51px
}
.txt_cfed .cur i {
	background-position: -25px -26px
}
.txt_cfed .cur:hover i {
	background-position: -25px -51px
}
.corner_lfed {
	margin-top: -6px;
	text-align: right;
	_margin-top: -14px;
	line-height: 0
}
.corner_lfed span {
	width: 11px;
	height: 6px;
	margin-right: 4px;
	background: url(comment_triangle.gif) no-repeat bottom center;
	display: inline-block
}
.item .list_fed {
	padding-left: 60px
}
.cmt_fed {
	/*padding: 0 5px;*/
	margin-top: 1px;
*zoom:1
}
.item_cfed {
	padding: 10px 0 10px 40px;
	position: relative;
	height: auto!important;
	height: 30px;
	min-height: 30px
}
.left_icfed {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 8px;
	left: 0;
	overflow: hidden
}
.master_cfed {
	color: #666;
	font-size: 12px;
	line-height: 20px;
	margin-top: -4px;
	word-break: break-all;
	word-wrap: break-word
}

.dehua_mcfed {
	font-weight: 700;
	cursor: pointer
}
.dehua_mcfed:hover {
	color: #2d83cf
}
.action_cfed {
	height: 18px;
	color: #aaa;
	padding-top: 5px
}
.action_cfed .lock_fed {
	margin-right: 2px
}
.btn_acfed {
	float: right;
	display: none
}
.btn_acfed li {
	float: left;
	display: inline;
	height: 18px;
	line-height: 18px;
	margin-left: 10px
}
.hover_cmt_fed {
	background: #fbfbfb
}
.hover_cmt_fed .btn_acfed {
	display: inline
}
.hover_cmt_fed .skip_cmfed {
	color: #145c98
}
.hover_cmt_fed .skip_cmfed:hover {
	color: #2d83cf
}
.hover_cmt_fed .btn_acfed a {
	color: #145c98
}
.hover_cmt_fed .btn_acfed a:hover {
	color: #2d83cf
}
.hover_cmt_fed .master_cfed a{
	color: #145c98
}
.hover_cmt_fed .master_cfed a:hover {
	color: #2d83cf
}
.who_cpsw {
	display: none;
	background-color:#F7F7F7;
	padding: 3px 10px;
	border-color:#e1e1e1;
	border-width:1px 1px 0 1px;
	border-style:solid;
}
.who_cpsw span {
	vertical-align: middle;
}
.pic_fed {
	padding: 7px 0 0;
	color: #666;
	
	overflow: hidden
}
.pic_fed a, .pic_fed ._tt_tasklist li .title_tttl, ._tt_tasklist li .pic_fed .title_tttl {
	text-decoration: none;
	color: #666
}
.img_pfed .txt_ipfed {
	padding: 2px 5px;
	border: 1px solid #aaa;
	display: inline-block
}
.img_pfed .artZoom {
	display: block;
	border: solid 1px #d0d9da;
	padding: 3px
}
.img_pfed .min_ipfed {
	display: inline-block
}
.img_pfed .min_ipfed img {
	max-width: 100%;
	/*max-height: 80px*/
}

.name_pfed {
	padding-top: 5px;
	line-height: 20px
}
.kb_pfed {
	color: #aaa;
	padding-left: 5px
}
.file_fed {
	padding: 10px 0 0 5px;
	color: #666;
	line-height: 20px
}
.file_fed a{
	text-decoration: none;
	color: #666
}
.imgfile_fed {
	padding: 0 0 5px 10px
}
.ico_ffed {
	float: left;
	margin-right: 10px;
	margin-top: 3px;
	min-height:50px;
}
.name_ffed {
	line-height: 20px;
	word-break: break-all;
	word-wrap: break-word
}
.kb_nffed {
	color: #aaa;
	padding-left: 5px
}
.file_ffed {
	float: left;
	margin-right: 10px;
	margin-top: 3px
}
.down_ffed {
	padding-top: 5px;
	line-height: 14px
}
.imgfile_fed .down_ffed {
	margin:0;
}
.down_ffed a{
	padding-top: 1px;
	margin-right: 10px;
	padding-bottom: 1px;
	background: url(ico_feed.png) no-repeat 0 0;
	display: inline-block;
	font: 12px/14px Verdana, "\5B8B\4F53", "\65B0\5B8B\4F53", sans-serif
}
.down_ffed .btn_dffed {
	padding-left: 13px;
	background-position: 0 -115px
}
.down_ffed .btn_dffed:hover {
	background-position: 0 -381px
}
.down_ffed .preview_dffed {
	padding-left: 17px;
	background-position: 0 -317px
}
.down_ffed .preview_dffed:hover {
	background-position: 0 -349px
}
.down_ffed .save_dffed {
	padding-left: 15px;
	background-position: 0 -733px
}
.down_ffed .save_dffed:hover {
	background-position: 0 -765px
}


.sllt {
	padding: 4px;
	border: 1px solid;
	min-width: 60px;
	border-color: #DDD;
	background: #FEFEFE;
	box-shadow: 1px 2px 2px rgba(0,0,0,0.3);
}
.sllt { padding: 5px !important; }
.sllt .sllt-wrap{
	width:288px;
	height:188px;
}
.sllt td { padding: 6px; border: none; cursor: pointer; }
.sllt_p { *float: left; text-align: right; }
	.sllt_p a { margin-right: 5px; font-size:12px;}
.sl_pv { margin-top: 5px; padding: 8px; background: #FAFAFA; border: 1px solid #CCC; }
.ie6 .slg, .ie7 .slg { width: expression(this.parentNode.offsetWidth); }