<!--{template lyear:header_simple_start}-->
<script src="admin/scripts/admin.js?{VERHASH}"></script>
<!--{template lyear:header_simple_end}-->
<main class="bs-main-container">
  <div class="container-fluid">
      <div class="card">
          <div class="card-body">
            <ul class="nav nav-pills">
              <li class="nav-item"><a class="nav-link" href="{MOD_URL}&operation=smileyset">{lang expression_set}</a> </li>
              <li class="nav-item"><a class="nav-link active" href="{MOD_URL}&op=smiley">{lang expression_class}</a> </li>
            </ul>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <form id="appform" name="appform" action="{MOD_URL}&op=smiley" method="post">
              <input type="hidden" name="smileysubmit" value="true" />
              <input type="hidden" name="formhash" value="{FORMHASH}" />
              <div class="table-responsive">
                <table class="table table-hover align-middle">
                  <thead>
                    <th width="50">&nbsp;</th>
                    <th>{lang sort}</th>
                    <th>{lang enable}</th>
                    <th>{lang classify}</th>
                    <th>{lang catalogue}</th>
                    <th>{lang number}</th>
                    <th></th>
                  </thead>
                  <!--{loop $list $value}-->
                  <tr>
                    <td align="center"><label><input type="checkbox"  class="form-check-input" name="delete[]" value="$value[typeid]" <!--{if $value[smiliesnum]}-->disabled<!--{/if}--> /></label></td>
                    <td><input type="text" class="form-control" name="displayordernew[{$value[typeid]}]" value="$value[displayorder]" style="width:45px;" /></td>
                    <td><label><input type="checkbox"  class="form-check-input" name="availablenew[{$value[typeid]}]" value="1" <!--{if $value[available]}-->checked<!--{/if}--> /></label></td>
                    <td><input type="text" class="form-control " name="namenew[{$value[typeid]}]" value="$value[name]" /></td>
                    <td>./static/image/smiley/{$value[directory]}</td>
                    <td>$value[smiliesnum] <input type="hidden" name="smiliesnum[{$value[typeid]}]" value="$value[smiliesnum]" /></td>
                    <td><a href="{MOD_URL}&op=smiley&operation=update&id=$value[typeid]" class="btn btn-outline-primary btn-sm" onclick="return confirm('{lang seeting_smiley_search}')">{lang update}</a>&nbsp;&nbsp; <a href="{MOD_URL}&op=smiley&operation=edit&id=$value[typeid]" class="btn btn-outline-success btn-sm">{lang detailedness}</a></td>
                  </tr>
                  <!--{/loop}--> 
                  <!--{if $list_no}--> 
                  <!--{loop $list_no $key $value1}-->
                  <tr>
                    <td align="center">{lang add_new}</td>
                    <td><input type="text" class="form-control " style="width:45px" name="newdisplayorder[{$key}]" value="$value1[displayorder]" /></td>
                    <td><label><input type="checkbox"  class="form-check-input" name="newavailable[{$key}]" value="1" <!--{if $value1[available]}-->checked<!--{/if}-->></label></td>
                    <td><input type="text" class="form-control " name="newname[{$key}]" value="" /></td>
                    <td>./static/image/smiley/{$value1[entry]}
                      <input type="hidden" name="newdirectory[{$key}]" value="$value1[entry]"></td>
                    <td>$value1[smnums]
                      <input type="hidden" name="smnums[{$key}]" value="$value1[smnums]" /></td>
                    <td>$value1[smilies]</td>
                  </tr>
                  <!--{/loop}--> 
                  <!--{else}-->
                  <tr>
                    <td align="center">{lang add_new}</td>
                    <td colspan="15"><span class="form-text">{lang seeting_add_new}</span></td>
                  </tr>
                  <!--{/if}-->
                  <thead>
                  <th colspan="15" valign="middle"  style="border:none"><label for="chkall" class="checkbox-inline">
                        <input type="checkbox"  class="form-check-input" name="chkall" id="chkall"  onclick="checkAll('prefix', this.form, 'delete')">
                        &nbsp;{lang del}</label>
                      &nbsp;&nbsp;
                      <input type="submit" class="btn btn-primary btn-round bodyloading" value="{lang submit}" />
                  </th>
                  </thead>
                </table>
              </div>
            </form>
            <div class="mt-2 alert alert-warning alert-dismissible fade show" role="alert">
              <strong>{lang board_message}</strong><ul class="mb-0">{lang seeting_smiley_board_message_state}</ul>
              <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
      </div>
  </div>
</main>
<!--{template lyear:footer_simple}-->