<!--{eval updatesession();}-->
<!--{if debuginfo()}-->
<script type="text/javascript">
try{
	if(console && console.log){
		console.log('Processed in $_G[debuginfo][time] second(s), $_G[debuginfo][queries] queries <!--{if $_G[gzipcompress]}-->, Gzip On<!--{/if}--><!--{if C::memory()->type}-->, <!--{echo ucwords(C::memory()->type)}--> On<!--{/if}-->.');
	}
}catch(e){}
</script>
<!--{/if}-->		
<script type="text/javascript">
try{
	jQuery(document).on('mousedown',function(){
		try{if(top!=window) top.dfire('mousedown');}catch(e){}
	});
	if ("onfocusin" in document){//for IE 
		document.onfocusin = function() {
			top.CurrentActive = true;
		};
		document.onfocusout = function() {
			top.CurrentActive = false;
		};
	} else {
		window.onfocus = function() {
			top.CurrentActive = true;
		}
		window.onblur = function() {
			top.CurrentActive = false;
		}
	}
	
	jQuery(document).ready(function(e) {
        try{api.showLoading('hide');}catch(e){}
    });
	window.onbeforeunload=function(){
		try{if(!BROWSER.ie || BROWSER.ie>10) return api.showLoading('show');}catch(e){}
		if(typeof beforeunload =='function') return beforeunload();
	}
}catch(e){}
</script>
<!--{if !isset($_G['cookie']['sendmail'])}-->
	<script type="text/javascript" src="misc.php?mod=sendmail&rand=$_G[timestamp]"></script>
<!--{/if}-->
<!--{if !isset($_G['cookie']['sendwx'])}-->
	<script type="text/javascript" src="misc.php?mod=sendwx&rand=$_G[timestamp]"></script>
<!--{/if}-->
</body>
</html>
