<!DOCTYPE>
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title></title>
	<base href="{$_G['siteurl']}" />
    <script type="text/javascript" src="static/jquery/jquery.min.js?{VERHASH}"></script>
	<script type="text/javascript" src="dzz/scripts/jquery.json-2.4.min.js?{VERHASH}"></script>
	<script type="text/javascript">var DZZSCRIPT='{DZZSCRIPT}',STYLEID = '1', STATICURL = '{STATICURL}', IMGDIR = '{$_G[setting][imgdir]}', VERHASH = '{$_G[setting][verhash]}', charset = '{CHARSET}', dzz_uid = '{$_G[uid]}', cookiepre = '{$_G[config][cookie][cookiepre]}', cookiedomain = '{$_G[config][cookie][cookiedomain]}', cookiepath = '{$_G[config][cookie][cookiepath]}', attackevasive = '{$_G[config][security][attackevasive]}',   SITEURL = '$_G[siteurl]', JSPATH = '$_G[setting][jspath]',disallowfloat=''</script>
	<script type="text/javascript" src="dzz/scripts/_fun.js?{VERHASH}"></script>
	<script type="text/javascript" src="dzz/scripts/dzz.api.js?{VERHASH}"></script>
   <script type="text/javascript">
    try{
		var api=_api.init();
		var win=api.win;
	}catch(e){}
</script>
    </head>
    <body id="nv_{$_G[basescript]}">
	<div id="append_parent" style="z-index:9999;"></div><div id="ajaxwaitid" style="z-index:9999;"></div>