<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>加密分享</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/checkbox.css">
    <script type="text/javascript" src="static/jquery/jquery.min.js"></script>
    <style type="text/css">
        .en-encryption{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 500px;
            height: 150px;
        }
        .en-encryption .panel-heading{
            background-color: #2196f3;
            color: #fff;
            border-color: #2196f3;
        }
    </style>
</head>
<body>
<div class="container">
    <!--面板开始-->
    <div class="panel panel-default en-encryption">
        <div class="panel-heading">DzzOffice加密文件</div>
        <form method="post" action="{$_G[siteurl]}?index.php&mod=shares&sid=$osid">
        <input type="hidden" name="formhash" value="{FORMHASH}" />
        <div class="panel-body">
            <p class="col-md-12 col-sm-12 col-xs-12">请输入提取密码：</p>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <input type="password" placeholder="请填写提取密码" class="form-control" name="password"/>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <button type="submit" class="btn btn-primary" name="passwordsubmit" value="true">提取文件</button>
            </div>

        </div>
        </form>
    </div>
    <!--面板结束-->

</div>
</body>
</html>