<!--{if $list}-->
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <th>{lang operator}</th>
      <th>{lang usergroup}</th>
      <th>{lang ip}</th>
      <th>{lang time}</th>
      <th>{lang info}</th>
    </thead>
      <!--{loop $list $key $log}-->
      <tr>
        <td>$log[2]</td>
        <td>$log[3]</td>
        <td>$log[4]</td>
        <td>$log[1]</td>
        <td>
          <a href="javascript:;" onclick="togglecplog('{$key}')">{eval echo cutstr($log['5'], 200)}</a>
        </td>
      </tr>
      <thead id="cplog_{$key}" style="display:none">
        <td colspan="10">
        {lang loginfo}：<strong><code>$log[5]</code></strong>
        <br/>{lang visit}：<strong><code>$log[6]</code></strong>
        <br/>{lang from}：<strong><code>$log[7]</code></strong>
        <br/>{lang Equipment information}：<strong><code>$log[8]</code></strong></td>
      </thead>
      <!--{/loop}-->
  </table>
  $multi
</div>
<script type="text/javascript">
  function togglecplog(k) {
    var cplogobj = document.getElementById('cplog_' + k);
    if(cplogobj.style.display == 'none') {
      cplogobj.style.display = '';
    } else {
      cplogobj.style.display = 'none';
    }
  }
</script> 
<!--{else}-->
<div style="text-align: center;">
  <img src="static/image/common/no_list.png"><br>
  <span class="no-result-title">没有相关的内容…</span>
</div>
<!--{/if}--> 