<!--{template lyear:header_simple_start}-->
<link href="{MOD_PATH}/css/passsafe.css?{VERHASH}" rel="stylesheet" media="all">
<script src="user/scripts/register.js?{VERHASH}"></script>
<!--{template lyear:header_simple_end}-->
<main class="bs-main-container main-allnotice">
	<div class="container-fluid">
	  <div class="card">
        <div class="card-body">
            <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link {if $do == 'editpass'}active{/if}" href="{MOD_URL}&op=password">{lang password_edit}</a></li>
                <li class="nav-item"><a class="nav-link {if $do == 'login'}active{/if}" href="{MOD_URL}&op=password&do=login">{lang login_log}</a></li>
                <li class="nav-item"><a class="nav-link {if $do == 'changeemail'}active{/if}" href="{MOD_URL}&op=password&do=changeemail"><!--{if $_G['member']['emailstatus']}-->{lang change_user_email}<!--{else}-->{lang bindemail_subject}<!--{/if}--></a></li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
        <!--{if $do == 'editpass'}-->
        <!--{if $my_info}-->
        <div class="alert alert-warning">
            {lang no_modify_password}
        </div>
        <!--{else}-->
        <!--{template lyear:editpass}-->
        <!--{/if}-->
        <!--{elseif $do == 'changeemail'}-->
        <!--{if $my_info}-->
        <div class="alert alert-warning">
            {lang no_modify_group}
        </div>
        <!--{else}-->
        <!--{template lyear:changeemail}-->
        <!--{/if}-->
        <!--{elseif $do == 'login'}-->
            <!--{template lyear:login}-->
        <!--{/if}-->
    </div>
  </div>
</div>
</main>
<!--{template lyear:footer_simple}-->