<!--{loop $groups $v}-->
<tr  class="member_tr Icoblock" onclick="openGroup(this)" data-gid="$v[orgid]">

    <td class="member_item_td" valign="middle" width="50%" style="position: relative;">
        <div class="member_item_td_div member_item_td_name">
            <a href="javascript:;" style="float: left;">
                {eval echo avatar_group($v['orgid']);}
            </a>
            <a href="javascript:;" id="" class="member_text member_item_name_text IcoText_folder"> $v[orgname]</a>
        </div>
    </td>
    <td class="member_item_td" valign="middle" width="20%">
        <span>$v[creater]</span>
    </td>
    <td class="member_item_td" valign="middle" width="10%">
        <span>$v[usernum]</span>
    </td>
    <td class="member_item_td" valign="middle" width="20%">
        <span>{eval echo dgmdate($v['dateline'],'Y-m-d');}</span>
    </td>
</tr>
<!--{/loop}-->