<!--{loop $recyle $v}-->
<tr id="del_{$v[rid]}" class="member_tr Icoblock" data-recycleid="$v[rid]" >
    <td class="member_item_td" valign="middle" width="40%" style="position: relative;">
        <div class="member_item_td_div member_item_td_name">
            <a href="javascript:;" style="float: left;">
                <img src="{$_G['siteurl']}$v[img]" class="member_item_td_images"
                     title="">
            </a>
            <a href="javascript:;" id="" class="member_text member_item_name_text IcoText_folder">$v[filename]</a>
        </div>
    </td>
    <td class="member_item_td" valign="middle" width="10%">
        <span>$v[fsize]</span>
    </td>
    <td class="member_item_td" valign="middle" width="10%">
        <span>{if $v['from']}$v[from]{/if}</span>
    </td>
    <td class="member_item_td" valign="middle" width="10%">
        <span>$v['username']</span>
    </td>
    <td class="member_item_td" valign="middle" width="15%">
        <span>$v[deldateline]</span>
    </td>
    <td class="member_item_td" valign="middle" width="15%">
        <span>$v[finallydate]{lang day}{lang after}</span>
    </td>
</tr>
<!--{/loop}-->
<tr>
    <td style="border: none;">
        <!--{if $next}-->
        <a href="javascript:;" class="btn_button_more btn btn-link btn-block"
           onclick="loading(this,'{$next}');">{lang upload_more}</a>
        <!--{/if}-->
    </td>
</tr>
