<div id="right_ico">
    <ul class="layui-menu layui-dropdown-menu dropdown-menu show border user-select-none">
        <li class="layui-menu-item-parent menu-item open" onclick="_filemanage.Open('{rid}');">
            <div class="layui-menu-body-title dropdown-item"><i class="mdi mdi-folder-open pe-2"></i>{lang open}</div>
        </li>
        <li class="layui-menu-item-parent menu-item openwith has-submenu">
            <div class="layui-menu-body-title dropdown-item"><i class="mdi mdi-open-in-new pe-2"></i>{lang openwith}<i class="layui-icon layui-icon-right"></i></div>
            <div class="layui-panel layui-menu-body-panel dropdown-menu border">
                <ul class="openwithdata">
                </ul>
            </div>
        </li>
        <li class="layui-menu-item-divider">
            <div class="layui-menu-body-title dropdown-item"></div>
        </li>
        <li class="layui-menu-item-parent menu-item download" onclick="_filemanage.downAttach('{rid}');">
            <div class="layui-menu-body-title dropdown-item"><i class="mdi mdi-download pe-2"></i>{lang download}</div>
        </li>
        <li class="layui-menu-item-parent menu-item downpackage" onclick="_filemanage.downpackage('{rid}');">
            <div class="layui-menu-body-title dropdown-item"><i class="mdi mdi-download pe-2"></i>{lang downpackage}</div>
        </li>
        <li class="layui-menu-item-parent menu-item share" onclick="_filemanage.share('{rid}');">
            <div class="layui-menu-body-title dropdown-item"><i class="mdi mdi-share-variant pe-2"></i>{lang share}</div>
        </li>
        <li class="layui-menu-item-parent menu-item collect" onclick="_filemanage.collect('{rid}');">
            <div class="layui-menu-body-title dropdown-item"><i class="mdi mdi-star pe-2"></i><span class="layui-menu-item-text">{lang collect}</span></div>
        </li>
        <li class="layui-menu-item-divider">
            <div class="layui-menu-body-title dropdown-item"></div>
        </li>
        <li class="layui-menu-item-parent menu-item copy" onclick="_filemanage.copy('{rid}');">
            <div class="layui-menu-body-title dropdown-item"><i class="mdi mdi-file-multiple pe-2"></i>{lang copy}</div>
        </li>
        <li class="layui-menu-item-parent menu-item cut" onclick="_filemanage.cut('{rid}');">
            <div class="layui-menu-body-title dropdown-item"><i class="mdi mdi-content-cut pe-2"></i>{lang cut}</div>
        </li>
        <li class="layui-menu-item-parent menu-item paste" onclick="_filemanage.paste('{fid}');">
            <div class="layui-menu-body-title dropdown-item"><i class="mdi mdi-clipboard-file pe-2"></i>{lang paste}</div>
        </li>
        <li class="layui-menu-item-parent menu-item rename" onclick="_filemanage.rename('{rid}');">
            <div class="layui-menu-body-title dropdown-item"><i class="mdi mdi-pencil pe-2"></i>{lang rename}</div>
        </li>
        <li class="layui-menu-item-parent menu-item delete" onclick="_filemanage.delIco('{rid}');">
            <div class="layui-menu-body-title dropdown-item"><i class="mdi mdi-delete pe-2"></i>{lang delete}</div>
        </li>
        <li class="layui-menu-item-parent menu-item has-submenu more-action">
            <div class="layui-menu-body-title dropdown-item"><i class="mdi mdi-dots-vertical pe-2"></i>{lang more}<i class="layui-icon layui-icon-right"></i></div>
            <div class="layui-panel layui-menu-body-panel dropdown-menu border">
                <ul>
                    <li class="menu-item copy clone" onclick="_filemanage.copy('{rid}','{fid}');">
                        <div class="layui-menu-body-title dropdown-item"><i class="mdi mdi-file-document-multiple pe-2"></i>{lang clone}</div>
                    </li>
                    <li class="menu-item history" onclick="_filemanage.history('{rid}');">
                        <div class="layui-menu-body-title dropdown-item"><i class="mdi mdi-file-clock pe-2"></i>{lang history_revision}</div>
                    </li>
                    <li class="menu-item dynamic" onclick="_filemanage.dynamic('{rid}');">
                        <div class="layui-menu-body-title dropdown-item"><i class="mdi mdi-comment-multiple pe-2"></i>{lang dynamic}</div>
                    </li>
                </ul>
            </div>
        </li>
        <li class="layui-menu-item-divider">
            <div class="layui-menu-body-title dropdown-item"></div>
        </li>
        <li class="layui-menu-item-parent menu-item recover" onclick="_filemanage.RecoverFile('{rid}');">
            <div class="layui-menu-body-title dropdown-item"><i class="mdi mdi-rotate-left pe-2"></i>{lang recoverfile}</div>
        </li>
        <li class="layui-menu-item-parent menu-item finallydelete" onclick="_filemanage.finallyDelete('{rid}');">
            <div class="layui-menu-body-title dropdown-item"><i class="mdi mdi-delete pe-2"></i>{lang completely_cancel}</div>
        </li>
        <li class="layui-menu-item-parent menu-item property" onclick="_filemanage.property('{rid}');">
            <div class="layui-menu-body-title dropdown-item"><i class="mdi mdi-sort-variant pe-2"></i>{lang property}</div>
        </li>
    </ul>    
</div>

<div id="right_body">
    <ul class="layui-menu layui-dropdown-menu dropdown-menu show border user-select-none">
        <li class="layui-menu-item-parent menu-item has-submenu">
            <div class="layui-menu-body-title dropdown-item"><i class="mdi mdi-view-split-vertical pe-2"></i>{lang iconviev}<i class="layui-icon layui-icon-right"></i></div>
            <div class="layui-panel layui-menu-body-panel dropdown-menu border">
                <ul>
                    <li class="menu-item" iconview="2" onclick="_filemanage.Arrange(this,'{filemanageid}','2');">
                        <div class="layui-menu-body-title dropdown-item">
                            <span view="2" class="mdi mdi-checkbox-blank-outline menu-icon-iconview pe-2"></span>{lang iconview_2}
                        </div>
                    </li>
                    <li class="menu-item" iconview="4" onclick="_filemanage.Arrange(this,'{filemanageid}','4');">
                        <div class="layui-menu-body-title dropdown-item">
                            <span view="4" class="mdi mdi-checkbox-blank-outline menu-icon-iconview pe-2"></span>{lang iconview_4}
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li class="layui-menu-item-parent menu-item has-submenu">
            <div class="layui-menu-body-title dropdown-item"><i class="mdi mdi-sort pe-2"></i>{lang sort}<i class="layui-icon layui-icon-right"></i></div>
            <div class="layui-panel layui-menu-body-panel sort dropdown-menu border">
                <ul>
                    <li class="menu-item disp0" onclick="_filemanage.Disp(this,'{filemanageid}','0')">
                        <div class="layui-menu-body-title dropdown-item">
                            <span disp="0" class="mdi mdi-checkbox-blank-outline menu-icon-disp menu_icon_disp_0 pe-2"></span>{lang menu_filemanagedisp_0} <span class="caret mdi"></span>
                        </div>
                    </li>
                    <li class="menu-item disp1" onclick="_filemanage.Disp(this,'{filemanageid}','1')">
                        <div class="layui-menu-body-title dropdown-item">
                            <span disp="1" class="mdi mdi-checkbox-blank-outline menu-icon-disp menu_icon_disp_1 pe-2"></span>{lang menu_filemanagedisp_1} <span class="caret mdi"></span>
                        </div>
                    </li>
                    <li class="menu-item disp2" onclick="_filemanage.Disp(this,'{filemanageid}','2')">
                        <div class="layui-menu-body-title dropdown-item">
                            <span disp="2" class="mdi mdi-checkbox-blank-outline menu-icon-disp menu_icon_disp_2 pe-2"></span>{lang menu_filemanagedisp_2} <span class="caret mdi"></span>
                        </div>
                    </li>
                    <li class="menu-item disp3" onclick="_filemanage.Disp(this,'{filemanageid}','3')">
                        <div class="layui-menu-body-title dropdown-item">
                            <span disp="3" class="mdi mdi-checkbox-blank-outline menu-icon-disp menu_icon_disp_3 pe-2"></span>{lang menu_filemanagedisp_3} <span class="caret mdi"></span>
                        </div>
                    </li>
                    <li class="menu-item disp4" onclick="_filemanage.Disp(this,'{filemanageid}','4')">
                        <div class="layui-menu-body-title dropdown-item">
                            <span disp="4" class="mdi mdi-checkbox-blank-outline menu-icon-disp menu_icon_disp_4 pe-2"></span>{lang delete_time} <span class="caret mdi"></span>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li class="layui-menu-item-divider">
            <div class="layui-menu-body-title dropdown-item"></div>
        </li>
        <li class="menu-item paste" onclick="_filemanage.paste('{fid}');">
            <div class="layui-menu-body-title dropdown-item"><span class="mdi mdi-clipboard-file pe-2"></span>{lang paste}</div>
        </li>
        <li class="layui-menu-item-parent menu-item create has-submenu">
            <div class="layui-menu-body-title dropdown-item"><i class="mdi mdi-upload pe-2"></i>{lang new_and_upload}<i class="layui-icon layui-icon-right"></i></div>
            <div class="layui-panel layui-menu-body-panel dropdown-menu border">
                <ul>
                    <li  class="menu-item newfolder" onclick="_filemanage.NewIco('newFolder','{fid}');">
                        <div class="layui-menu-body-title dropdown-item">
                            <span class="mdi mdi-folder pe-2"></span>{lang newfolder}
                        </div>
                    </li>
                    <li class="layui-menu-item-divider">
                        <div class="layui-menu-body-title dropdown-item"></div>
                    </li>
                    <li class="menu-item upload" onclick="jQuery('.js-upload-file input').trigger('click');">
                        <div class="layui-menu-body-title dropdown-item">
                            <span class="mdi mdi-upload pe-2"></span>{lang uploadfile}
                        </div>
                    </li>
                    <li class="menu-item uploadfolder" onclick="jQuery('.js-upload-folder input').trigger('click');">
                        <div class="layui-menu-body-title dropdown-item">
                            <span class="mdi mdi-folder pe-2"></span>{lang uploadfolder}
                        </div>
                    </li>
                    <li class="layui-menu-item-divider">
                        <div class="layui-menu-body-title dropdown-item"></div>
                    </li>
                    <li class="menu-item newlink" onclick="_filemanage.NewIco('newLink','{fid}');">
                        <div class="layui-menu-body-title dropdown-item">
                            <span class="mdi mdi-web pe-2"></span>{lang newlink}
                        </div>
                    </li>
                    <li class="menu-item newtext" onclick="_filemanage.NewIco('newTxt','{fid}');">
                        <div class="layui-menu-body-title dropdown-item">
                            <span class="mdi mdi-file pe-2"></span>{lang extname_txt}
                        </div>
                    </li>
                    <li class="menu-item newdoc" onclick="_filemanage.NewIco('newDoc','{fid}');">
                        <div class="layui-menu-body-title dropdown-item">
                            <span class="mdi mdi-file-word filee-icon filee-file-text pe-2"></span>{lang newdoc}
                        </div>
                    </li>
                    <li class="menu-item newexcel" onclick="_filemanage.NewIco('newExcel','{fid}');">
                        <div class="layui-menu-body-title dropdown-item">
                            <span class="mdi mdi-file-excel filee-icon filee-file-excel pe-2"></span>{lang newexcel}
                        </div>
                    </li>
                    <li class="menu-item newpowerpoint" onclick="_filemanage.NewIco('newPowerPoint','{fid}');">
                        <div class="layui-menu-body-title dropdown-item">
                            <span class="mdi mdi-file-compare filee-icon filee-file-ppt pe-2"></span>{lang newpowerpoint}
                        </div>
                    </li>
                    <li class="menu-item newpdf" onclick="_filemanage.NewIco('newpdf','{fid}');">
                        <div class="layui-menu-body-title dropdown-item">
                            <span class="mdi mdi-file-pdf-box filee-icon filee-file-pdf pe-2"></span>{lang newpdf}
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li class="layui-menu-item-divider">
            <div class="layui-menu-body-title dropdown-item"></div>
        </li>
        <li class="menu-item recoverall" onclick="_filemanage.recoverAll();">
            <div class="layui-menu-body-title dropdown-item"><span class="mdi mdi-rotate-left pe-2"></span>{lang recover_all_file}</div>
        </li>
        <li class="menu-item deleteall" onclick="_filemanage.deleteAll();">
            <div class="layui-menu-body-title dropdown-item"><span class="mdi mdi-delete pe-2"></span>{lang finallydelete_all_file}</div>
        </li>
        <li class="menu-item property" onclick="window.location.reload();">
            <div class="layui-menu-body-title dropdown-item"><span class="mdi mdi-sync pe-2"></span>{lang refresh}</div>
        </li>
        <li class="menu-item property" onclick="_filemanage.property('{fid}',1);">
            <div class="layui-menu-body-title dropdown-item"><span class="mdi mdi-sort-variant pe-2"></span>{lang property}</div>
        </li>
    </ul>
</div>