<div class="rightBorder" id="rightinfo_content">
    <div class="briefMenu modal-header dtheme border-bottom clearfix">
        <div class="modal-title">
            <!--{if $fileinfo['isgroup'] && $fileinfo['gid']}-->
            <a href="javascript:;" class="right-topbackground">
                {eval echo avatar_group($fileinfo['gid']);}
            </a>
            <!--{elseif $fileinfo['flag'] == 'home'}-->
            <i class="mdi mdi-account-box text-primary right-topicon"></i>
            <!--{elseif $fileinfo['ismulti']}-->
            <i class="mdi mdi-file-multiple text-primary right-topicon"></i>
            <!--{elseif $bz && $fileinfo['bz']}-->
            <img src="dzz/images/default/system/{$fileinfo['bz']}.png">
            <!--{elseif $fileinfo[img]}-->
            <img src="$fileinfo[img]">
            <!--{else}-->
            <img src="dzz/images/default/system/folder.png">
            <!--{/if}-->
            <span class="text-truncate fs-6 ps-1" title="$fileinfo[name]">
                <!--{if $fileinfo['ismulti']}-->
                {lang more_select}
                <!--{elseif $fileinfo[name]}-->$fileinfo[name]
                <!--{elseif $fileinfo[fname]}-->$fileinfo[fname]
                <!--{/if}-->
            </span>
            <button type="button" class="toggRight btn-close"></button>
        </div>
    </div>
    <div class="tab-content scroll-y" id="myTabContent" data-subtractor="49">
        <div class="tab-pane p-2 fade show active" id="index" role="tabpanel" aria-labelledby="index-tab">
            <!--{template template_property_list}-->
            <!--{if $perms}-->
            <div class="border-top p-1">
                <div class="right-card-header">
                    <div class="title">{lang my_permission}</div>
                </div>
                <div class="right-card-body">
                    <!--{if $myperm}-->
                    <ul class="proper-show proper-poewr">
                        <!--{loop $perms $k $val}-->
                        <li <!--{if $myperm & $val[1]}-->style="display:block;"<!--{else}-->style="display:none;"<!--{/if}-->><span class="{$val[2]}" title="$val[0]"></span></li>
                        <!--{/loop}-->
                    </ul>
                    <!--{else}-->
                    <div class="text-center">
                        <img src="static/image/common/no_list.png">
                        <p>{lang no_permission}</p>
                    </div>
                    <!--{/if}-->
                </div>
            </div>
            <!--{/if}-->
            <!--关于开始-->
            <!--{if $org}-->
            <div class="border-top p-1">
                <div class="right-card-header">
                    <div class="title">{lang about}<!--{if $org[type]== '1'}-->{lang group}<!--{else}--><!--{if $org[forgid]>0}-->{lang department}<!--{else}-->{lang organization}<!--{/if}--><!--{/if}--> <i class="ms-1 mdi mdi-information-outline" data-toggle="tooltip" data-placement="right" title="机构部门需前往机构用户中进行管理"></i></div>
                    <!--{if $usergroupperm && $org['type']}-->
                    <button type="button" class="groupbutton dcolor" onclick="showWindow('groupsetting','{MOD_URL}&op=group&do=group_ajax&operation=groupsetting&gid=$fileinfo['gid']','get',0)">
                        <span class="mdi mdi-cog"></span>
                    </button>
                    <!--{/if}-->
                </div>
                <div class="right-card-body">
                    <!--{if $org[desc]}-->
                    <div class="row mb-1">
                        <label class="col-sm-3">{lang introduce}</label>
                        <div class="col-sm-9">
                            $org[desc]
                        </div>
                    </div>
                    <!--{/if}-->
                    <div class="d-flex">
                        <label class="col-sm-3">{lang status}</label>
                        <div class="col-sm-9">
                            <div class="form-check form-switch">
                                <input type="checkbox" class="form-check-input" disabled="" readonly name="syatemon" data-name="manageon" <!--{if $org[diron] && $org[diron]}--> checked <!--{/if}-->>
                            </div>
                            <span class="form-text">{lang close_group_tips}</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--{/if}-->
            <!--关于结束-->
            <!--{if !$fileinfo['ismulti'] && !$bz && !$fileinfo[isfolder]}-->
            <!--历史版本开始-->
            <div class="historyMenu border-top">
                <div class="right-card-header p-1">
                    <div class="title">{lang history_revision}</div>
                    <!--{if $fileinfo['editperm'] && $_G['setting']['fileVersion'] && ($_G['setting']['fileVersionNumber'] == 0 || $_G['setting']['fileVersionNumber'] > $versionnums )}-->
                    <div class="upload">
                        <button type="button" class="dcolor conpile-poewr" title="{lang upload_update}">
                            <span class="mdi mdi-file-upload fs-6"></span>
                            <input type="file" name="files[]" class="version_upload_file" onclick="historyupload(this,'{$fileinfo['rid']}')"/>
                        </button>
                    </div>
                    <!--{/if}-->
                </div>
                <div class="right-card-body">
                    <ul class="list-group list-group-flush" id="versionmenulist">
                        <!--{if $versions}-->
                        <!--{loop $versions $v}-->
                        <li class="list-group-item d-flex justify-content-between align-items-start version_menu version_{$v[vid]}">
                            <div class="unameMenu-upload">
                                <div class="fw-bold text-truncate"><!--{if !$v['vname']}-->$v['username']<!--{else}-->$v[vname]<!--{/if}--></div>
                                <!--{if $v['vdesc']}--><span class="form-text text-truncate">$v['vdesc']</span><!--{/if}-->
                                <div class="versioninfos">
                                    {eval echo dgmdate($v['dateline'],'Y-m-d H:i:s');}
                                    <!--{if $fileinfo['vid'] == $v['vid']}--><span class="badge badge-outline-primary">{lang principal_edition}</span><!--{/if}-->
                                </div>
                            </div>
                            <span class="editMenu">{eval echo formatsize($v['size']);}</span>
                            <a href="javascript:;" class="group-editMenu dropdown-toggle fs-5" data-toggle="dropdown"></a>
                            <ul class="dropdown-menu dropdown-menu-version">
                                <li><a class="dropdown-item" href="javascript:;" data-rid="$v[rid]" data-vid="$v[vid]" onclick="infoversion(this)"><i class="mdi mdi-information-variant"></i><span class="file-text">{lang version_information}</span></a></li>
                                <li>
                                    <a href="javascript:;" class="view_versions dropdown-item" data-dpath="$fileinfo[dpath]" data-vid="$v[vid]" onclick="viewversion(this)">
                                        <i class="mdi mdi-eye"></i><span class="file-text">{lang view_version}</span>
                                    </a>
                                </li>
                                <!--{if $fileinfo['editperm']}-->
                                <!--{if $v[vid]}-->
                                <li>
                                    <a href="javascript:;" class="primary_versions dropdown-item" data-rid="$fileinfo[rid]" data-vid="$v[vid]" <!--{if $fileinfo['vid'] == $v['vid']}-->data-primary="yes"<!--{else}--> data-primary="no"<!--{/if}--> onclick="primaryVersion(this)"><i class="mdi mdi-flare"></i><span class="file-text">{lang sign_principal_edition}</span></a>
                                </li>
                                <!--{/if}-->
                                <li>
                                    <a href="javascript:;" class="edit_versions dropdown-item" data-rid="$fileinfo[rid]" data-vid="$v[vid]" onclick="editVersionName(this)">
                                        <i class="mdi mdi-pencil"></i><span class="file-text">{lang edit_version_information}</span>
                                    </a>
                                </li>
                                <!--{if $v[vid]}-->
                                <li>
                                    <a href="javascript:;" class="delete_versions dropdown-item" data-rid="$fileinfo[rid]" data-vid="$v[vid]" onclick="deletethisversion(this)">
                                        <i class="mdi mdi-delete"></i><span class="file-text">{lang delete_this_version}</span>
                                    </a>
                                </li>
                                <!--{/if}-->
                                <!--{/if}-->
                            </ul>
                        </li>
                        <!--{/loop}-->
                        <!--{else}-->
                        <li class="list-group-item d-flex justify-content-between align-items-start version_menu version_0">
                            <div class="unameMenu-upload">
                                <div class="fw-bold text-truncate">$fileinfo['username']</div>
                                <div class="versioninfos">
                                    {eval echo dgmdate($fileinfo['dateline'],'Y-m-d H:i:s');}
                                    <span class="badge badge-outline-primary">{lang principal_edition}</span>
                                </div>
                            </div>
                            <a href="javascript:;" class="group-editMenu dropdown-toggle fs-5" data-toggle="dropdown"></a>
                            <ul class="dropdown-menu dropdown-menu-version">
                                <li><a class="dropdown-item" href="javascript:;" data-rid="$fileinfo[rid]" data-vid="$fileinfo[vid]" onclick="infoversion(this)"><i class="mdi mdi-information-variant"></i><span class="file-text">{lang version_information}</span></a></li>
                                <li>
                                    <a href="javascript:;" class="view_versions dropdown-item" data-dpath="$fileinfo[dpath]" data-vid="$fileinfo[vid]" onclick="viewversion(this)">
                                        <i class="mdi mdi-eye"></i><span class="file-text">{lang view_version}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" class="primary_version dropdown-item" data-rid="$fileinfo[rid]" data-vid="$fileinfo[vid]" data-primary="yes" onclick="primaryVersion(this)">
                                        <i class="mdi mdi-flare"></i><span class="file-text">{lang sign_principal_edition}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" data-rid="$fileinfo[rid]" class="edit_versions dropdown-item" data-vid="$fileinfo[vid]" onclick="editVersionName(this)">
                                        <i class="mdi mdi-pencil"></i><span class="file-text">{lang edit_version_information}</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!--{/if}-->
                    </ul>
                    <!--{if $vnext}-->
                    <div class="mb-1 d-grid">
                        <a href="javascript:;" class="btn btn-link btn-sm text-end" onclick="jQuery('.version-tab').click();">{lang upload_more}</a>
                    </div>
                    <!--{/if}-->
                </div>
            </div>
            <!--历史版本结束-->
            <!--{/if}-->
            <!--{if !$fileinfo['ismulti']}-->
            <!--动态开始-->
            <div class="border-top p-1">
                <div class="right-card-header">
                    <div class="title">{lang dynamic}</div>
                </div>
                <div class="right-card-body">
                    <!--{template template_dynamic_list}-->
                </div>
            </div>
            <!--动态结束-->
            <!--{/if}-->
        </div>
        <div class="tab-pane right-tab-perm fade" id="perm-tab" role="tabpanel" aria-labelledby="perm-tab">
        </div>
        <div class="tab-pane right-tab-version fade" id="version-tab" role="tabpanel" aria-labelledby="version-tab">
        </div>
        <div class="tab-pane right-tab-comment fade" id="comment-tab" role="tabpanel" aria-labelledby="comment-tab">
        </div>
        <div class="tab-pane right-tab-dynamic fade" id="dynamic-tab" role="tabpanel" aria-labelledby="dynamic-tab">
        </div>
    </div>
    <!--{if !$bz && !$fileinfo['ismulti']}-->
    <div class="right-nav-bottom dtheme border-top">
        <ul class="nav nav-tabs nav-fill mb-0" role="tablist">
            <li class="nav-item">
                <a class="nav-link index-tab active" id="index-tab" data-toggle="tab" href="#index" role="tab" aria-controls="index" data-item="index" aria-selected="true" onclick="rightinfo(this)">
                    <i class="mdi mdi-information"></i>
                    <span>{lang property}</span>
                </a>
            </li>
            <!--{if $fileinfo[fid] !== '-1'}-->
            <li class="nav-item">
                <a class="nav-link perm-tab" id="perm-tab" data-toggle="tab" href="#perm-tab" role="tab" aria-controls="perm" data-item="perm" data-rid="$fileinfo[rid]" data-fid="$fileinfo[fid]" aria-selected="false" onclick="rightinfo(this)">
                    <i class="mdi mdi-lock"></i>
                    <span>{lang jurisdiction}</span>
                </a>
            </li>
            <!--{/if}-->
            <!--{if !$fileinfo[isfolder]}-->
            <li class="nav-item">
                <a class="nav-link version-tab" id="version-tab" data-toggle="tab" href="#version-tab" role="tab" aria-controls="version" data-item="version" data-rid="$fileinfo[rid]" data-fid="$fileinfo[fid]" aria-selected="false" onclick="rightinfo(this)">
                    <i class="mdi mdi-file-clock"></i>
                    <span>{lang version}</span>
                </a>
            </li>
            <!--{/if}-->
            <li class="nav-item">
                <a class="nav-link comment-tab" id="comment-tab" data-toggle="tab" href="#comment-tab" role="tab" aria-controls="comment" data-item="comment" data-rid="$fileinfo[rid]" data-fid="$fileinfo[fid]" aria-selected="false" onclick="rightinfo(this)">
                    <i class="mdi mdi-comment"></i>
                    <span>{lang comment}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link dynamic-tab" id="dynamic-tab" data-toggle="tab" href="#dynamic-tab" role="tab" aria-controls="dynamic" data-item="dynamic" data-rid="$fileinfo[rid]" data-fid="$fileinfo[fid]" aria-selected="false" onclick="rightinfo(this)">
                    <i class="mdi mdi-comment-multiple"></i>
                    <span>{lang dynamic}</span>
                </a>
            </li>
        </ul>
    </div>
    <!--{/if}-->
</div>
<script type="text/javascript" reload="1">
    _explorer.Scroll();
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>