<div id="search">
	<div class="middle-center-content" style="height: 100%;">	
		<div  class="middlebottomMenu" style="height: 100%;">
		   <div class="middle-full-text">
		    <div class="middlecenter">
		  
		        <div class="middleMenu">        	
		            <div class="middle-padding-left">
		            	<div class="all-center-top toolButtons clearfix">  
		                    <div class="shareMenu"></div>
		                    <ul class="sizeMenu">
		                        <li><a href="javascript:;" class="toggRight"><i class="glyphicon glyphicon-info-sign" ></i></a></li>
		                    </ul>
		            	</div>
		                <!--文件列表开始 -->
		                <div id="search"></div>
						
		        	</div>
		            <!--右侧菜单-->
		            <div class="rightMenu" id="rightMenu">
						
		            </div>
		
		        </div>
			
		    </div>
		   </div>
		</div> 

</div>

<div id="template_middleicon" style="display:none">
<!--{template template_file_middleicon}-->
</div>
<div id="template_detaillist"  style="display:none">
<!--{template template_file_detaillist}-->
</div>
<div id="template_toolButton" style="display:none">
<!--{template template_file_toolButton}-->
</div>
</div>