<div class="middleicon window">
  <div class="square-fileList js-file-item-tpl clearfix list-view">
      <div id="Icoblock_middleicon_{rid}" class="Icoblock middleicon" rid="{rid}" flag="{flag}">
        <div class="toggleGlow card file-item">
            <div class="icoimgContainer icoimgContainer_{type}">
              <img class="Icoblock_icon" tsrc="{img}" title="{name}" onload="_explorer.image_resize(this);" onerror="_explorer.icoimgError(this)" error="dzz/images/default/icodefault.png" data-start="image" data-original="index.php?mod=io&op=thumbnail&original=1&path={dpath}" data-download="index.php?mod=io&op=download&path={dpath}" data-end="image" />
              <div class="icoblank_rightbottom mdi fs-5">{collectstatus} {sharestatus}</div>
            </div>
            <div class="editable-name text-center" id="file_text_{rid}" title="{name}">{name}</div>
        </div>
        <a href="javascript:;" class="icoblank_righttop mdi fs-5"></a>
      </div>
  </div>
</div>