<div class="detaillist filemanage">
    <table class="table table-hover table-striped align-middle user-select-none" style="table-layout:fixed;">
      <thead class="file-item-hide">
        <tr>
          <th width="30px"></th>
          <th disp="0" class=" detail_header detail_header_0" width="35%">
            <div class="detail_header_td_div">
                <span class="detail_header_title">{lang filename}</span>
              <a class="detail_header_asc detail_header_asc_{asc_0}" style="display:{show_0};">
                <span class="mdi mdi-chevron-up"></span>
                <span class="mdi mdi-chevron-down"></span>
              </a>
            </div>
          </th>
          <th disp="1" class="detail_header detail_header_1" width="10%">
            <div class="detail_header_td_div"><span class="detail_header_title">{lang big_small}</span>
            <a class="detail_header_asc detail_header_asc_{asc_1}" style="display:{show_1};">
              <span class="mdi mdi-chevron-up"></span>
              <span class="mdi mdi-chevron-down"></span>
            </a>
            </div>
          </th>
          <!--回收站的th开始-->
          <th disp="2" class="detail_header detail_header_2" width="10%">
            <div class="detail_header_td_div"><span class="detail_header_title">{lang position}</span>
                <a class="detail_header_asc detail_header_asc_{asc_2}" style="display:{show_2};">
                  <span class="mdi mdi-chevron-up"></span>
                  <span class="mdi mdi-chevron-down"></span>
                </a>
              </div>
          </th>
          <th disp="3" class="detail_header detail_header_3" width="15%"><div class="detail_header_td_div"><span class="detail_header_title">{lang delete_user}</span><a class="detail_header_asc detail_header_asc_{asc_3}" style="display:{show_3};">
            <span class="mdi mdi-chevron-up"></span>
            <span class="mdi mdi-chevron-down"></span>
          </a></div></th>
            <th disp="4" class="detail_header detail_header_4" width="15%"><div class="detail_header_td_div"><span class="detail_header_title">{lang delete_time}</span>
            <a class="detail_header_asc detail_header_asc_{asc_4}" style="display:{show_4};">
            <span class="mdi mdi-chevron-up"></span>
            <span class="mdi mdi-chevron-down"></span>
          </a>
        </div></th>
            <th disp="5" class=" detail_header_5" width="15%"><div class="detail_header_td_div"><span class="detail_header_title">{lang permanent_deletion_time}</span></div></th>
          <!--回收站的th结束-->
        </tr>
      </thead>
      <tbody class="js-file-item-tpl">
        <tr id="Icoblock_detail_{rid}" class="detail_tr Icoblock" rid="{rid}">
          <td class="detail_item_td " valign="middle" width="30px" style="overflow:hidden;padding:0;padding-left:0.5rem;"><a class="selectbox mdi mdi-checkbox-blank-outline fs-5" rid="{rid}" title="{lang choose}"></a></td>
          <td class="detail_item_td " valign="middle" width="100%" style="overflow:hidden;position:relative">
            <div class="file-info-col" title="{name}" rid="{rid}">
            <div class="thumbnail">
               <img class="detail_item_name_icon" tsrc="{img}" title="{name}" error="dzz/images/default/icodefault.png" onerror="jQuery(this).attr('src',jQuery(this).attr('error'))" data-original="index.php?mod=io&op=thumbnail&original=1&path={dpath}" data-download="index.php?mod=io&op=download&path={dpath}">
            </div>
            <div class="file-name-wrapper">
              <div class="filename"><span class="editable-name detail_text" id="file_text_{rid}" title="{name}">{name}</span>{collectstatus} {sharestatus}</div>
                <div class="text-muted small file-item-block w-100 text-truncate">{delusername} {deldateline} {finallydate}</div>
            </div>
          </div>
          </td>
          <td class="detail_item_td detail_item_td_size file-item-hide" valign="middle" width="10%">
            <span title="{fsize}">{fsize}</span>
          </td>
            <!--回收站td开始-->
          <td class="detail_item_td detail_item_td_type file-item-hide" valign="middle" width="10%">
              <span title="{from}">{from}</span>
          </td>
          <td class="detail_item_td detail_item_td_name file-item-hide" valign="middle" width="15%">
              <span title="{delusername}">{delusername}</span>
          </td>
          <td class="detail_item_td detail_item_td_date file-item-hide" valign="middle" width="15%">
              <span title="{deldateline}">{deldateline}</span>
          </td>
          <td class="detail_item_td detail_item_td_ydate file-item-hide" valign="middle" width="15%">
              <span title="{finallydate}">{finallydate}</span>
          </td>
          <!--回收站td结束-->
          
        </tr>
      </tbody>
    </table>
</div>