<ul class="nav-drawer nav-stacked nav-pills ui-sortable">
	<li class="nav-item">
		<a class="nav-link active" href="{MOD_URL}"><i class="mdi mdi-home"></i><span>{lang appname}</span></a>
	</li>
	<!--{if $applist_1}-->
	<!--{loop $applist_1 $key $value}-->
	<li class="nav-item popup-index-li" data-appid="$value[appid]">
		<a class="nav-link" href="$value[url]" title="$value[appname]" <!--{if $value['open']}-->target="_blank"<!--{/if}-->><img src="$value[appico]"/><span>$value[appname]</span></a>
	</li>
	<!--{/loop}-->
	<!--{/if}-->
</ul>
	