<!--{template common/header_simple_start}-->
<link href="static/css/common.css?{VERHASH}" rel="stylesheet" media="all">
<link href="admin/thame/images/style.css?{VERHASH}" rel="stylesheet" media="all">
<script type="text/javascript" src="static/js/jquery.leftDrager.js?{VERHASH}"></script>
<style>
html,body{
	overflow:hidden;
	background:#FBFBFB;
}
.bs-left-container{
	width:120px;
}
.bs-main-container{
	margin-left:120px;
	overflow:auto;
}

</style>
<!--{template common/header_simple_end}-->

<div class="bs-container clearfix">
  <div class="bs-left-container  clearfix">
   <!--{template left}-->
  </div>
  <div class="left-drager">
     <div class="left-drager-op"><div class="left-drager-sub"></div></div>
  </div>
      
  <div class="bs-main-container  clearfix" > 

      <div class="main-header clearfix">
        <ul class="nav nav-pills nav-pills-bottomguide" >
          <li ><a href="{BASESCRIPT}?mod=$mod">全部主题</a></li>
         
          <!--{if !$id}--><li  class="active pull-right"><a href="{BASESCRIPT}?mod=$mod&op=edit">添加主题</a></li><!--{/if}--> 
          <!--{if $id}--><li  class="active"><a href="{BASESCRIPT}?mod=$mod&op=edit&id=$id">编辑主题</a></li><!--{/if}-->
          <li><a href="{ADMINSCRIPT}?mod=$mod&op=list">未安装主题</a></li>
        </ul>
      </div>
      
      <div class="main-content clearfix" style="padding:15px 0 0;border-top:1px solid #FFF">
        <form name="cpform" class="form-horizontal form-horizontal-left" method="post"  action="{BASESCRIPT}?mod=thame&op=edit&id=$id" id="cpform" onsubmit="return  validate(this)">
          <input type="hidden" name="formhash" value="{FORMHASH}">
          <input type="hidden" name="thamesubmit" value="true">
          <div class="form-group">
            <label class="control-label" for="name">主题名称</label>
            <div class="controls">
              <input name="thame[name]" id="name" value="$thame[name]" type="text" class="form-control"   required="true" onblur="if(this.value==''){jQuery(this).addClass('input-error')}else{jQuery(this).removeClass('input-error');}">
              &nbsp;&nbsp;
              <label class="checkbox-inline "><input type="checkbox" name="thame[default]" value="1" <!--{if $thame[default]>0}-->checked="checked"<!--{/if}-->>设为默认</label>
            </div>
            <ul class="help-block">
              <li>主题名称，好的主题名称便于用户了解主题的特色</li>
              <li>设为默认，游客或未设置主题的用户将默认使用此主题</li>
            </ul>
          </div>
          <div class="form-group">
            <label class="control-label" for="">版本</label>
            <div class="controls">
              <input name="thame[version]" class="form-control"  value="$thame[version]" type="text" />
            </div>
            <span class="help-inline" >主题版本号</span>
          </div>
          <div class="form-group">
            <label class="control-label" for="">供应商</label>
            <div class="controls">
              <input name="thame[vendor]" class="form-control"  value="$thame[vendor]" type="text" />
            </div>
            <span class="help-inline" >主题供应商名称</span>
          </div>
          <div class="form-group">
            <label class="control-label" for="">图片背景</label>
            <div class="controls">
              <input name="thame[backimg]" class="form-control"  value="$thame[backimg]" type="text" />
            </div>
            <ul class="help-block" >
              <li> 留空将使用主题目录下的back.jpg作为背景</li>
              <li> 可以是背景颜色，如:#F7F7F7 或 rgb(0,0,0)</li>
              <li> 也可以是背景图片，这里填写背景图的相对地址（相对于站点根目录）或者绝对地址</li>
            </ul>
          </div>
          <div class="form-group">
            <label class="control-label" for="">网址背景</label>
            <div class="controls">
              <input name="thame[url]" class="form-control" value="$thame[url]" type="text" />
            </div>
            <ul class="help-block" >
              <li> 留空，不使用</li>
              <li> 还可以利用网址作为背景（通常用于动态背景），可以是相对于站点根目录的相对地址或者绝对地址</li>
              <li class="text-danger"> 设置了网页背景后，图片背景将不起作用</li>
            </ul>
          </div>
          <div class="form-group">
            <label class="control-label" for="">背景显示方式</label>
            <div class="controls  ml20">
              <label class="radio radio-inline"><input type="radio" name="thame[btype]" value="1"  <!--{if $thame[btype]==1 || !$thame[btype]}-->checked<!--{/if}--> />拉伸</label>
              <label class="radio radio-inline"><input type="radio" name="thame[btype]" value="2" <!--{if $thame[btype]==2}-->checked<!--{/if}--> />平铺</label>
              <label class="radio radio-inline"><input type="radio" name="thame[btype]" value="3" <!--{if $thame[btype]==3}-->checked<!--{/if}--> />居中</label>
            </div>
            <ul class="help-block">
              设置背景图片的显示方式,背景为颜色或网址时不起作用
            </ul>
          </div>
          <div class="form-group">
            <label class="control-label" for="">偏好色设置</label>
            <div class="controls ml20">
              <label class="radio radio-inline"><input type="radio" name="thame[enable_color]" value="0" <!--{if $thame[enable_color]<1}-->checked<!--{/if}--> onclick="jQuery('#enable_color').hide()" />无</label>
              <label class="radio radio-inline"><input type="radio" name="thame[enable_color]" value="1" <!--{if $thame[enable_color]>0}-->checked<!--{/if}--> onclick="jQuery('#enable_color').show()" />有</label>
            </div>
            <div id="enable_color" class="clearfix ml20" style="padding-left:20px; <!--{if $thame[enable_color]>0}-->display:block<!--{else}-->display:none<!--{/if}-->">
              <label class="control-label">默认偏好色：</label>
              <input type="text" class="form-control" style="width:80px;" name="thame[color]" value="$thame[color]" />
              </label>
            </div>
            <ul class="help-block" >
              <li> 此项设置是否允许用户更换主题各部分的基础色调</li>
              <li> 对于以颜色为主的主题，可以设置允许，以便用户自定义主题的基础色调</li>
              <li> 通常的没有经过优化的主题，不建议设置此项</li>
              <li> 可用值，如:#F7F7F7 或 rgb(0,0,0)</li>
            </ul>
          </div>
          <div class="form-group">
            <label class="control-label" for="folder">主题目录</label>
            <div class="controls">
              <select id="folder" name="thame[folder]" class="form-control" required="true" >
                <!--{loop $folders $value}--> 
                <option  value="$value" <!--{if $thame[folder]==$value}-->selected="selected"<!--{/if}-->>$value
                </option>
                <!--{/loop}-->
              </select>
            </div>
            <ul class="help-block" >
              <li>注意：此项必填，并且目录名称不能为中文</li>
              <li>注意：此项值全局唯一：即每个主题必须对应一个主题目录；<br />如发现下拉列表没有可选值，说明“dzz/styles/thame/”下的所有目录所对应的的主题都已经存在；<br />如想添加新主题的话，需要在放到“dzz/styles/thame/”下新建目录，然后在此处选择</li>
              <li>自定义的主题目录放到“dzz/styles/thame/”下，即可在此调用</li>
              <li>主题的封面图命名为thumb.jpg放在此目录下</li>
              <li>此目录下的style.css中的样式将覆盖下面的各个分样式</li>
            </ul>
          </div>
          
          <!--{loop $thameitems $key $value}-->
          <div class="form-group">
            <label class="control-label" for="$value">$styles[$key]</label>
            <div class="controls">
              <select id="$key" name="thame[modules][$key]" class="form-control" >
                <option  value="">无</option>
                <!--{loop $value $value1}--> 
                <option  value="$value1" <!--{if $thame[modules][$key]==$value1}-->selected="selected"<!--{/if}-->>$value1
                </option>
                <!--{/loop}-->
              </select>
            </div>
            <ul class="help-block" >
              <li>样式的目录不能为中文</li>
              <li>自定义的此样式目录放到“dzz/styles/{$key}下，即可在此调用</li>
              <li>注意：如果不选择，必选在主题目录下的style.css 中定义相关的样式</li>
            </ul
          ></div>
          <!--{/loop}-->
          <div class="form-group">
            <label class="control-label"></label>
            <div class="controls">
              <input type="submit" value="保存更改" class="btn btn-primary" />
            </div>
          </div>
        </form>
        <div class="tip" style="margin:10px;">
          <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert"></button>
            <h5>提示信息</h5>
            <ul>
              <li>将自定义的样式放入"dzz/styles/目录下，这里就可以调用</li>
              <li>主题目录必选，其他如果不选，必须在主题目录下的style.css中定义相关的css</li>
              <li>主题目录下的style.css将覆盖其他相同的css</li>
            </ul>
          </div>
        </div>
      </div>
  </div>
 </div>
 <script type="text/javascript">
	jQuery('.left-drager').leftDrager_layout();
	function validate(form){
		if(document.getElementById('name').value==''){
			document.getElementById('name').focus();
			showmessage('请填写主题名称','danger',1000,1);
			return false;
		}
		if(document.getElementById('folder').value==''){
			document.getElementById('folder').focus();
			showmessage('请选择主题目录，如果没有可选的主题目录，请到dzz/styles/thame/下新建主题目录','danger',3000,1);
			return false;
		}
		return true;
	}
</script>
<!--{template common/footer_simple}--> 
