<ul class="nav nav-pills nav-stacked nav-pills-leftguide" >
    <li <!--{if !$operation}-->class="active"<!--{/if}-->> <a href="{BASESCRIPT}?mod=$mod">{lang theme_set}</a>
    </li>
    <li <!--{if $operation=='syscolor'}-->class="active"<!--{/if}-->> <a href="{BASESCRIPT}?mod=$mod&operation=syscolor">{lang preference_color_set}</a>
    </li>
    <li <!--{if $operation=='color'}-->class="active"<!--{/if}-->> <a href="{BASESCRIPT}?mod=$mod&operation=color">{lang color_class_wallpaper}</a>
    </li>
    <li <!--{if $operation=='repeat'}-->class="active"<!--{/if}-->> <a href="{BASESCRIPT}?mod=$mod&operation=repeat">{lang tile_kind_wallpaper}</a>
    </li>
    <li <!--{if $operation=='scale'}-->class="active"<!--{/if}-->> <a href="{BASESCRIPT}?mod=$mod&operation=scale">{lang drawing_class_wallpaper}</a>
    </li>
    <li <!--{if $operation=='url'}-->class="active"<!--{/if}-->> <a href="{BASESCRIPT}?mod=$mod&operation=url">{lang dynamic_state_wallpaper}</a>
    </li>
  </ul>