<ul class="nav nav-pills nav-pills-bottomguide" style="padding:0 10px;">
      <li <!--{if $op=='index'}-->class="active"<!--{/if}-->><a href="{BASESCRIPT}?mod=app">{lang application_list}</a></li>
       <li <!--{if $op=='list'}-->class="active"<!--{/if}-->><a href="{BASESCRIPT}?mod=app&op=list&refer=$refer">{lang Install_and_uninstall}</a></li>
      <li class="pull-right <!--{if $op=='extopen'}-->active<!--{/if}-->"><a href="{BASESCRIPT}?mod=app&op=extopen">{lang open_way_manage}</a></li>
      <li class="pull-right <!--{if $op=='default'}-->active<!--{/if}-->"><a href="{BASESCRIPT}?mod=app&op=default">{lang default_application_settings}</a></li>
      <!--{if $op=='edit'}-->
       <li class="active"><a href="{BASESCRIPT}?mod=app&op=edit&appid=$appid"><!--{if !$appid}-->{lang add_app}<!--{else}-->{lang edit_apps}<!--{/if}--></a></li>
      <!--{/if}-->
</ul>
  