.weui-popup__container{
	z-index: 550;
}
/*四宫格样式开始*/
.more-item {
	width: 25%;
	padding-top: 30px;
	padding-bottom: 0px;
	color: #8D9194;
}

.more-item.weui-grid:after,
.more-item.weui-grid:before {
	display: none;
}

.item-icon {
	width: 40px;
	height: 40px;
	background-color: #fff;
	border: 1px solid rgba(214, 214, 214, 1);
	border-radius: 3px;
	line-height: 50px;
	text-align: center;
}

.item-icon i {
	color: #999;
	font-size: 27px;
}

.btn-a {
	display: inline-block;
	color: #333;
	width: 100%;
	text-align: center;
	line-height: 46px;
}
/*四宫格样式结束*/

/*底部加号的css开始*/

.add-icons {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
	padding: 0;
}

.add-icons .weui-tabbar__icon {
	width: 80%;
	height: 35px;
	background: #FFAF00;
	color: #FFFFFF;
	border-radius: 20px;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.add-icons .dzz {
	color: #FFFFFF;
}

.footer-find {
	background: #FFFFFF;
}

.footer-find .weui-tabbar__item {
	padding: 35px 0;
    font-size: 1em;
}

.footer-find .weui-tabbar__item .weui-tabbar__icon {
	width: auto;
	height: auto;
	background: #FF822E;
	padding: 15px;
	border-radius: 100%;
}

.footer-find .weui-tabbar__item .weui-tabbar__icon .dzz {
	color: #FFFFFF;
    font-size: 3em;
}

.footer-find .weui-tabbar__item .weui-tabbar__label {
    line-height: 3em;
    font-size: 1em;
    color: #000000;
}
/*底部加号的css结束*/