    <div class="button-share-group" style="width: 100%;">
    	<div class="pull-right">
	        <a type="button" class="btn" data-allrids="$allrids" onclick="allsave();" id="allsave">
	            <span class="dzz dzz-save" data-toggle="tooltip" data-placement="bottom"
	                  title="{lang all_save}"></span>
	        </a>
	        <a type="button" class="btn" data-allrids="$allrids" onclick="downAll(this);">
	            <span class="dzz dzz-download dzz-textdecoration" data-toggle="tooltip" data-placement="bottom"
	                  title="{lang all_download}"></span>
	        </a>
	        <div class="btn-group" role="group">
	            <a type="button" class="btn btn-group-list" onclick="viewSwitch(this,'.module-list-view')"><i
	                    class="dzz dzz-view-list" data-toggle="tooltip" data-placement="bottom" 
	                    title="{lang change_list}"></i></a>
	            <a type="button" class="btn btn-group-thumbnail" onclick="viewSwitch(this,'.module-grid-view')"><i
	                    class="dzz dzz-view-module" data-toggle="tooltip" data-placement="bottom" title="{lang change_thumbnail}"></i></a>
	        </div>
    </div>
</div>   