<div class="p-2">
    <div class="da-avatar text-center" id="shareavatar"></div>
    <div class="text-center"><strong class="shareusername">*</strong>的分享</div>
    <div class="mb-1 border-top">
        <label class="form-label">标题：</label>
        <span class="sharetitle">暂无</span>
    </div>
    <div class="mb-1">
        <label class="form-label">分享时间：</label>
        <span id="sharefdateline">暂无</span>
    </div>
    <div class="mb-1">
        <label class="form-label">失效时间：</label>
        <span id="expireday">暂无</span>
    </div>
    <div class="mb-1">
        <label class="form-label">浏览：</label>
        <span id="shareviews">暂无</span>
    </div>
    <div class="mb-1">
        <label class="form-label">下载：</label>
        <span id="sharedowns">暂无</span>
    </div>
</div>
