<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
    <link href="static/jquery_weui/css/jquery-weui.min.css" rel="stylesheet">
    <link href="static/jquery_weui/css/weui.min.css" rel="stylesheet">
    <link href="static/dzzicon/icon.css" rel="stylesheet">
    <link href="{MOD_PATH}/css/mobile/mobile_member.css" rel="stylesheet">
</head>
<body>
<header class="weui-file-keep weui-flex">
    <div class="placeholder weui-file-keep-cancel"><a href="javascript:;" class="weui-file-div-keep-cancel">取消</a>
    </div>
    <div class="weui-flex__item">另存为</div>
    <div class="placeholder weui-file-sumite-keep">保存</div>
</header>
<!--地址栏开始-->
<section class="weui-address weui-cell-address">
    <a href="index.php?mod=explorer" class="weui-index">
        <span class="dzz dzz-home dzz-index"></span>
        <i class="dzz dzz-vline dzz-index-vline"></i>
    </a>
    <div class="weui-address-container" id="weui_address_scroll">
        <div class="scroller">
            <ul class="weui-address-field">
                <li>
                    <a href="">dzz2.0</a><span class="dzz dzz-chevron-right"></span>
                </li>
            </ul>
        </div>
    </div>
</section>
<!--地址栏结束-->
<!--列表开始-->
<section class="weui-cells weui-cells__recent weui-cells__margin_footer">
    <div class="weui-cell weui-cell_access weui-cell_longpress">
        <div class="weui-cell__hd"><img src="../../../../dzz/images/extimg/folder.png" class="weui-cell__recentimg">
        </div>
        <div class="weui-cell__bd">
            <h4>0DE16F5C-8568-4CE6-A502-614E53C494F9.png</h4>
            <p>
                <span class="file">文件:</span><i class="file-number">0,</i>
                <span class="folder">文件夹:</span><i class="folder-number">0</i>
            </p>
        </div>
        <div class="weui-cell__ft"></div>
        <div class="weui-cells_checkbox hide">
            <input type="checkbox" class="weui-check" name="checkbox1">
            <i class="weui-icon-checked"></i>
        </div>
    </div>
    <div class="weui-cell weui-cell_access weui-cell_longpress">
        <div class="weui-cell__hd"><img src="../../../../dzz/images/extimg/docx.png" class="weui-cell__recentimg"></div>
        <div class="weui-cell__bd">
            <h4>0DE16F5C-8568-4CE6-A502-614E53C494F9.png</h4>
            <p>
                <span class="date">04-13</span><i class="date-time">15:28,</i>
                <span class="size">5 B </span>
            </p>
        </div>
        <div class="weui-cells_checkbox hide">
            <input type="checkbox" class="weui-check" name="checkbox1">
            <i class="weui-icon-checked"></i>
        </div>
    </div>
    <div class="weui-cell weui-cell_access weui-cell_longpress">
        <div class="weui-cell__hd"><img src="../../../../dzz/images/extimg/folder.png" class="weui-cell__recentimg">
        </div>
        <div class="weui-cell__bd">
            <h4>0DE16F5C-8568-4CE6-A502-614E53C494F9.png</h4>
            <p>
                <span class="file">文件:</span><i class="file-number">0,</i>
                <span class="folder">文件夹:</span><i class="folder-number">0</i>
            </p>
        </div>
        <div class="weui-cell__ft"></div>
        <div class="weui-cells_checkbox hide">
            <input type="checkbox" class="weui-check" name="checkbox1">
            <i class="weui-icon-checked"></i>
        </div>
    </div>
    <div class="weui-cell weui-cell_access weui-cell_longpress">
        <div class="weui-cell__hd"><img src="../../../../dzz/images/extimg/docx.png" class="weui-cell__recentimg"></div>
        <div class="weui-cell__bd">
            <h4>0DE16F5C-8568-4CE6-A502-614E53C494F9.png</h4>
            <p>
                <span class="date">04-13</span><i class="date-time">15:28,</i>
                <span class="size">5 B </span>
            </p>
        </div>
        <div class="weui-cells_checkbox hide">
            <input type="checkbox" class="weui-check" name="checkbox1">
            <i class="weui-icon-checked"></i>
        </div>
    </div>
    <div class="weui-cell weui-cell_access weui-cell_longpress">
        <div class="weui-cell__hd"><img src="../../../../dzz/images/extimg/folder.png" class="weui-cell__recentimg">
        </div>
        <div class="weui-cell__bd">
            <h4>0DE16F5C-8568-4CE6-A502-614E53C494F9.png</h4>
            <p>
                <span class="file">文件:</span><i class="file-number">0,</i>
                <span class="folder">文件夹:</span><i class="folder-number">0</i>
            </p>
        </div>
        <div class="weui-cell__ft"></div>
        <div class="weui-cells_checkbox hide">
            <input type="checkbox" class="weui-check" name="checkbox1">
            <i class="weui-icon-checked"></i>
        </div>
    </div>
    <div class="weui-cell weui-cell_access weui-cell_longpress">
        <div class="weui-cell__hd"><img src="../../../../dzz/images/extimg/docx.png" class="weui-cell__recentimg"></div>
        <div class="weui-cell__bd">
            <h4>0DE16F5C-8568-4CE6-A502-614E53C494F9.png</h4>
            <p>
                <span class="date">04-13</span><i class="date-time">15:28,</i>
                <span class="size">5 B </span>
            </p>
        </div>
        <div class="weui-cells_checkbox hide">
            <input type="checkbox" class="weui-check" name="checkbox1">
            <i class="weui-icon-checked"></i>
        </div>
    </div>
    <div class="weui-cell weui-cell_access weui-cell_longpress">
        <div class="weui-cell__hd"><img src="../../../../dzz/images/extimg/folder.png" class="weui-cell__recentimg">
        </div>
        <div class="weui-cell__bd">
            <h4>0DE16F5C-8568-4CE6-A502-614E53C494F9.png</h4>
            <p>
                <span class="file">文件:</span><i class="file-number">0,</i>
                <span class="folder">文件夹:</span><i class="folder-number">0</i>
            </p>
        </div>
        <div class="weui-cell__ft"></div>
        <div class="weui-cells_checkbox hide">
            <input type="checkbox" class="weui-check" name="checkbox1">
            <i class="weui-icon-checked"></i>
        </div>
    </div>
    <div class="weui-cell weui-cell_access weui-cell_longpress">
        <div class="weui-cell__hd"><img src="../../../../dzz/images/extimg/docx.png" class="weui-cell__recentimg"></div>
        <div class="weui-cell__bd">
            <h4>0DE16F5C-8568-4CE6-A502-614E53C494F9.png</h4>
            <p>
                <span class="date">04-13</span><i class="date-time">15:28,</i>
                <span class="size">5 B </span>
            </p>
        </div>
        <div class="weui-cells_checkbox hide">
            <input type="checkbox" class="weui-check" name="checkbox1">
            <i class="weui-icon-checked"></i>
        </div>
    </div>
    <div class="weui-cell weui-cell_access weui-cell_longpress">
        <div class="weui-cell__hd"><img src="../../../../dzz/images/extimg/folder.png" class="weui-cell__recentimg">
        </div>
        <div class="weui-cell__bd">
            <h4>0DE16F5C-8568-4CE6-A502-614E53C494F9.png</h4>
            <p>
                <span class="file">文件:</span><i class="file-number">0,</i>
                <span class="folder">文件夹:</span><i class="folder-number">0</i>
            </p>
        </div>
        <div class="weui-cell__ft"></div>
        <div class="weui-cells_checkbox hide">
            <input type="checkbox" class="weui-check" name="checkbox1">
            <i class="weui-icon-checked"></i>
        </div>
    </div>
    <div class="weui-cell weui-cell_access weui-cell_longpress">
        <div class="weui-cell__hd"><img src="../../../../dzz/images/extimg/docx.png" class="weui-cell__recentimg"></div>
        <div class="weui-cell__bd">
            <h4>0DE16F5C-8568-4CE6-A502-614E53C494F9.png</h4>
            <p>
                <span class="date">04-13</span><i class="date-time">15:28,</i>
                <span class="size">5 B </span>
            </p>
        </div>
        <div class="weui-cells_checkbox hide">
            <input type="checkbox" class="weui-check" name="checkbox1">
            <i class="weui-icon-checked"></i>
        </div>
    </div>
</section>
<!--列表结束-->
<!--底部开始-->
<footer class="weui-file-footer weui-tabbar">
    <a href="javascript:;" class="weui-tabbar__item new-folder">
        <span class="dzz dzz-create-new-folder weui-file-dzzicon"></span>
        <p class="weui-tabbar__label">新建</p>
    </a>
    <a href="javascript:;" class="weui-tabbar__item">
        <span class="dzz dzz-search weui-file-dzzicon"></span>
        <p class="weui-tabbar__label">搜索</p>
    </a>
    <a href="javascript:;" class="weui-tabbar__item">
        <span class="dzz dzz-refresh weui-file-dzzicon"></span>
        <p class="weui-tabbar__label">刷新</p>
    </a>
    <div class="dropup weui-tabbar__item weui-footer-item">
        <a href="javascript:;" class="weui-footer-sort weui-footer-none">
            <i class="dzz dzz-sort"></i>
            <p>排序</p>
        </a>
        <div class="weui-dropup hide weui-dropup-right">
            <li>
                <a href="javascript:;" class="weui-droup-new" data-sort="0">按名称</a>
            </li>
            <li>
                <a href="javascript:;" class="weui-droup-new" data-sort="1">按大小</a>
            </li>
            <li>
                <a href="javascript:;" class="weui-droup-new" data-sort="3">按时间</a>
            </li>
        </div>
        <div class="background-none"></div>
    </div>
    <div class="dropup weui-tabbar__item weui-footer-item">
        <a href="javascript:;" class="weui-footer-sort weui-footer-none">
            <i class="dzz dzz-more"></i>
            <p>类型</p>
        </a>
        <div class="weui-dropup hide weui-dropup-type weui-cells_radio">
            <label class="weui-cell weui-check__label">
                <div class="weui-cell__bd">
                    <p class="weui-type-word">所有类型</p>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" class="weui-check" name="radio1" checked="checked">
                    <span class="weui-icon-checked"></span>
                </div>
            </label>
            <label class="weui-cell weui-check__label">
                <div class="weui-cell__bd">
                    <p class="weui-type-word">大型文档格式</p>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" name="radio1" class="weui-check">
                    <span class="weui-icon-checked"></span>
                </div>
            </label>
            <label class="weui-cell weui-check__label">
                <div class="weui-cell__bd">
                    <p class="weui-type-word">大型文档格式</p>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" name="radio1" class="weui-check">
                    <span class="weui-icon-checked"></span>
                </div>
            </label>
            <label class="weui-cell weui-check__label">
                <div class="weui-cell__bd">
                    <p class="weui-type-word">大型文档格式</p>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" name="radio1" class="weui-check">
                    <span class="weui-icon-checked"></span>
                </div>
            </label>
            <label class="weui-cell weui-check__label">
                <div class="weui-cell__bd">
                    <p class="weui-type-word">大型文档格式</p>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" name="radio1" class="weui-check">
                    <span class="weui-icon-checked"></span>
                </div>
            </label>
            <label class="weui-cell weui-check__label">
                <div class="weui-cell__bd">
                    <p class="weui-type-word">大型文档格式</p>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" name="radio1" class="weui-check">
                    <span class="weui-icon-checked"></span>
                </div>
            </label>
            <label class="weui-cell weui-check__label">
                <div class="weui-cell__bd">
                    <p class="weui-type-word">大型文档格式</p>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" name="radio1" class="weui-check">
                    <span class="weui-icon-checked"></span>
                </div>
            </label>
            <label class="weui-cell weui-check__label">
                <div class="weui-cell__bd">
                    <p class="weui-type-word">大型文档格式</p>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" name="radio1" class="weui-check">
                    <span class="weui-icon-checked"></span>
                </div>
            </label>
            <label class="weui-cell weui-check__label">
                <div class="weui-cell__bd">
                    <p class="weui-type-word">大型文档格式</p>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" name="radio1" class="weui-check">
                    <span class="weui-icon-checked"></span>
                </div>
            </label>
            <label class="weui-cell weui-check__label">
                <div class="weui-cell__bd">
                    <p class="weui-type-word">大型文档格式</p>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" name="radio1" class="weui-check">
                    <span class="weui-icon-checked"></span>
                </div>
            </label>
            <label class="weui-cell weui-check__label">
                <div class="weui-cell__bd">
                    <p class="weui-type-word">大型文档格式</p>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" name="radio1" class="weui-check">
                    <span class="weui-icon-checked"></span>
                </div>
            </label>
            <label class="weui-cell weui-check__label">
                <div class="weui-cell__bd">
                    <p class="weui-type-word">大型文档格式</p>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" name="radio1" class="weui-check">
                    <span class="weui-icon-checked"></span>
                </div>
            </label>
            <label class="weui-cell weui-check__label">
                <div class="weui-cell__bd">
                    <p class="weui-type-word">大型文档格式</p>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" name="radio1" class="weui-check">
                    <span class="weui-icon-checked"></span>
                </div>
            </label>
            <label class="weui-cell weui-check__label">
                <div class="weui-cell__bd">
                    <p class="weui-type-word">大型文档格式</p>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" name="radio1" class="weui-check">
                    <span class="weui-icon-checked"></span>
                </div>
            </label>
            <label class="weui-cell weui-check__label">
            <div class="weui-cell__bd">
                <p class="weui-type-word">大型文档格式</p>
            </div>
            <div class="weui-cell__ft">
                <input type="radio" name="radio1" class="weui-check">
                <span class="weui-icon-checked"></span>
            </div>
        </label>
        </div>
        <div class="background-none"></div>
    </div>
</footer>
<!--底部结束-->
</body>
<script type="text/javascript" src="static/jquery/jquery.min.js"></script>
<script type="text/javascript" src="static/jquery_weui/js/jquery-weui.min.js"></script>
<script type="text/javascript" src="{MOD_PATH}/scripts/mobile/file_keep.js"></script>
</html>
