<div class="formatmenu">
<a href="javascript:;" class="weui-tabbar__item search">
    <span class="dzz dzz-search weui-file-dzzicon"></span>
    <p class="weui-tabbar__label">搜索</p>
</a>
<a href="javascript:;" class="weui-tabbar__item" onclick="location.reload()">
    <span class="dzz dzz-refresh weui-file-dzzicon"></span>
    <p class="weui-tabbar__label">刷新</p>
</a>
<div class="dropup weui-tabbar__item weui-footer-item">
    <a href="javascript:;" class="weui-footer-sort weui-footer-none">
        <i class="dzz dzz-more"></i>
        <p>类型</p>
    </a>
    <div class="weui-dropup hide weui-dropup-type weui-cells_radio typeext">
        <label class="weui-cell weui-check__label exttype">
            <div class="weui-cell__bd">
                <p class="weui-type-word">all(.*)</p>
            </div>
            <div class="weui-cell__ft">
                <input type="radio" class="weui-check" name="radio1" checked="checked">
                <span class="weui-icon-checked"></span>
            </div>
        </label>
    </div>
    <div class="background-none"></div>
</div>
</div>
<div class="filelistmenu">
    <a href="javascript:;" class="weui-tabbar__item new-folder">
        <span class="dzz dzz-create-new-folder weui-file-dzzicon"></span>
        <p class="weui-tabbar__label">新建</p>
    </a>
    <a href="javascript:;" class="weui-tabbar__item search">
        <span class="dzz dzz-search weui-file-dzzicon"></span>
        <p class="weui-tabbar__label">搜索</p>
    </a>
    <a href="javascript:;" class="weui-tabbar__item">
        <span class="dzz dzz-refresh weui-file-dzzicon" onclick="location.reload();"></span>
        <p class="weui-tabbar__label">刷新</p>
    </a>
    <div class="dropup weui-tabbar__item weui-footer-item">
        <a href="javascript:;" class="weui-footer-sort weui-footer-none">
            <i class="dzz dzz-sort"></i>
            <p>排序</p>
        </a>
        <div class="weui-dropup hide weui-dropup-right sort_menu">
            <li>
                <a href="javascript:;" class="weui-droup-new sort" data-sort="0">按名称</a>
            </li>
            <li>
                <a href="javascript:;" class="weui-droup-new sort" data-sort="1">按大小</a>
            </li>
            <li>
                <a href="javascript:;" class="weui-droup-new sort" data-sort="3">按时间</a>
            </li>
        </div>
        <div class="background-none"></div>
    </div>
    <div class="dropup weui-tabbar__item weui-footer-item">
        <a href="javascript:;" class="weui-footer-sort weui-footer-none">
            <i class="dzz dzz-more"></i>
            <p>类型</p>
        </a>
        <div class="weui-dropup hide weui-dropup-type weui-cells_radio typeext">
            <label class="weui-cell weui-check__label exttype" >
                <div class="weui-cell__bd">
                    <p class="weui-type-word">all(.*)</p>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" class="weui-check" name="radio1" checked="checked">
                    <span class="weui-icon-checked"></span>
                </div>
            </label>
        </div>
        <div class="background-none"></div>
    </div>
</div>