
/* ---- colorful 样式 ---- */
.noborder
{
	
}

/* 边框样式 */
.noborder .LEFT_TOP
{
	/* 左上：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 4px;
	height: 40px;

}
.noborder .LEFT_TOP .inner
{
	/* 左上：请不要定义padding/margin/border/top/right/bottom/left属性 */
	left:4px;
	top:4px;
	width: 0;
	height: 40px;
	

}
.noborder .TOP
{
	/* 上边：请不要定义padding/margin/border/top/right/bottom/left属性 */
	height:40px;

}
.noborder .TOP .inner
{
	/* 上边：请不要定义padding/margin/border/top/right/bottom/left属性 */
	left:0;
	top:0px;
	height: 40px;
	width:100%;
	
}
.noborder .RIGHT_TOP
{
	/* 右上：请不要定义padding/margin/border/top/right/bottom/left属性 */
	right:4px;
	top:4px;
	width: 0;
	height: 40px;

}
.noborder .RIGHT_TOP .inner
{
	/* 左上：请不要定义padding/margin/border/top/right/bottom/left属性 */
	top:0px;
	right:0px;
	_right:-1px;
	width: 0;
	height: 40px;
	

}

.noborder .RIGHT
{
	/* 右边：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 4px;
	
}
.noborder .RIGHT .inner
{
	/* 左上：请不要定义padding/margin/border/top/right/bottom/left属性 */
	top:0px;
	right:0px;
	_right:-1px;
	width:4px;
	height: 100%;

}

.noborder .RIGHT_BOTTOM
{
	/* 右下：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 0;
	height: 0;
}
.noborder .RIGHT_BOTTOM .inner
{
	/* 左上：请不要定义padding/margin/border/top/right/bottom/left属性 */
	bottom:0px;
	right:0px;
	_bottom:-1px;
	_right:-1px;
	width: 4px;
	height:4px;

}

.noborder .BOTTOM
{
	/* 下边：请不要定义padding/margin/border/top/right/bottom/left属性 */
	height: 4px;

}
.noborder .BOTTOM .inner
{
	/* 左上：请不要定义padding/margin/border/top/right/bottom/left属性 */
	bottom:0px;
	_bottom:-1px;
	left:0px;
	width:100%;
	height: 4px;
}

.noborder .LEFT_BOTTOM
{
	/* 右下：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 0;
	height: 0;
}
.noborder .LEFT_BOTTOM .inner
{
	/* 左上：请不要定义padding/margin/border/top/right/bottom/left属性 */
	bottom:0px;
	_bottom:-1px;
	left:0px;
	width: 4px;
	height: 4px;
}


.noborder .LEFT
{
	/* 右边：请不要定义padding/margin/border/top/right/bottom/left属性 */
	width: 4px;
	
}
.noborder .LEFT .inner
{
	/* 左上：请不要定义padding/margin/border/top/right/bottom/left属性 */
	top:0px;
	left:0px;
	width:4px;
	height: 100%;

}


/* 功能区样式 */
.noborder .RESIZE
{
	width: 5px;
	height: 5px;
	right: 5px;
	bottom: 5px;
	z-index:10;
}
.noborder .RESIZE-X
{
	width: 5px;
	right: -5px;
	height:100%;
	z-index:9;
	top:0;
}
.noborder .RESIZE-Y
{
	height: 5px;
	width:100%;
	bottom: -5px;
	z-index:9;
	left:0;
}
.noborder .CLOSE
{
    width: 34px;
    height: 38px;
	margin-top:1px;
    float:right;
	background:url(images/ico.png) 0 0 no-repeat;
	
}
.noborder .CLOSE:hover
{
  background:url(images/ico.png) 0 -40px no-repeat;
}
/*.noborder .CLOSE:active
{
  background:url(images/ico.png) 0 -80px no-repeat;
}*/
.noborder .MIN
{
    width: 34px;
    height: 38px;
	margin-top:1px;
    float:right;
	
	background:url(images/ico.png) 0 -360px no-repeat;
}
.noborder .MIN:hover
{
   background:url(images/ico.png) 0 -400px no-repeat;
	
}
.noborder .MIN:active
{
   background:url(images/ico.png) 0 -440px no-repeat;
}
.noborder .MAX
{
     width: 34px;
    height: 38px;
	margin-top:1px;
    float:right;
	
	background:url(images/ico.png) 0 -120px no-repeat;
}
.noborder .MAX:hover
{
	background:url(images/ico.png) 0 -160px no-repeat;
}
.noborder .MAX:active
{
	background:url(images/ico.png) 0 -200px no-repeat;
}
.noborder .RESTORE
{
    width: 34px;
    height: 38px;
	margin-top:1px;
    float:right;
	
	background:url(images/ico.png) 0 -240px no-repeat;
}
.noborder .RESTORE:hover
{
	background:url(images/ico.png) 0 -280px no-repeat;
}
.noborder .RESTORE:active
{
	background:url(images/ico.png) 0 -320px no-repeat;
}
.noborder .FULLSCREEN
{
    width: 34px;
    height: 38px;
	margin-top:1px;
	float:right;
   background:url(images/ico.png) 0 -480px no-repeat;
}
.noborder .FULLSCREEN:hover
{
	background:url(images/ico.png) 0 -520px no-repeat;
 
}
.noborder .FULLSCREEN:active
{
	background:url(images/ico.png) 0 -560px no-repeat;
 
}



/* 逻辑区样式 */
.noborder .CONTENT
{
	/* 请不要定义padding/margin属性 */
	/* 请定义left = -(border-left),top = -(border-top) */
	left: 0px;
	top: 0px;
	background:none;
	overflow:auto
}
.noborder .CONTENT .FORM
{
	font-size: 14px;
	margin: 0px;
	padding: 12px;
}
.noborder .CONTENT .FORM_NOTITLE
{
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}
.noborder .TITLE
{
	/* 请不要定义margin属性 */
 /*  background:#0a246a;
   background:-webkit-gradient(linear, 0 0, 100% 100%, from(#0a246a), to(#a6caf0));
   background:-moz-linear-gradient(left,#0a246a,#a6caf0);
   FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=1,startColorStr=#0a246a,endColorStr=#a6caf0);*/
   
   height:40px;
   padding:0;
   z-index:10;
   overflow:hidden;
  
}
.noborder .TITLE .inner{
	height:40px;
	width:100%;
	cursor:move;
}
.noborder .TITLE .titleBar{
	margin:0;
	
}
.noborder .TITLE .titleBar .titleButtonBar{
	position:relative;
	z-index:100;
}
.noborder .TITLE .titleBar .titleButtonBar a{
	visibility:hidden;
}
.noborder:hover .TITLE .titleBar .titleButtonBar a{
	visibility:visible;
	
}
.noborder .TITLE .titleBar .titleText{
	visibility:hidden;
	height:40px;
	line-height:40px;
	text-shadow:1px 1px 1px #000;
}
.noborder:hover .TITLE .titleBar .titleText{
	visibility:visible;
	color:#FFF;
	padding:0 10px;
}
.noborder .TITLE .titleBar .titleText a{
	text-align:left;
	padding:0 5px;
	height:18px;font-size:12px; color:black;line-height: 18px;overflow: hidden;	
	 color:#000;
   	text-shadow:0px 1px 2px #EEE;
	font-weight:bold;
}
.noborder .TITLE .titleBar .titleButtonBar a:active{
	background:#428bca;
}

.noborder:hover .TITLE .inner{
 /* background:#d4d0c8;
  opacity:0.5;*/
}

/* 窗口最大化时隐藏的阴影 */
.noborder .SHADOW_TOP
{
	height:0px;
}
.noborder .SHADOW_LEFT
{
	width:0px;
}
.noborder .SHADOW_RIGHT
{
	width:0px;
}
.noborder .SHADOW_BOTTOM
{
	height:0px;
}
/* ---- mac 样式 ---- */