{eval $lyeartheme=true}
<!--{template lyear:header_simple}-->
<style>
	body {
		overflow: auto;
	}
.specification-list {
    margin-top: 30px;
    margin-bottom: 30px;
}
.specification-list li {
    text-align: left;
	display: flex;
	flex-wrap: wrap;
}
.specification-list li .name-specification {
    font-weight: 700;
}
.specification-list li .status-specification {
    margin-left: auto;
    float: right;
}
</style>
<div class="container-fluid">
	<div class="card container shadow">
		<div class="card-body">
			<div class="text-center">
				<h3 class="text-truncate"><strong>$space['username']</strong></h3>
				<div class="img-avatar-96 w-100">
					{eval echo avatar_block($uid);}
				</div>
			</div>
			<ul class="specification-list list-group list-group-flush">
				<!--{if $uid==$_G['uid'] || $_G['adminid']}-->
				<li class="list-group-item">
					<span class="name-specification">{lang email}</span>
					<span class="status-specification">$space['email']</span>
				</li>
				<li class="list-group-item">
					<span class="name-specification">手机号码</span>
					<span class="status-specification">{eval echo $space['phone'] ? $space['phone'] : '暂无';}</span>
				</li>
				<li class="list-group-item">
					<span class="name-specification">{lang weixin}</span>
					<span class="status-specification">{eval echo $space['weixinid'] ? $space['weixinid'] : '暂无';}</span>
				</li>
				<!--{/if}-->
				<!--{loop $profiles $key $value}-->
				<li class="list-group-item">
				<span class="name-specification">$value[title]</span>
				<span class="status-specification">$value[value]</span>
				</li>
				<!--{/loop}-->
			</ul>
			<!--{if $uid==$_G['uid'] || $_G['adminid']}--><div class="d-grid"><a class="btn btn-primary" href="user.php?mod=profile"><b>{lang edit_data}</b></a></div><!--{/if}-->
		</div>
	</div>
</div>
<!--{template lyear:footer_simple}--> 