<form id="iconform" name="iconform" class="form-horizontal form-horizontal-left" action="{ADMINSCRIPT}?mod=icon&op=ajax" method="post" enctype="multipart/form-data" style="margin:0" onsubmit="ajaxpost(this.id,'return_iconedit','return_iconedit');">
  <input type="hidden" name="iconsubmit" value="true" />
  <input type="hidden" name="formhash" value="{FORMHASH}" />
  <input type="hidden" name="handlekey" value="iconedit" />
  <input type="hidden" name="did" value="$did" />
  <div class="form-group">
    <label class="control-label">{lang domain_name}：</label>
    <div class="controls">
      <input type="text" class="form-control" id="domain" name="domain" autocomplete="off" value="$icon[domain]">
    </div>
    <a class="help_inline btn btn-link" onmouseover="showTip(this,'34',this.title)" title="{lang main_dzzoffice}"><i class="glyphicon glyphicon-question-sign"></i></a> 
  </div>
  <div class="form-group">
    <label class="control-label">{lang icon}</label>
    <div class="controls"> 
      <!--{if $did>0}-->
      <p>
        <input id="fileiz_0" class="form-control input-sm" name="TMPiconnew" value="" style="display: none;" type="file">
        <input id="fileiz_1" class="form-control input-sm" style="" name="iconnew" value="$_G['setting']['attachurl']{$icon[pic]}" type="text">
      </p>
      <p> <a id="fileiz_0a" style="" href="javascript:;" onclick="document.getElementById('fileiz_1a').style.fontWeight = '';this.style.fontWeight = 'bold';document.getElementById('fileiz_1').name = 'TMPiconnew';document.getElementById('fileiz_0').name = 'iconnew';document.getElementById('fileiz_0').style.display = '';document.getElementById('fileiz_1').style.display = 'none'">{lang uploading}</a>&nbsp; <a id="fileiz_1a" style="font-weight: bold;" href="javascript:;" onclick="document.getElementById('fileiz_0a').style.fontWeight = '';this.style.fontWeight = 'bold';document.getElementById('fileiz_0').name = 'TMPiconnew';document.getElementById('fileiz_1').name = 'iconnew';document.getElementById('fileiz_1').style.display = '';document.getElementById('fileiz_0').style.display = 'none'">{lang type_link}</a> </p>
      <!--{else}-->
      <p>
        <input id="fileiz_0" class="form-control input-sm" name="iconnew" value="" type="file" accept="image/jpeg,image/png,image/jpg,image/gif">
        <input id="fileiz_1" class="form-control input-sm" style="display: none;" name="TMPiconnew" value="$app[appico]" type="text">
      </p>
      <p> <a id="fileiz_0a" style="font-weight: bold;" href="javascript:;" onclick="document.getElementById('fileiz_1a').style.fontWeight = '';this.style.fontWeight = 'bold';document.getElementById('fileiz_1').name = 'TMPiconnew';document.getElementById('fileiz_0').name = 'iconnew';document.getElementById('fileiz_0').style.display = '';document.getElementById('fileiz_1').style.display = 'none'">{lang uploading}</a>&nbsp; <a id="fileiz_1a" style="" href="javascript:;" onclick="document.getElementById('fileiz_0a').style.fontWeight = '';this.style.fontWeight = 'bold';document.getElementById('fileiz_0').name = 'TMPiconnew';document.getElementById('fileiz_1').name = 'iconnew';document.getElementById('fileiz_1').style.display = '';document.getElementById('fileiz_0').style.display = 'none'">{lang type_link}</a> </p>
      <!--{/if}-->
      
      <p class="text-muted">{lang suggest_image_size}128X128 px</p>
    </div>
    <span class="help-block"> 
    <!--{if $did}--><img class="img_50_50" style="padding:2px;border:1px solid #e1e1e1" src="$_G['setting']['attachurl']{$icon[pic]}?t=$_G[timestamp]" onerror="this.src='dzz/images/default/icodefault.png'"> 
    <!--{else}--> <img class="img_50_50" style="padding:2px;border:1px solid #e1e1e1" src="dzz/images/default/icodefault.png" > 
    <!--{/if}--> 
    </span> 
  </div>
  <div class="form-group">
    <label class="control-label">{lang main_matches_regular}</label>
    <div class="controls">
      <input type="text" class="form-control" name="reg" value="$icon[reg]">
    </div>
    <a class="help_inline btn btn-link glyphicon glyphicon-question-sign" style="text-decoration:none" onmouseover="showTip(this,'34',this.title)" title="{lang main_matches_regular_text}"></a> 
  </div>
  <div class="form-group">
    <label class="control-label">{lang main_matches_priority}</label>
    <div class="controls">
      <input type="text" class="form-control" name="disp" value="$icon[disp]">
    </div>
    <a class="help_inline btn btn-link glyphicon glyphicon-question-sign" style="text-decoration:none" onmouseover="showTip(this,'34',this.title)" title="{lang main_matches_priority_text}"></a> 
  </div>
  <div class="form-group last">
    <label class="control-label">{lang main_extensions}</label>
    <div class="controls">
      <input type="text" class="form-control" name="ext" value="$icon[ext]">
    </div>
    <a class="help_inline btn btn-link glyphicon glyphicon-question-sign" style="text-decoration:none" onmouseover="showTip(this,'34',this.title)" title="{lang main_extensions_text}"></a> 
  </div>
</form>
