<ul class="nav nav-pills  nav-pills-bottomguide">
  <li <!--{if $_GET[op]=='edit'}-->class="active"<!--{/if}-->><a href="{BASESCRIPT}?mod=cloud&op=edit&bz=$bz"> {lang set}</a>
  </li>
  <li <!--{if $_GET[op]=='space'}-->class="active"<!--{/if}-->><a href="{BASESCRIPT}?mod=cloud&op=space">{lang space_management}</a>
  </li>
  <li <!--{if $_GET[op]=='router'}-->class="active"<!--{/if}-->><a href="{BASESCRIPT}?mod=cloud&op=router">{lang routing_management}</a>
  </li>
  
  <!--{if $_GET[op]=='routeredit'}--> 
  <!--{if $routerid}-->
  <li class="active"><a href="{BASESCRIPT}?mod=cloud&op=routeredit&routerid=$routerid">{lang edit_routing}</a></li>
  <!--{else}-->
  <li class="active"><a href="{BASESCRIPT}?mod=cloud&op=routeredit">{lang add_routing}</a></li>
  <!--{/if}--> 
  <!--{/if}--> 
  <li <!--{if $_GET[op]=='movetool'}-->class="active"<!--{/if}-->><a href="{BASESCRIPT}?mod=cloud&op=movetool">{lang migration_tool}</a>
  </li>
</ul>
