<ul class="nav-drawer nav-stacked nav-pills">
	<li class="nav-item">
		<a class="nav-link <!--{if $operation=='basic' || $operation=='datetime' || $operation=='upload' || $operation=='at'}-->active<!--{/if}-->" href="{MOD_URL}&operation=basic"><i class="mdi mdi-card-text-outline"></i><span>{lang basicSet}</span></a>
	</li>
	<li class="nav-item">
		<a class="nav-link <!--{if $operation=='access' || $operation=='sec' || $operation=='loginset'}-->active<!--{/if}-->" href="{MOD_URL}&operation=access"><i class="mdi mdi-login"></i><span>{lang loginSet}</span></a>
	</li>
	<li class="nav-item">
		<a class="nav-link <!--{if $operation=='space'}-->active<!--{/if}-->" href="{MOD_URL}&operation=space"><i class="mdi mdi-view-week"></i><span>{lang spaceSet}</span></a>
	</li>
	<li class="nav-item">
		<a class="nav-link <!--{if $operation=='mail' || $op=='mailcheck' }-->active<!--{/if}-->" href="{MOD_URL}&operation=mail"><i class="mdi mdi-email"></i><span>{lang mail}</span></a>
	</li>
	<li class="nav-item">
		<a class="nav-link <!--{if $operation=='smiley' || $op=='smiley' }-->active<!--{/if}-->" href="{MOD_URL}&operation=smiley"><i class="mdi mdi-sticker-emoji"></i><span>{lang expression_manage}</span></a>
	</li>
	<li class="nav-item">
		<a class="nav-link <!--{if $operation=='permgroup'}-->active<!--{/if}-->" href="{MOD_URL}&operation=permgroup"><i class="mdi mdi-account-supervisor"></i><span>{lang permGroupSet}</span></a>
	</li>
	<li class="nav-item">
		<a class="nav-link <!--{if $operation=='censor' }-->active<!--{/if}-->" href="{MOD_URL}&operation=censor"><i class="mdi mdi-percent"></i><span>{lang words_management}</span></a>
	</li>
</ul>