<ul class="nav-drawer nav-stacked nav-pills">
	<!--{eval
	$navs = [
        [
            'icon' => 'mdi-card-text-outline',
            'lang' => 'basicSet',
            'hasSubnav' => true,
            'activeops' => ['basic', 'datetime', 'upload', 'at', 'notification'],
            'subnav' => [
                ['op' => 'basic', 'lang' => 'members_verify_base'],
                ['op' => 'datetime', 'lang' => 'time_set'],
                ['op' => 'upload', 'lang' => 'upload_download_set'],
                ['op' => 'at', 'lang' => 'sector_set', 'prefix' => '@'],
                ['op' => 'notification', 'lang' => 'notification_set']
            ]
        ],
        [
            'icon' => 'mdi-login',
            'lang' => 'loginSet',
            'hasSubnav' => true,
            'activeops' => ['denlu', 'access', 'sec', 'loginset'],
            'subnav' => [
                ['op' => 'denlu', 'lang' => 'basicSet'],
                ['op' => 'access', 'lang' => 'register_visit'],
                ['op' => 'sec', 'lang' => 'verification_code_set'],
                ['op' => 'loginset', 'lang' => 'login_page_set']
            ]
        ],
        [
            'icon' => 'mdi-view-week',
            'lang' => 'spaceSet',
            'hasSubnav' => false,
            'op' => 'space'
        ],
        [
            'icon' => 'mdi-view-week',
            'lang' => 'mail',
            'hasSubnav' => true,
            'activeops' => ['mail', 'mailcheck'],
            'subnav' => [
                ['op' => 'mail', 'param' => 'operation', 'lang' => 'set'],
                ['op' => 'mailcheck', 'param' => 'op', 'lang' => 'setting_mail_check']
            ]
        ],
        [
            'icon' => 'mdi-sticker-emoji',
            'lang' => 'expression_manage',
            'hasSubnav' => true,
            'activeops' => ['smileyset', 'smiley'],
            'subnav' => [
                ['op' => 'smileyset', 'param' => 'operation', 'lang' => 'expression_set'],
                ['op' => 'smiley', 'param' => 'op', 'lang' => 'expression_class']
            ]
        ],
        [
            'icon' => 'mdi-account-supervisor',
            'lang' => 'permGroupSet',
            'hasSubnav' => true,
            'activeops' => ['permgroup', 'usergroup'],
            'subnav' => [
                ['op' => 'permgroup', 'lang' => 'folder_perm_group'],
                ['op' => 'usergroup', 'lang' => 'usergroup_perm']
            ]
        ],
        [
            'icon' => 'mdi-percent',
            'lang' => 'words_management',
            'hasSubnav' => false,
            'op' => 'censor'
        ]
    ];
	$currentGroup = [];
	}-->
    <!--{loop $navs $nav}-->
    <li class="nav-item<!--{if $nav[hasSubnav]}--> nav-item-has-subnav<!--{if $nav[activeops] && in_array($operation, $nav[activeops])}--> active open<!--{/if}--><!--{/if}-->"> 
        <a class="nav-link<!--{if !$nav[activeops] && $operation == $nav[op]}--> active<!--{/if}-->" href="<!--{if $nav[hasSubnav]}-->javascript:void(0)<!--{else}-->{MOD_URL}&operation={$nav[op]}<!--{/if}-->">
            <i class="mdi {$nav[icon]}"></i>
            <span><!--{eval echo lang($nav['lang']);}--></span>
        </a>
        <!--{if $nav[hasSubnav]}-->
        <ul class="nav nav-subnav">
            <!--{loop $nav[subnav] $item}-->
            <!--{if !$currentGroup && $item['op'] == $operation}-->
            <!--{eval $currentGroup = $nav;}-->
            <!--{/if}-->
            <li class="nav-item">
                <a class="nav-link <!--{if $operation == $item[op]}-->active<!--{/if}-->" href="{MOD_URL}&<!--{if $item[param]}-->{$item[param]}<!--{else}-->operation<!--{/if}-->={$item[op]}">
                <!--{if $item[prefix]}-->{$item[prefix]}<!--{/if}-->
                <!--{eval echo lang($item['lang']);}-->
                </a>
            </li>
            <!--{/loop}-->
        </ul>
        <!--{/if}-->
    </li>
    <!--{/loop}-->
</ul>