/*一般全局性的css在这里*/
html {
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
img {
	vertical-align: none;
}
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	cursor: url('../images/cur/aero_arrow.cur'), auto;
	font-family: "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
	font-size: 13px;
}
#MsgContainer {
	overflow: hidden;
}
.modal {
	font-size: 14px;
}
A {
	cursor: pointer;
}
.icon_32_32 {
	max-width: 32px;
	max-height: 32px;
}
* html .icon_32_32 {
width: expression(this.width > 32 && this.width>=this.height ? 32 : true);
height: expression(this.height > 32 && this.width<=this.height ? 32 : true);
}
.icon_50_50 {
	max-width: 50px;
	max-height: 50px;
}
* html .icon_50_50 {
width: expression(this.width > 50 && this.width>=this.height ? 50 : true);
height: expression(this.height > 50 && this.width<=this.height ? 50 : true);
}
#append_parent {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}
#ajaxwaitid {
	position: absolute;
	right: 0;
	top: 0;
}
.MODAL {
	background-color: #000;
	filter: Alpha(opacity=50);
	opacity: 0.5;
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	z-index: 100;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}
.desktop {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0pt;
	margin: 0pt;
	overflow: hidden;
}
.scale_0 {
}
.scale_3 {
	background-position: center;
}
.scale_1 {
	background-size: 100% 100%;
}
.icosContainer {
	background: url(../images/b.gif);
}
.icosContainer {/*桌面图标容器*/
	padding: 0;
	margin: 0;
	position: absolute;
}
.window .icosContainer {/*目录图标容器*/
	z-index: 10;
}
.window .icosContainer .middlelist, .window .icosContainer .smalllist {
	margin-top: 10px;
}
.tabdiv {
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	overflow: hidden;
	background: url(../images/b.gif);
}
._text {
	color: #00F;
}
.appIframe {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute
}/*应用窗体iframe样式*/
* html .appIframe {
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	position: absolute
}
.radius {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.border_background {
	background: #000;
	BORDER: #FFF 1px solid;
}
.backgound_radius {
	filter: Alpha(opacity=40);
	opacity: 0.4;
	border: 1px solid transparent;
}
/*.ico_user_div{
	float:left;
	width:100%;
	color:#999;
	text-shadow:1px 1px 1px #EEE;
}
.ico_item_name{
	color:#000;
	text-shadow:1px 1px 1px #EEE;
	text-decoration:none;
}
.ico_item:hover{
	color:#0066FF;	
}
.ico_item_user{
	color:#CCC;
}
.ico_item_info{
	color:#CCC;
	
}
*/
.glow {
	filter: glow(color=#FF9900, strengh=2);/*for ie6,7,8*/
	-moz-box-shadow: 0px 0px 2px #FF9900;/*firefox*/
	-webkit-box-shadow: 0px 0px 2px #FF9900;/*webkit*/
	box-shadow: 0px 0px 2px #FF9900;/*opera或ie9*/
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webket-border-radius: 2px;
}
@-webkit-keyframes rotateplane {
 0% {
-webkit-transform: perspective(120px)
}
 25% {
-webkit-transform: perspective(120px) rotateY(180deg)
}
 50% {
-webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
}
 75% {
-webkit-transform: perspective(120px) rotateX(180deg)
}
 100% {
-webkit-transform: perspective(120px)
}
}
@-moz-keyframes rotateplane {
 0% {
-moz-transform: perspective(120px)
}
 25% {
-moz-transform: perspective(120px) rotateY(180deg)
}
 50% {
-moz-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
}
 75% {
-moz-transform: perspective(120px) rotateX(180deg)
}
 100% {
-moz-transform: perspective(120px)
}
}
@-o-keyframes rotateplane {
 0% {
-o-transform: perspective(120px)
}
 25% {
-o-transform: perspective(120px) rotateY(180deg)
}
 50% {
-o-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
}
 75% {
-o-transform: perspective(120px) rotateX(180deg)
}
 100% {
-o-transform: perspective(120px)
}
}
@keyframes rotateplane {
 0% {
transform: perspective(120px)
}
 25% {
transform: perspective(120px) rotateY(180deg)
}
 50% {
transform: perspective(120px) rotateY(180deg) rotateX(180deg)
}
 75% {
transform: perspective(120px) rotateX(180deg)
}
 100% {
transform: perspective(120px)
}
}
/*加载样式*/
.loading_img {
	position: relative;
	width: 54px;
	height: 54px;
	background: url(./images/logo.png);
	-webkit-animation: rotateplane 3.2s infinite ease-in-out;
	animation: rotateplane 3.2s infinite ease-in-out;
}
.loading_process {
	position: absolute;
	z-index: 999999;
	left: 11px;
	top: 11px;
	width: 32px;
	height: 32px;/*background:url(./images/loading.gif);*/
}
.ie8 .loading_process {
	background: url(./images/loading.gif);
}
.ie9 .loading_process {
	background: url(./images/loading.gif);
}
.ie8 .loading_img {
	background: none;
}
.ie9 .loading_img {
	background: none;
}


/*桌面多屏导航*/
.page_nav_container {
	position: absolute;
	height: 20px;
	bottom: 15px;
	left: 50%;
	z-index: 2001;
}
.page_nav_container .page_nav_item {
	height: 20px;
	float: left;
	font-size: 1px;
	background: url(./images/b.gif);
	cursor: pointer;
}
.page_nav_container .page_nav_item .page_nav_block {
	width: 60px;
	height: 6px;
	background: #333;
	border-radius: 3px 3px 3px 3px;
}
.page_nav_container .current .page_nav_block {
	width: 60px;
	height: 6px;
	background: #EEE;
	border-radius: 3px 3px 3px 3px;
}
.IcoText_div textarea {
	margin: 0;
}
/*上传提示框标题强制换行*/
.progress-title {
	word-wrap: break-word;
	word-break: break-all;
}
/*
打开方式选择框
*/
.extopen {
	padding-left: 10px;
	max-height: 300px;
	overflow-y: auto;
}
.extopen li {
	line-height: 36px;
	height: 36px;
	list-style: none;
}
.extopen li a {
	padding: 5px;
	margin-left: 5px;
	text-decoration: none;
	vertical-align: middle;
}
.extopen .active a {
	background: #006dcc;
	border: 1px solid #04c;
	color: #FFF;
}
.extopen li img {
	vertical-align: middle;
}
/*openfile*/
#right_bottom {
	background: #F7F7F7;
	border-top: 1px solid #D2D2D2;
	padding: 5px 0;
}
#right_bottom input[type="text"], #right_bottom select {
	margin-bottom: 0px;
}
#notice {
	position: absolute;
	right: 5px;
	bottom: 5px;
	z-index: 5000;
	max-width: 350px;
}
