html,body{
	margin:0;
	padding:0;
	width: 100%;
	height: 100%;
	overflow:auto;
	-webkit-overflow-scrolling: touch;
	font-family:Tahoma,'Microsoft Yahei','Simsun';
	word-break:break-all;
}
html{
	overflow:hidden;
}
body{
	background:#FBFBFB
}
@keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
.spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}
/*start 定义几种字体颜色*/
.gray{
	color:#999 !important;
}
.primary{
	color:#428bca !important;
}
.success{
	color:#5cb85c !important;
}
.info{
	color:#5bc0de !important;
}
.warning{
	color:#f0ad4e !important;
}
.danger{
	color:#d9534f !important;
}
.rq{
	color:red !important;
}
/*start 输入框边线样式*/
textarea.input-correct, input.input-correct {
	border-color: #7CB81C;
}
textarea.input-error, input.input-error {
	border-color: #E26F50;
}
/*end 输入框边线样式*
/
/*认证图标*/
.verify-icon{
	vertical-align:top;
	max-height: 1em;
}
* html .verify-icon {
height: expression(this.height > 16 && this.width<=this.height ? 16 : true);
}

/*end 定义几种字体颜色*/
#ajaxwaitid { display: none; position: absolute; right: 0; top: 0; z-index: 1; padding: 0 5px; background: #F7F7F7 }
a,a:hover,a:focus{
	text-decoration:none;
	outline:none;
}
.container{
	height:100%;
	width:auto !important;
	margin:0;
	padding:0;
}

form{
	margin:0;	
}
.pagination{
	font-size:14px;
	margin:10px 0;
}
.pagination input[type=text]{
	width:32px;
	width: 32px;
	line-height:1em;
	font-size: 12px;
	padding: 1px;
	
}

a i{
 _filter:Alpha(opacity=70);
	opacity:0.7;	
}
.glyphicon{
	top:2px;
}
a:hover i{
	_filter:Alpha(opacity=100);
	opacity:1;
}

/*.glyphicon-remove-sign:empty {
	width: 24px;
}
.glyphicon-remove-sign {
	background:url(../image/common/delete.png) no-repeat center;
	width:24px;
	height:24px;
}
.glyphicon-remove-sign:before {
	content: "";
}*/

.nav-tabs li a{
	/*margin-left:10px;*/
}
dl dt{
	
	margin-bottom:10px;
}
dl dd{
	margin-left:20px;
}
/*一些通用的css*/
.strong{
	font-weight:bold;
}

.wd60{
	width:60px;
}
.wd80{
	width:80px;
}
.wd100{
	width:100px;
}
.wd180{
	width:180px;
}
.mt10{
	margin-top:10px;
}
.mr10{
	margin-right:10px;
}
.mb10{
	margin-bottom:10px;
}
.ml10{
	margin-left:10px;
}


.mt20{
	margin-top:20px;
}
.mr20{
	margin-right:20px;
}
.mb20{
	margin-bottom:20px;
}

.ml20{
	margin-left:20px;
}

.bt{
	border-top:1px solid #DDD;
}
.br{
	border-right:1px solid #DDD;
}
.bb{
	border-right:1px solid #DDD;
}
.b1{
	border-right:1px solid #DDD;
}
.b-white{
	border-color:#FFF;
}

.btn-width{
	padding:6px 25px;
}

/*start 加载样式*/

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }

  25% { -webkit-transform: perspective(120px) rotateY(180deg) }

  50% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  
   75% { -webkit-transform: perspective(120px) rotateX(180deg) }

  100% { -webkit-transform: perspective(120px)   }
}
@-moz-keyframes rotateplane {
  0% { -moz-transform: perspective(120px) }

  25% { -moz-transform: perspective(120px) rotateY(180deg) }

  50% { -moz-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  
  75% { -moz-transform: perspective(120px) rotateX(180deg) }

  100% { -moz-transform: perspective(120px)   }
}
@-o-keyframes rotateplane {
  0% { -o-transform: perspective(120px) }

  25% { -o-transform: perspective(120px) rotateY(180deg) }

  50% { -o-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  
   75% { -o-transform: perspective(120px) rotateX(180deg) }

  100% { -o-transform: perspective(120px)   }
}
@keyframes rotateplane {
  0% { transform: perspective(120px) }

  25% { transform: perspective(120px) rotateY(180deg) }

  50% { transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  
   75% {transform: perspective(120px) rotateX(180deg) }

  100% { transform: perspective(120px)   }
}
.loading_img{ 
	position:relative;
	width:54px; 
	height:54px;
	background:url(../image/common/logo.png) no-repeat;
    -webkit-animation: rotateplane 3.2s infinite ease-in-out;
     animation: rotateplane 3.2s infinite ease-in-out;
	
}
.loading_process{
	position:absolute;
	z-index:999999;
	left:11px;
	top:11px;
	width:32px;
	height:32px;
	/*background:url(./images/loading.gif);*/
}
.ie8 .loading_process{
	background:url(../image/common/loading.gif) no-repeat;
}
.ie9 .loading_process{
	background:url(../image/common/loading.gif) no-repeat;
}
.ie8 .loading_img{
	background:none;
}
.ie9 .loading_img{
	background:none;
}
/*end 加载样式 */
.tips {
	left:50%;
	position:fixed;
	top:0px;
	width:350px;
	margin-left:-125px;
	z-index:999;
}


.main-container{
	margin-left:120px;
	height:100%;
	overflow:auto;
}
.main-header {
  /*padding: 0 10px;*/
  position:relative;
  background: #F7F7F7;
  border-bottom: 1px solid #DDD;
  +width:100%;
  +overflow:hidden;
	
}

.main-header2 {
  border-bottom: 1px solid #DDD;
  margin: 0;
  padding: 0 10px;
  position: relative;
}
.main-header2 .nav,.main-header .nav{
	margin:0;
}
.main-header span,.main-header2 span{
	margin-left:20px;
}
.main-header2 .nput-group,.main-header .nput-group{
	margin:5px 0 0;
}
table {
	border-collapse: initial;
}

.table td {
	vertical-align: middle;
}
.table td img {
	max-width: 32px;
	max-height: 32px;
	margin-right: 10px;
}

.table td .pagination , .table th .pagination{
	padding:0;
	margin:0;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
	vertical-align:middle !important;
	border-bottom:1px solid #e7e7e7;
	border-top:1px solid #FFF;
}
.child-org {
	line-height:26px;
	overflow:hidden;
}
 .child-org .tree-su{
	background:url("../image/common/tree_su.gif") no-repeat left center;
}
.child-org .tree-heng{
	background:url("../image/common/tree_heng.gif") no-repeat left center;
}
.child-org .tree-heng1{
	background:url("../image/common/tree_heng1.gif") no-repeat left center;
}

.child-org .child-tree{
	display:inline-block;
	width:20px;
	height:26px;
	margin-left:10px;
}


.un_selector{
  background-color: #FFFFFF;
  border: 1px solid #e1e1e1;
  color: #555555;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
  padding: 4px;
  vertical-align: middle;
  width:215px;
}

/*多选输入框*/
.un_selector { height: auto; cursor: text; overflow: hidden; }
		.un_selector input { width: 95px; height: 21px; border-width: 0; outline: none;box-shadow:none;padding:0 }
			.ie6 .un_selector input, .ie7 .un_selector input { height: 21px; }
		.un_selector input:focus{
			box-shadow:none;
		}
		.un_selector span { float: left; margin: 1px 2px 1px 0; width: 100px; height: 21px; line-height: 20px; background: #F7F6ED ; color: #369; overflow: hidden; display: inline-block;border-radius:3px; }
			.un_selector em { padding-left: 5px; width: 80px; font-style:normal; font-size:12px;}
			.un_selector span .close{font-size:18px;font-weight:normal}

select {
  width: auto;
}

.sllt {
	padding: 4px;
	border: 1px solid;
	min-width: 60px;
	border-color: #DDD;
	background: #FEFEFE;
	box-shadow: 1px 2px 2px rgba(0,0,0,0.3);
}
.sllt { padding: 5px !important; }
.sllt .sllt-wrap{
	width:288px;
	height:188px;
}
.sllt td { padding: 6px; border: none; cursor: pointer; }
.sllt_p { *float: left; text-align: right; }
	.sllt_p a { margin-right: 5px; font-size:12px;}
.sl_pv { margin-top: 5px; padding: 8px; background: #FAFAFA; border: 1px solid #CCC; }
.ie6 .slg, .ie7 .slg { width: expression(this.parentNode.offsetWidth); }
	

.passlevel { padding-left: 70px; background: url("../image/common/passlevel.png") no-repeat 0 5px; }
	.passlevel1 { background-position: 0 -35px; }
	.passlevel2 { background-position: 0 -75px; }
	.passlevel3 { background-position: 0 -115px; }

.help-inline ,.help-block{
	color:#999;
	font-size:12px;
}
.help-inline:hover,.help-block:hover{
	color:#000;
}
/*form-horizontal-left 样式,靠左侧对其，内部条目浮动排列*/
.form-horizontal-left label{
	padding:7px 10px 0 10px;
	float:left;
	
}

.form-horizontal-left .form-group {
	margin-right: 0px;
	margin-left: 0px;
}
.form-horizontal-left .form-group .controls{
	float:left;
}
@media (max-width: 420px) {
	.form-horizontal-left .form-group .controls{
		min-width:250px;
	}
}
.form-horizontal-left .form-group .controls-adapt{
	float:none;max-width:750px;padding-left:120px;
}

@media (max-width: 420px) {
	.form-horizontal-left .form-group .controls-adapt{
		min-width:250px;
		padding-left:0;
		padding-top:35px;
	}
}
.form-horizontal-left .form-group .controls .form-control{
	float:none;
}
.form-horizontal-left .form-group .controls label{
	float:none;
}
.form-horizontal-left .form-group .controls .radio{
	float:none;
	font-weight:normal;
}
.form-horizontal-left .form-group .controls .checkbox{
	float:none;
	font-weight:normal;
}
.form-horizontal-left .form-control{
	width:250px;
	float:left;
	padding:2px 6px;
	border-radius:0
}
 .form-horizontal-left .control-label {
	width:120px;
  }

.form-horizontal-left .help-inline{
	float:left;
	padding:5px 5px 5px 25px;
	line-height:20px;
	word-break: break-all;
}
.form-horizontal-left ul.help-inline{
	padding:0 0 0 25px ;
	word-break: break-all;
}
.form-horizontal-left dd .help-block ,.form-horizontal-left dd .help-inline{
	padding:6px;
}
.form-horizontal-left .slider-horizontal{
	float:left;
	margin-top:7px;
	width:250px;
}
.form-horizontal-left .tagsinput{
	float:left;
	width:250px;
}
.form-horizontal-left .help-block{
	padding:5px 0 0 25px ;
	line-height:20px;
	word-break: break-all;
	clear:both;
}
@media (min-width: 420px) {
  .form-horizontal-left .control-label {
    text-align: right;
	width:120px;
  }
  .form-horizontal-left .form-control{
	width:250px;
  }
  .form-horizontal-left ul.help-block{
	padding:0 0 0 135px ;
  }
  .form-horizontal-left .help-block{
	 padding:6px 0 0 120px ;
  }
  .form-horizontal-left dd .help-block ,.form-horizontal-left dl .help-block ,.form-horizontal-left dd .help-inline,.form-horizontal-left dl .help-inline{
	padding:6px;
  }
	
}
.nav strong{
	font-size:16px;
	padding:10px 15px 5px 15px;
}

/*start左侧*/

.bs-left-container{
	width:120px;
	/*background: #FFF;
	border-right: 1px solid #DDD;*/
	position: fixed;
	top: 38px;
	left:0;
	overflow:auto;
	-webkit-overflow-scrolling: touch;
	z-index:100;
    border-right: 1px solid #D2D2D2;
	border-top:1px solid #FFF;
	background: #f7f7f7;
  	-webkit-box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.1);
  	-moz-box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.1);
  	box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.07);
}
.left-container-scroll{
	overflow-x:hidden;
	overflow-y:auto;
}

.left-drager{
	position: fixed;
	padding: 0px;
	margin: 0px;
	overflow: visible;
	left: 120px;
	cursor: default;
	height: 100%;
	width: 7px;
	top: 38px;
	background:url(../image/common/none.gif) repeat;
	cursor:w-resize;
	z-index:1901;
	border-left:1px solid #FFF;
}
.left-drager .left-drager-op{
	position:absolute;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	text-align: center;
	font-size: 1px;
	cursor: pointer;
	height: 50px;
	width: 30px;
	left:-32px;
	bottom:15px;
	
}
.left-drager .left-drager-sub{
	position:absolute;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	text-align: center;
	font-size: 1px;
	cursor: pointer;
	height: 100%;
	width: 15px;
	/*background:url(../image/common/left_drager_op.png) no-repeat 0 0;*/
}
.left-drager .left-drager-op1{
	left:-32px;
	bottom:15px;
}
.left-drager .left-drager-op2{
	left:-1px;
	bottom:15px;
}

.left-drager .left-drager-op1 .left-drager-sub{
	right:0px;
	top:0;
	border:1px solid #D2d2d2;
	border-right:0;
	border-radius:15px 0 0 15px;
	background: #EFEFEF url(../image/common/left_drager_op1.gif) 4px center no-repeat;
}
.left-drager .left-drager-op1:hover .left-drager-sub{
	background: #D2D2D2 url(../image/common/left_drager_op1.gif) 4px center no-repeat;
}
.left-drager .left-drager-op2 .left-drager-sub{
	left:-2px;
	border-radius:0 15px 15px 0;
	border:1px solid #D2d2d2;
	border-left:0;
	background: #EFEFEF url(../image/common/left_drager_op2.gif) 4px center no-repeat;
}
.left-drager .left-drager-op2:hover .left-drager-sub{
	background: #D2d2d2 url(../image/common/left_drager_op2.gif) 4px center no-repeat;
}
@media (max-width: 768px) {
.bs-main-container {
	margin-left: 0;
	overflow: auto;
}
.bs-left-container {
	display:none
}
.left-drager{
	border-left:0;
}
}
.bs-left-container .nav-tabs-vertical .nav-tabs{
	float: none;
}
/*end左侧*/
/*start导航*/
.bs-navbar-default{
	min-height:38px;
	margin-bottom:0;
	border-radius:0;
	border-width:0 0 1px 0;
	border-style:solid;
	border-color:#DDD;
	
}

.bs-navbar-default{
	background-color: #f3f3f3;
	-webkit-box-shadow: inset 0px -3px 8px -4px rgba(0, 0, 0, 0.1);
  	-moz-box-shadow: inset 0px -3px 8px -4px rgba(0, 0, 0, 0.1);
  	box-shadow: inset 0px -3px 8px -4px rgba(0, 0, 0, 0.07);
	background-color: #f0f0f0;
	background-image: -webkit-linear-gradient(top,#FFF,#f0f0f0);
	background-image: -moz-linear-gradient(top,#FFF,#f0f0f0);
	background-image: -ms-linear-gradient(top,#FFF,#f0f0f0);
	background-image: -o-linear-gradient(top,#FFF,#f0f0f0);
	background-image: linear-gradient(top,#FFF,#f0f0f0);
	border-bottom: 1px solid #D2D2D2;
}
.bs-navbar-default .navbar-toggle{
	margin:3px 15px 3px 0;
	padding:8px 10px;
}
.bs-navbar-default .breadcrumb{
	margin:0;background:none;padding:9px 16px;
}

.ie8 .bs-navbar-default .breadcrumb li{
	float:left;	
}

@media (min-width: 768px) {
	
	.bs-navbar-default .navbar-nav.navbar-right:last-child{
		margin-right:0;
	}
}
.bs-navbar-default .container-fluid>.navbar-header{
		margin-left:-15px;
		margin-right:-15px
}
.bs-navbar-default .breadcrumb a{
	font-weight:bold;
}
.bs-navbar-default .navbar-nav>li>a{
	padding:9px 12px;
}
.bs-navbar-default .navbar-form{
	margin:4px 0;
}
.bs-navbar-default .navbar-text{
	margin:7px 0;
}

.bs-navbar-default .navbar-nav>.active>a, .bs-navbar-default .navbar-nav>.active>a:hover, .bs-navbar-default .navbar-nav>.active>a:focus {
	color: #FFF;
	background: #777;
}

.bs-container{
	position:relative;
	padding-top:38px;
}
/*start导航*/

.bs-main-container{
	margin-left:120px;
	border-top:1px solid #FFF;
	overflow:auto;
}
/*start 定义圆形按钮*/
.ibtn {
	display: inline-block;
	vertical-align: middle;
	width: 30px !important;
	height: 30px;
	line-height: 30px;
	text-align:center;
	background:#F7F7F7;
	border-radius:50%;
	font-size:14px;
	
}
.ibtn-sm{
	width: 20px !important;
	height: 20px;
	line-height:20px;
}
.ibtn:hover {
  background:#3497db;
  color:#FFF;
}
.ibtn.glyphicon-trash:hover {
	 background:#d9534f;
}
.ibtn.glyphicon-remove:hover {
	 background:#d9534f;
}
/*end 定义圆形按钮*/

/*按钮样式*/
.btn-simple {
	border: 1px solid #e1e1e1;
	background: #f9f9f7;
	background-image: none;
	text-shadow: 0 0 0 transparent;
	-webkit-box-shadow: 0 0 0 transparent;
	box-shadow: 0 0 0 transparent;
	/*padding: 6px 25px;*/
}
.btn-simple:hover {
	background-color: #f2f2ea;
}
/*end 按钮样式*/
/*.dropdown-menu{
	max-height:300px;
	overflow-x:hidden;
	overflow-y:auto;
}*/
/*机构和用户选择盒*/
.org-sel-box {
	/* box-shadow: 0 5px 15px #CCC; */
	/* border: 5px solid RGBA(0,0,0,0.2); */
	width: 300px;
	height: 300px;
	background: #FBFBFB;
	border-radius: 5px;
	overflow: hidden;
	z-index: 11000;
	padding-bottom:0;
}

/*调试信息*/
.debug_bar_bottom{
	position:absolute;
	bottom:0;
	right:10px;
	line-height:30px;
	text-align:right;
	z-index:10000;
}
.debug_bar_bottom #debuginfo{
	color:green;
	text-shadow:1px 1px 1px #FFF;
}

/*start 加入编辑器内容的相关css*/
.dzz-image{
	cursor:pointer;
}
.dzz-attach,.dzz-link,.dzz-dzzdoc {
	padding:0 10px;
	display:inline-block;
}
.dzz-attach-icon,.dzz-dzzdoc-icon,.dzz-link-icon{
	width:16px;
	height:16px;
	vertical-align: middle;
	margin-top:-5px;
	margin-right:5px;
}
.dzz-attach-title,.dzz-dzzdoc-title,.dzz-link-title{
	text-decoration:none;
}

/*end 加入编辑器内容的相关css*/


/*弹出对话框样式*/

.fwinmask {
	background:#FBFBFB;
	/*box-shadow:0 3px 7px rgba(0,0,0,0.3),inset 0 0 10px #FFF;*/
	box-shadow:1px 3px 15px rgba(0,0,0,0.8),inset 0 0 10px #FFF;
	/*border:1px solid rgba(0,0,0,0.7);*/
	padding:5px;
	border:1px solid #CCC\0;
	*border:1px solid #CCC;
	border-radius:3px;
}
/*.fwinmask.modal-content{
	box-shadow:none;
	border:0;
}*/
.fwinmask p{
	margin:0;
	padding:5px 0 0;
}
.fwinmask .m_c h3{
	border-bottom:1px solid #e7e7e7;
	font-size:16px;
	margin:0; 
	font-weight:bold;
}
.fwinmask .m_c h3{*zoom:1}
.fwinmask .m_c h3:before,.fwinmask .m_c h3:after{display:table;line-height:0;content:""}
.fwinmask .m_c h3:after{clear:both}
.fwinmask .m_c h3 .close{
	margin-right:10px\0;
	*zoom:1
}
.fwinmask .m_c h3 em{
	font-style:normal;
	float:left;
	padding:10px;
}
.fwinmask .m_c .o {
    background: none;
    border-top: none;
    padding: 5px;
    text-align: right;
	border-top:1px solid #FFF
}
.fwinmask .m_c .o .muted{
	padding-top:8px;
	color:#999;
	font-size:12px;
}
.fwinmask .m_c .c {
    border-bottom: 1px solid #e7e7e7;
    border-top: 1px solid #FFFFFF;
    padding: 10px;
	margin: 0 !important;
	min-width:350px;
}
.fwinmask .m_c .last{
	border-bottom: none;
    border-top: 1px solid #FFFFFF;
	margin:0px;
	padding:10px 0;
}

.fwinmask .alert_icon .alert_icon_img{
	padding:1px;
	background:#FFF;
	width:48px;
	height:48px;
	height: 48px;
    margin-left: -58px;
    padding: 1px;
    position: absolute;
    width: 48px;
}
.fwinmask .alert_icon {
  font-size: 14px;
  height: auto !important;
  line-height: 160%;
  min-height: 50px;
  padding: 6px 0 6px 68px;
}

/*end 弹出对话框样*/
/*start 弹出Prompt消息框样式*/
.popupcredit {
}
.pc_l, .pc_c, .pc_inner, .pc_r {
	width: 29px;
	height: 56px;
	line-height: 56px;
	background: url(../image/common/popupcredit_bg.gif) no-repeat 0 0;
}
.pc_c {
	width: 200px;
	background-position: 0 -56px;
	background-repeat: repeat-x;
}
.pc_inner {
	white-space: nowrap;
	text-align: center;
	width: auto;
	background-position: 50% -112px;
}
.pc_inner i {
	margin-right: 10px;
	font-size: 12px;
	font-style: normal;
	color: #FFF;
	font-weight: 400;
}
.pc_inner span {
	margin-right: 15px;
	color: #FFEA97;
	font-size: 14px;
	font-weight: 700;
}
* html .pc_inner span {
	display: inline-block;
}
.pc_inner span a {
	color: #FFEA97;
	text-decoration: underline;
}
.pc_inner span em {
	color: #FFF;
	font-size: 18px;
	font-weight: 400;
}
.pc_inner span u {
	font-size: 10px;
	text-decoration: none;
}
.pc_inner span em.desc {
	color: #930;
}
.pc_btn img {
	opacity: 0.5;
}
.pc_btn:hover img {
	opacity: 1;
}
.pc_r {
	background-position: -30px 0;
}
.popuptext .pc_l, .popuptext .pc_c, .popuptext .pc_inner, .popuptext .pc_r {
	background: url(../image/common/popuptext_bg.gif) no-repeat 0 0;
}
.popuptext .pc_c {
	width: 200px;
	background-position: 0 -56px;
	background-repeat: repeat-x;
}
.popuptext .pc_inner {
	white-space: nowrap;
	text-align: center;
	width: auto;
	background-position: 50% -112px;
}
.popuptext .pc_r {
	background-position: -30px 0;
}

/*start 弹出Prompt消息框样式*/
.avatar-small{
	width: 32px;
	height: 32px;
}
.avatar-font-small {
	display: inline-block;
	text-align: center;
	width: 32px;
	height: 32px;
	font-size: 20px;
	line-height:30px;
	background: #F9F9F9;
	border: 1px solid #e1e1e1;
	overflow: hidden;
	box-shadow: inset 0px 0px 3px #FFF;
	white-space:nowrap;
	text-indent:5px;
	letter-spacing:4px; 
	font-weight:400;
}
a:hover .avatar-font-small{
	background:#F7F7F7;
}