<div class="main-header" style="line-height:39px;padding:0 15px;">
	<b><!--{if $org['forgid']<1}-->{lang organization}<!--{else}-->{lang department}<!--{/if}-->{lang name}：$org['orgname'] </b>
	<!--{if $_G['adminid']==1}-->
	<a href="{ADMINSCRIPT}?mod=orguser&op=export&orgid=$orgid" class="btn btn-link pull-right" title="{lang export_excl}" target="_blank">{lang export_user}</a>
	<!--{/if}-->
</div>
<div class="main-body" style="padding:15px 15px 15px 22px;">
	<!--{if $folder_available}-->
	<dl>
		<dt>{lang shared_directory_set}:</dt>
		<dd class="clearfix">
			<label class="radio-inline"><input type="radio" id="folder_available_1" name="fid" value="1" <!--{if $org[available]>0}-->checked="checked"<!--{/if}-->      onclick="folder_available(1,'$orgid');"  />{lang enable}</label>
			<label class="radio-inline ml20"><input type="radio" id="folder_available_0" name="fid"  value="0" <!--{if $org[available]<1}-->checked="checked"<!--{/if}--> onclick="folder_available(0,'$orgid');" />{lang no_enable}</label>
			<!--{if $org['forgid']<1}-->
			<span class="help-inline ml20">{lang detail_org_no_enable}</span>
			<!--{else}-->
			<span class="help-inline ml20">{lang detail_org_enable}</span>
			<!--{/if}-->
		</dd>
	</dl>
	<dl id="indesk" <!--{if $org[available]<1}-->style="display:none"
		<!--{/if}-->>
		<dt>{lang shared_directory_desktop_shortcut}:</dt>
		<dd class="clearfix">
			<label class="radio-inline"><input type="radio" id="folder_indesk_1" onclick="folder_indesk(1,'$orgid');" name="indesk" value="1" <!--{if $org[indesk]>0}-->checked="checked"<!--{/if}--> />{lang creation}</label>
			<label class="radio-inline"><input type="radio" id="folder_indesk_0" onclick="folder_indesk(0,'$orgid');" name="indesk" value="0" <!--{if $org[indesk]<1}-->checked="checked"<!--{/if}--> />{lang no_creation}</label>
			<span class="help-inline ml20">{lang detail_org_creation}</span>
		</dd>
	</dl>
	<!--{/if}-->
	<dl>
		<dt>{lang position_management}:</dt>
		<dd class="clearfix jobs">
			<!--{loop $jobs $value}-->
			<div id="job_$value[jobid]" orgid="$value['orgid']" class="job-item-edit pull-left mb10">
				<button onclick="job_show_editor('$value[jobid]','$value['orgid']', this)" class="btn btn-simple job-name mr20">$value[name]</button>
				<div class="edit hide" style="min-width:250px">
					<div class="job-edit-control pull-left">
						<input type="text" class="form-control" value="$value[name]" style="width:100px" onkeyup="if(event.keyCode==13){job_save('$value[jobid]','$value['orgid']');return false;}">
					</div>
					<button onclick="job_save('$value[jobid]','$value['orgid']')" data-loading-text="{lang save}" class="btn btn-success job-save">{lang save} </button>
					<button class="btn btn-link todo-del" onclick="job_del('$value[jobid]','$value['orgid']')"> {lang delete} </button>
				</div>
			</div>
			<!--{/loop}-->
			<div class="new-job pull-left" style="padding:0 10px;">
				<a href="javascript:;" onclick="job_show_add_editor('$orgid',this)" class="btn btn-simple "> {lang add_position} </a>
				<div class="new-job-control hide" style="min-width:250px">
					<div class="pull-left">
						<input type="text" class="new-job-text form-control" style="width:100px" onkeyup="if(event.keyCode==13){job_add('$orgid');return false;}" placeholder="{lang position_name}">
					</div>
					<button class="btn btn-success" data-loading-text="{lang add}" onclick="job_add('$orgid')">{lang add} </button>
					<button class="btn btn-link job-del" onclick="job_cancel_add_editor('$orgid')"> {lang cancel} </button>
				</div>

			</div>
		</dd>

	</dl>

	<dl>
		<dt><!--{if $org['forgid']<1}-->{lang organization}<!--{else}-->{lang department}<!--{/if}-->{lang administrator}</dt>
		<dd class="clearfix">
			<ul id="moderators_container_$orgid" class="moderators-container list-unstyled clearfix">
				<!--{if $pmoderator}-->
				<li class="moderators-acceptor pull-left" orgid="$orgid" style="">
					<div class="avatar-cover"></div>
					<div class="user-item-avatar">
						<div class="avatar-face">
							<img src="avatar.php?uid=0&size=middle">
						</div>
					</div>
				</li>
				<!--{/if}-->
				<!--{loop $moderators $value}-->
				<li class="user-item pull-left" uid="$value[uid]">
					<!--{if $pmoderator}-->
					<div class="delete" onclick="moderator_del('$value[id]','$orgid',this);"><i style="color:#d2322d;font-size:16px" class="glyphicon glyphicon-remove-sign">&nbsp;</i></div>
					<!--{/if}-->
					<div class="avatar-cover"></div>
					<div class="user-item-avatar">
						<div class="avatar-face">
							<img src="avatar.php?uid=$value[uid]&size=middle">
						</div>
					</div>
					<p class="text-center" style="height:20px;margin:5px 0;line-height:25px;overflow:hidden;"> $value[username]</p>
				</li>
				<!--{/loop}-->

			</ul>
		</dd>
		<dd class="clearfix">

			<ul class="help-block " style="line-height:2">
				{lang detail_org_administrator}
			</ul>
		</dd>
	</dl>

</div>