<!--{template common/header_simple_start}-->
<link href="static/icheck/skins/minimal/blue.css?{VERHASH}" rel="stylesheet" media="all">
<link href="static/select2/select2.css?{VERHASH}" rel="stylesheet" media="all">
<link href="static/select2/select2-bootstrap.css?{VERHASH}" rel="stylesheet" media="all">
<link href="static/css/common.css?{VERHASH}" rel="stylesheet" media="all">
<link href="static/css/app_manage.css?{VERHASH}" rel="stylesheet" media="all">
<script type="text/javascript" src="static/js/jquery.leftDrager.js?{VERHASH}"></script>
<script type="text/javascript" src="static/js/jquery.textareaexplander.js?{VERHASH}"></script>
<script src="admin/scripts/admin.js?{VERHASH}"></script>
<style>
	.input-black {
		margin-bottom: 0px;
	}
	.form-horizontal-left label {
		padding-top: 0;
	}
	.loginset-template {
		width: 100px;
		overflow: hidden;
		float: left;
		margin-right: 10px;
		display: block;
		position: relative;
	}
	.loginset-template .loginset-template-icon {
		width: 20px;
		height: 20px;
		border: 1px solid #AAB479;
		position: absolute;
		right: 1px;
		top: 1px;
		color: #DD4B39;
		font-size: 15px;
		display: none;
	}
	.loginset-template:hover .loginset-template-icon {
		display: block;
	}
	.loginset-template:hover .loginset-template-icon > span {
		display: none;
	}
	.loginset-template .loginset-template-icon1 {
		display: block !important;
	}
	.loginset-template .loginset-template-icon1 > span {
		display: block !important;
	}
	#cpform {
		margin-top: 15px;
	}
	.file-hidde-content{
		position: relative;
		float: left;
	}
	.file-hidde-content .upold-add{
		max-height: 55px;
		max-width: 55px;
	}
	.file-hidde-content .file-hidde{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		opacity: 0;
	}
	.file-hidde-content .progress-bar{
		position: absolute;
		height: 1px;
	}
</style>
<!--{template common/header_simple_end}-->
<!--{template common/commer_header}-->
<div class="bs-container clearfix">
	<div class="bs-left-container  clearfix">
		<!--{template left}-->
	</div>
  <div class="left-drager">
    <div class="left-drager-op">
      <div class="left-drager-sub"></div>
    </div>
  </div>
  <div class="bs-main-container  clearfix">  
	<div class="main-header clearfix">  
		<ul class="nav navbar-nav nav-pills-bottomguide">
		  <li class="active"><a href="{MOD_URL}&op=admin">{lang menu_setting}</a></li>  
		</ul>  
    </div>
    <div class="main-content">  
    <form id="cpform" action="{MOD_URL}&op=admin" class="form-horizontal-left" method="post" name="cpform">
		<input type="hidden" value="{FORMHASH}" name="formhash">
		<input type="hidden" value="true" name="settingsubmit"> 
		<dl>
			<dt>{lang field_subtitle}:</dt>
			<dd class="clearfix">
				<input type="text" style="width:50%" id="test_setting" class="form-control" name="settingnew[test_setting]"  value="$setting[test_setting]" required="true"/>
				<span class="help-block">{lang field_subtitle_tip}</span></dd>
		</dl>
		
		<dl> 
			<dd>
				<input class="btn btn-primary" id="submit_editsubmit" name="settingsubmit" value="{lang button_setting}" type="submit">
			</dd>
		</dl>
		
    </form> 
  </div>
</div>
</div>
<script type="text/javascript">
	jQuery('.left-drager').leftDrager_layout();
	jQuery(document).ready(function(e) { 
		jQuery('input[required]').on('blur', function() {
			if(this.value == '') { jQuery(this).addClass('input-error') } else { jQuery(this).removeClass('input-error'); }
		});
	}); 
</script> 
<script src="static/bootstrap/js/bootstrap.min.js?{VERHASH}"></script> 
<script type="text/javascript" src="static/icheck/icheck.min.js?{VERHASH}"></script> 
<script type="text/javascript" src="static/select2/select2.min.js?{VERHASH}"></script> 
<script type="text/javascript" src="static/select2/select2_locale_$checkLanguage.js?{VERHASH}"></script> 
<!--{template common/footer_simple}-->