<!--{template common/header_simple_start}-->
<!--{template common/header_simple_end}-->
<div class="container" style="padding:30px;">
	<div class="well" style="overflow:hidden;">
		<form id="confirm_uninstall_form" name="confirm_uninstall_form" class="form-horizontal-left form-horizontal" action="{DZZSCRIPT}?mod=test&op=uninstall_confirm" method="post">
			<input type="hidden" name="confirmsubmit" value="true" />
			<input type="hidden" name="adminurl" value="$_GET['adminurl']" />
			<input type="hidden" name="appid" value="$appid" />
			<input type="hidden" name="formhash" value="{FORMHASH}" />
			<p class="text-danger">
				{lang operation_will_delete_app}：<b>$app[appname]</b> &nbsp;{lang delete_data_cautious}
			</p>
			<p><input id="confirm" type="text" class="form-control" style="max-width:200px;" name="confirm" value="" /></p>

			<button type="button" class="btn btn-danger" onclick="if($('confirm').value!='DELETE'){$('confirm').focus();}else{$('confirm_uninstall_form').submit()}">{lang determine_uninstall_app}</button> &nbsp;&nbsp;&nbsp;
			<button type="button" class="btn btn-default" onclick="$('confirm').value='';$('confirm_uninstall_form').submit();">{lang no_uninstalling}</button>
		</form>
	</div>
</div>
<!--{template common/footer_simple}-->