body{
	background: #FFF;
}
ul,ul li,li{
	list-style: none;
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}
.bs-main-container{
	margin-left:0;
	padding:0;
}
.main-content{
	padding:90px 30px;
}
.main-content-ul{
	overflow: hidden;
}
.main-content-ul .main-content-li{
	float: left;
	width: 175px;
	height: 175px;
	overflow: hidden;
	border-radius: 8px;
	margin:20px;
	padding: 15px;
	background: #FAFAFA;
}
.main-content-ul .main-content-li:hover{
	background: #D8DEEA;
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
	box-shadow : 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.main-content-li a{

	height: 100%;
}
.main-content-li a .row{
	padding-top: 25px;
}
.main-content-li img{
	width: 64px;
	height: 64px;
}
@media (max-width:768px){
	.main-content {
		padding: 30px 30px;
	}
	
}
@media (max-width:414px){
	.main-content {
		padding: 5px;
	}
	.main-content-ul .main-content-li{
		padding:20px;
		margin:10px;
	}
	
}
@media (max-width:375px){
	.main-content {
		padding: 5px;
	}
	.main-content-ul .main-content-li{
		width:160px;
		height:160px;
		padding:20px;
		margin:10px;
	}
	.main-content-li a .row{
		padding-top:10px;
	}
	
}
@media (max-width:360px){
	.main-content {
		padding: 5px;
	}
	.main-content-ul .main-content-li{
		width:160px;
		height:160px;
		padding:10px;
		margin:6px;
	}
	.main-content-li a .row{
		padding-top:10px;
	}
	
}
@media (max-width:320px){
	.main-content {
		padding: 5px;
	}
	.main-content-ul .main-content-li{
		width:145px;
		height:140px;
		padding:10px;
		margin:4px;
	}
	.main-content-li a .row{
		padding-top:10px;
	}
	
}
