<!--{template common/header_simple_start}-->
<link href="static/css/common.css?{VERHASH}" rel="stylesheet" media="all">
<script type="text/javascript" src="static/js/jquery.leftDrager.js?{VERHASH}"></script>
<script src="admin/scripts/admin.js?{VERHASH}"></script>
<style>
html, body {
	overflow: hidden;
	background: #FBFBFB;
}
.bs-left-container {
	width: 120px;
}
.bs-main-container {
	margin-left: 120px;
	overflow: auto;
}
</style>
<!--{template common/header_simple_end}-->
<div class="bs-container clearfix">
  <div class="bs-left-container  clearfix"> 
    <!--{template left}--> 
  </div>
  <div class="left-drager">
    <div class="left-drager-op">
      <div class="left-drager-sub"></div>
    </div>
  </div>
  <div class="bs-main-container  clearfix" >
    <div class="main-content clearfix" >
      <form id="appform" name="appform" class="form-horizontal form-horizontal-left" action="{BASESCRIPT}?mod=cloud" method="post" >
        <input type="hidden" name="cloudsubmit" value="true" />
        <input type="hidden" name="formhash" value="{FORMHASH}" />
        <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th width="40">{lang sort}</th>
              <th width="150">{lang name}</th>
              <th width="90">{lang designator}</th>
              <th width="100">{lang type}</th>
              <th>{lang available}</th>
              <th width="100">{lang set}</th>
            </tr>
          </thead>
          <!--{loop $list $value}-->
          <tr>
            <td width="40">
            <!--{if $value[bz]=='dzz'}-->
              <input type="hidden" name="disp[{$value[bz]}]" value="$value[disp]" />
              <!--{else}-->
              <input type="text" name="disp[{$value[bz]}]"  class="form-control"  value="$value[disp]" style="width:45px;"  />
              <!--{/if}-->
            </td>
            <td width="150">
            <input type="text" class="form-control"   name="name[{$value[bz]}]" value="$value[name]" style="max-width:150px;" /></td>
            <td><strong>$value[bz]</strong></td>
            <td>{echo lang('cloud_type_'.$value[type])}</td>
            <td>
              <!--{if $value[bz]=='dzz'}-->
              <input type="hidden" name="available[{$value[bz]}]" value="2"  />
              <!--{else}--> 
              <input type="checkbox" name="available[{$value[bz]}]" value="{eval echo ($value[available]?$value[available]:1)}" <!--{if $value[available]>0}-->checked<!--{/if}--> <!--{if $value[warning]}-->disabled<!--{/if}--> > <span class="text-danger" style="padding-left:3px">$value[warning]</span> 
              <!--{/if}-->
            </td>
            <td><a href="{BASESCRIPT}?mod=cloud&op=edit&bz=$value[bz]">{lang set}</a> 
              <!--{if $value[warning]}--> 
              <br />
              <a class="text-danger" href="{BASESCRIPT}?mod=cloud&operation=delete&bz=$value[bz]">{lang delete}</a> 
              <!--{/if}-->
              </td>
          </tr>
          <!--{/loop}-->
          <thead>
            <th valign="middle" colspan="7">
            	<input type="submit" class="btn btn-primary" value="{lang save_set}" />
              	&nbsp;&nbsp;&nbsp;&nbsp; <a href="{BASESCRIPT}?mod=cloud&op=add" class="btn btn-success">{lang add_cloud}</a>
            </th>
          </thead>
        </table>
        </div>
      </form>
      <div class="tip" style="margin:0 15px;">
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <h5>{lang board_message}</h5>
          <ul>
            {lang cloud_cloud_board_message_text}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">  
jQuery('.left-drager').leftDrager_layout();
</script> 
<!--{template common/footer_simple}--> 
