<!--{template lyear:header_simple_start}-->
<!--{template lyear:header_simple_end}-->
<main class="bs-main-container">
	<div class="container-fluid">
		<div class="card">
			<div class="card-body">
        <form id="appform" name="appform" class="form-horizontal" action="{MOD_URL}" method="post" >
          <input type="hidden" name="cloudsubmit" value="true" />
          <input type="hidden" name="formhash" value="{FORMHASH}" />
          <div class="table-responsive">
            <table class="table table-hover align-middle">
              <thead>
                <tr>
                  <th width="40">{lang sort}</th>
                  <th width="150">{lang name}</th>
                  <th width="90">{lang designator}</th>
                  <th width="100">{lang type}</th>
                  <th>{lang available}</th>
                  <th width="100">{lang set}</th>
                </tr>
              </thead>
              <!--{loop $list $value}-->
              <tr>
                <td width="40">
                <!--{if $value[bz]=='dzz'}-->
                  <input type="hidden" name="disp[{$value[bz]}]" value="$value[disp]" />
                  <!--{else}-->
                  <input type="text" name="disp[{$value[bz]}]"  class="form-control"  value="$value[disp]" style="width:45px;"  />
                  <!--{/if}-->
                </td>
                <td width="150">
                <input type="text" class="form-control" name="name[{$value[bz]}]" value="$value[name]" style="max-width:150px;" /></td>
                <td><strong>$value[bz]</strong></td>
                <td>{echo lang('cloud_type_'.$value[type])}</td>
                <td>
                  <!--{if $value[bz]=='dzz'}-->
                  <input type="hidden" name="available[{$value[bz]}]" value="2"  />
                  <!--{else}--> 
                  <input type="checkbox" class="form-check-input" name="available[{$value[bz]}]" value="{eval echo ($value['available']?$value['available']:1)}" <!--{if $value['available']>0}-->checked<!--{/if}--> <!--{if $value[warning]}-->disabled<!--{/if}--> > <span class="text-danger" style="padding-left:3px">$value[warning]</span> 
                  <!--{/if}-->
                </td>
                <td width="140"><a class="btn btn-outline-primary btn-sm" href="{MOD_URL}&op=edit&bz=$value[bz]">{lang set}</a> 
                  <!--{if $value[warning]}--> 
                  <!-- <br /> -->
                  <a class="btn btn-outline-danger btn-sm" href="{MOD_URL}&operation=delete&bz=$value[bz]">{lang delete}</a> 
                  <!--{/if}-->
                  </td>
              </tr>
              <!--{/loop}-->
            </table>
          </div>
          <dl class="mb-3 d-grid">
            <input type="submit" class="btn btn-primary btn-round bodyloading" value="{lang save_set}" />
          </dl>
        </form>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>{lang board_message}</strong><ul class="mb-0">{lang cloud_cloud_board_message_text}</ul>
          <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
		</div>
	</div>
</main>
<!--{template lyear:footer_simple}-->