<div class="card">
  <div class="card-body">
    <ul class="nav nav-pills">
      <li class="nav-item"><a class="nav-link <!--{if $_GET[op]=='edit'}-->active<!--{/if}-->" href="{MOD_URL}&op=edit&bz=$bz"> {lang set}</a>
      </li>
      <li class="nav-item"><a class="nav-link <!--{if $_GET[op]=='space'}-->active<!--{/if}-->" href="{MOD_URL}&op=space">{lang space_management}</a>
      </li>
      <!--{if $_GET[op]=='spaceadd'}-->
      <li class="nav-item"><a class="nav-link active" href="{MOD_URL}&op=spaceadd">{lang add_storage_location}</a>
      </li>
      <!--{/if}-->
      <li class="nav-item"><a class="nav-link <!--{if $_GET[op]=='router'}-->active<!--{/if}-->" href="{MOD_URL}&op=router">{lang routing_management}</a>
      </li>
      <!--{if $_GET[op]=='routeredit'}-->
      <li class="nav-item"><a class="nav-link active" href="{MOD_URL}&op=router">{lang edit_routing}</a>
      </li>
      <!--{/if}-->
      <li class="nav-item"><a class="nav-link <!--{if $_GET[op]=='movetool'}-->active<!--{/if}-->" href="{MOD_URL}&op=movetool">{lang migration_tool}</a>
      </li>
    </ul>
  </div>
</div>