<!--{template lyear:header_simple_start}-->
<script src="admin/scripts/admin.js?{VERHASH}"></script>
<!--{template lyear:header_simple_end}-->
<main class="bs-main-container">
    <div class="container-fluid">
        <!--{template right_header}-->
          <div class="card">
            <div class="card-body">
              <a href="{MOD_URL}&op=routeredit" title="{lang add_routing}" class="btn btn-outline-primary">{lang add_routing}</a>
              <form id="appform" name="appform" class="form-horizontal" action="{MOD_URL}&op=router" method="post">
                <input type="hidden" name="routersubmit" value="true" />
                <input type="hidden" name="formhash" value="{FORMHASH}" />
                <div class="table-responsive">
                  <table class="table table-hover align-middle">
                    <thead>
                    <th width="20">&nbsp;</th>
                      <th width="80">{lang priority}</th>
                      <th width="150">{lang name}</th>
                      <th width="100">{lang use_storage}</th>
                      <th>{lang routing_rule}</th>
                      <th width="60">{lang enable}</th>
                      <th width="60">{lang edit}</th>
                        </thead>
                      <!--{loop $list $value}-->
                    <tr>
                      <td width="20"><input type="checkbox"  class="form-check-input" name="delete[]" value="$value[routerid]" /></td>
                      <td width="80"><input type="text" class="form-control" name="priority[{$value[routerid]}]" value="$value[priority]"/></td>
                      <td width="150"><input type="text" class="form-control" name="name[{$value[routerid]}]" value="$value[name]" /></td>
                      <td width="100">$value[position] 
                        <!--{if $value[bz_available]<1}--> 
                        <span class="text-danger">{lang router_routing_failure}</span> 
                        <!--{/if}--></td>
                      <td style="word-break:break-all">$value[drouter]</td>
                      <td width="60"><input type="checkbox"  class="form-check-input" name="available[{$value[routerid]}]" value="1" <!--{if $value[available]>0}-->checked<!--{/if}-->></td>
                      <td width="60"><a href="{MOD_URL}&op=routeredit&routerid=$value[routerid]" class="btn btn-outline-primary" title="{lang edit}"><i class="mdi mdi-pencil"></i></a></td>
                    </tr>
                    <!--{/loop}-->
                  </table>
                </div>
                <div class="col-12 mb-2">
                  <div class="form-check">
                    <input type="checkbox"  class="form-check-input" name="chkall" id="chkall" onclick="checkAll('prefix', this.form, 'delete')">
                    <label class="form-check-label" for="chkall">
                      {lang del}
                    </label>
                  </div>
                </div>
                <dl class="mb-3 d-grid">
                  <input type="submit" class="btn btn-primary btn-round bodyloading" value="{lang submit}" />
                </dl>
              </form>
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{lang board_message}</strong><ul class="mb-0">{lang router_board_message_text}</ul>
                <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
              </div>
          </div>
      </div>
  </div>
</main>
<!--{template lyear:footer_simple}-->