<!--{template lyear:header_simple_start}-->
<!--{template lyear:header_simple_end}-->
<main class="bs-main-container">
	<div class="container-fluid">
    <!--{template right_header}-->
		<div class="card">
      <div class="card-body">
        <form id="cpform" action="{MOD_URL}&op=routeredit" class="form-horizontal" method="post" name="cpform">
          <input type="hidden" value="{FORMHASH}" name="formhash">
          <input type="hidden" name="routerid" value="$routerid">
          <input type="hidden" value="addroutersubmit" name="true">
          <div class="row mb-3">
            <label class="col-sm-2" for="name">{lang routing_name}</label>
            <div class="col-sm-10">
              <input type="text" name="router[name]" id="name" class="form-control" value="$router[name]">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2" for="priority">{lang priority}</label>
            <div class="col-sm-10">
              <input type="text" name="router[priority]" id="priority" class="form-control" value="$router[priority]">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2" for="remoteid">{lang storage_location}</label>
            <div class="col-sm-10">
              <select name="router[remoteid]" class="form-select" id="remoteid">
                <!--{loop $spaces $value}--> 
                <option value="$value[remoteid]" <!--{if $router[remoteid]==$value[remoteid]}-->selected="selected"<!--{/if}-->> $value[name]
                  <!--{if $value[available]<1}-->（{lang router_routing_failure}）<!--{/if}-->
                </option>
                <!--{/loop}-->
              </select>
              <ul class="form-text">
                <li>{lang cloud_movetool_designator_text}</li>
              </ul>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2" for="exts">{lang file_type}</label>
            <div class="col-sm-10">
              <textarea type="textarea" id="exts" class="form-control" name="router[router][exts]" row="6" cols="6">{eval 
                $exts = is_array($router['router']['exts']) ? $router['router']['exts'] : explode(',', $router['router']['exts']);
                echo implode(',', $exts);
            }</textarea>
              <div class="m-2 p-1">
              <a href="javascript:;" class="btn btn-primary" onclick="setExts('jpg,jpeg,png,gif')">{lang photograph_class}</a> 
              <a href="javascript:;" class="btn btn-primary" onclick="setExts('doc,docx,rtf,odt,htm,html,txt')">word{lang type_attach}</a> 
              <a href="javascript:;" class="btn btn-primary" onclick="setExts('xls,xlsx,ods,sxc,csv,tsv')">excel{lang type_attach}</a> 
              <a href="javascript:;" class="btn btn-primary" onclick="setExts('ppt,pptx,pps,ppsx,odp,sxi')">ppt{lang type_attach}</a> 
              <a href="javascript:;" class="btn btn-primary" onclick="setExts('mp4,avi,wmv,mkv,rmvb,rm,asf,mpg,mpeg,mov')">{lang video_typename_attach}</a>
              <a href="javascript:;" class="btn btn-primary" onclick="setExts('txt,ini,conf,log,bat,sql,js,css,htm,html,xml,asp,aspx,php,jsp,json,py,h,c')">{lang text_class}</a> 
            </div>
              <ul class="form-text">
                {lang cloud_movetool_file_type_text}
              </ul>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2">{lang file_size}</label>
            <div class="col-sm-10">
              <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="{lang typename_attach_gt}" name="router[router][size][lt]" value="">
                  <div class="input-group-text">M</div>
                  <input type="text" class="form-control" placeholder="{lang typename_attach_lt}" name="router[router][size][gt]" value="">
                  <div class="input-group-text">M</div>
              </div>
              <ul class="form-text">
                {lang cloud_movetool_file_size_text}
              </ul>
            </div>
          </div>
          <dl class="mb-3 d-grid">
            <input class="btn btn-primary btn-round bodyloading" name="addroutersubmit" value="<!--{if $routerid}-->{lang edit}<!--{else}-->{lang add}<!--{/if}-->" type="submit">
          </dl>
        </form>
      </div>
    </div>
  </div>
</main> 
<script type="text/javascript">
	function setExts(str) {
		var old = trim(document.getElementById('exts').value).replace(/，{1,}/g, ',').replace(/,{1,}/g, ',').replace(/^\,/g, '');
		var arr = old ? old.split(',') : [];
		var newarr = str.split(',');
		for(var i = 0; i < newarr.length; i++) {
			if(jQuery.inArray(newarr[i], arr) < 0) {
				arr.push(newarr[i]);
			}
		}
		document.getElementById('exts').value = arr.join(',');
	}
</script> 
<!--{template lyear:footer_simple}-->