html, body {
    background-color: #F2F2F2;
    -webkit-tap-highlight-color: transparent;
    min-height: 100%;
    height: auto;
}
ul,ul li{
	list-style: none;
}
section.weui-cells__recent{
	margin-bottom:60px;
}
.hide{
	display: none;
}
.weui-cells{
	margin-top: 0rem;
}
.Topcarousel {
    display: block;
    color: #fff;
    font-size: 1rem;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    border-radius: 50%;
    margin-right: 0.5rem;
    font-weight: bold;
}
.weui-cell__bd{
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}
.weui-cell__bd h4{
	color: #555555;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}
.weui-cell__hd .special_avatar_class {
    display: block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.weui-submit{
	padding: 0.75rem;
}
.weui-btn_primary_color{
	background-color: #3779ff;
}
.weui-cell_longpress{
	background-color: #FFFFFF;
}
.weui-cell__hd .weui-cell__recentimg {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    border-radius: 2px;
}
.weui-cell__bd p{
	color: #999999;
    font-size: 0.7rem;
}
.weui-cell__bd p i {
    font-style: normal;
    margin: 0px 0.25rem;
}
.weui-share-dzzicon{
	font-size: 1.1rem;
    color: #3779ff;
}
/*地址栏开始*/
.weui-address {
    position: relative;
}
.weui-index {
    position: absolute;
    top: 0.4rem;
    left: 0.5rem;
    width: 3rem;
    line-height: 1rem;
}
.weui-index .dzz-index {
    font-size: 1.2rem;
    color: #3779FF;
}
.weui-index .dzz-index-vline {
    font-size: 1.2rem;
    color: #DDDDDD;
}
.weui-address-container {
    margin-left: 0.5rem;
    overflow: hidden;
    line-height: 1.7rem;
    position: relative;
    height: 2rem;
}
.weui-address-field {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    white-space: nowrap;
    padding: 0.15rem;
    min-width: 100%;
}
.weui-address-field li {
    float: left;
    color: #666666;
}
.weui-address-field li a {
    font-size: 0.7rem;
    color: #666666;
}
.weui-address-field li span {
    vertical-align: middle;
}
/*地址栏结束*/
.weui-member-footer{
	background-color: #FFFFFF;
    position: fixed;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
}
.weui-cells_checkbox .weui-check:checked+.weui-icon-checked:before{
	color: #4c8afb;
}
