<!--{template lyear:header_simple_start}-->
<style>
	.lyear-message-list > li {
		border-bottom: 1px solid rgba(77, 82, 89, 0.05);
		margin-bottom: 10px;
	}
	.lyear-message-item {
		width: calc(100% - 50px);
	}
</style>
<!--{template lyear:header_simple_end}-->
<main class="bs-main-container main-allnotice">
	<div class="container-fluid">
	  <div class="card">
		<div class="card-header">
			<div class="card-title lead">
				<!--{if $img}--><img src="$img" class="img-avatar-36"><!--{else}--><span class="mdi mdi-bell-circle"></span><!--{/if}--><strong class="p-2">{$tongzhileixing}($count)</strong>
			</div>
		</div>
		<!--{if $list}-->
		<ul class="list-group list-group-flush mb-3">
			<!--{loop $list $value}-->
			<li class="d-flex flex-wrap list-group-item">
				<div class="d-flex lyear-message-item">
				<a href="user.php?uid=$value['authorid']" target="_blank">{eval echo avatar_block($value['authorid']);}</a>
				<div class="flex-grow-1 ms-2 pe-2">
					<!--{if $value[title]}--><strong>$value[title]</strong><!--{/if}-->
					<!--{if $value[note]}--><div class="me-auto text-break">$value[note]</div><!--{/if}-->
					<!--{if $value[redirecturl]}--><div class="text-muted text-break">{lang from}：<a href="$value[redirecturl]" target="_blank" class="dcolor">$value[redirecturl]</a></div><!--{/if}-->
					<small class="text-muted">$value['dateline']</small>
				</div>
				</div>
				<!--{if !$img}--><img src="$value[appico]" class="img-avatar-36"><!--{/if}-->
			</li>
			<!--{/loop}-->
		</ul>
		<!--{if $multi}-->
		<div class="p-3">
			{$multi}
		</div>
		<!--{/if}-->
		<!--{else}-->
		<div class="card-body text-center">
			<img src="static/image/common/no_list.png" /><br>
			<span class="text-muted lead">{lang noappall_notice}…</span>
		</div>
		<!--{/if}-->
	</div>
</div>
</main>
<!--{template lyear:footer_simple}--> 
