@charset "utf-8";.market-container .appitem{background:#FFF;width:236px;height:330px;box-shadow:0 1px 3px rgba(0,0,0,.3);position:relative;border-radius:2px;margin:8px}
.img_236{max-width:236px;max-height:136px}
.ie8 .market-container .appitem{border:1px solid #D9D9D7}
.img-container{width:236px;height:136px;padding:0;text-align:center;position:relative;overflow:hidden;display:block;border-radius:2px 2px 0 0}
.ie8 .img-container{width:234px;height:135px}
.appitem-footer{line-height:35px}
.appitem-title a{font-size:14px;font-weight:bold;color:#333;text-shadow:1px 1px 1px #FFF}
.appitem .appmeta{color:#353535;padding:15px 15px 0 15px;background:#fff}
.appmeta a{color:#333;font-weight:bold;display:block;text-decoration:none}
.appmeta a h3{display:block;font-size:14px;line-height:14px;margin:0 0 10px 0;height:14px;text-overflow:ellipsis;overflow:hidden;font-weight:bold}
.appmeta h4{font-size:11px;color:#808080;margin:0;padding-bottom:8px;border-bottom:1px solid #eee}
.price-container p{margin:0 0 5px 0}
.document-header{padding:0;position:relative;margin:0;background-color:#fcfdfe;border:1px solid #dee2e6;border-radius:.3rem}
.price-container .label{font-weight:300;border-radius:5px;display:inline-block;padding:0.35em 0.65em;font-size:.75em;font-weight:700;line-height:1;color:#fff;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:0.25rem}
.price-container .label-success{background-color:#007bff}
.price-container .label-danger{background-color:#dc3545}
.price-container .label-default{background-color:#6c757d}
.document-header .img-container{border-radius:2px 0 0 0;position:absolute;left:0;top:0}
.document-header .header-info{padding:0px 0 10px 246px;line-height:30px;min-width:500px;display:flex;flex-wrap:wrap}
.ie8 .document-header .header-info{min-width:150px}
.document-header .header-info .appname{font-size:16px;line-height:35px}
.download-container{position:absolute;right:10px;top:10px;z-index:100}
.document-container{width:100%;margin:0;border:none;box-shadow:none;overflow-x:hidden}
.document-container .document-body{padding:20px 0 0 0;margin:0 20px 0 20px;overflow-x:hidden;position:relative;line-height:2}
.document-container .document-body img.dzz-image{max-width:100%}
.document-container .document-Carousel{padding:20px 0 0 0;margin:0 20px 0 20px;min-height:200px;overflow-x:hidden;position:relative}
.document-container .document-comment{padding:20px 0 0 0;margin:0 20px}
.document-comment .attach-item{height:20px;line-height:20px;padding:0 10px}
span.attach-item{line-height:24px;display:inline-block;height:24px;padding-right:8px}
span.attach-item img{max-height:100%;padding-right:5px}
.carousel-inner>.item>img,.carousel-inner>.item>a>img{margin:0 auto}
.group-td-wrapper{max-width:120px;white-space:normal;overflow:hidden;text-overflow:ellipsis}
.group-td-wrapper>span{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.group-td-wrapper>span>img{margin:0;vertical-align:text-bottom}
.tag-td-wrapper{max-width:120px;height:20px;white-space:normal;overflow:hidden;text-overflow:ellipsis}
.tag-td-wrapper a{color:#666;display:inline-block;padding:0 2px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
span.num{color:#4A89FD;font-weight:700;padding:0 2px;margin:0}
.appname{margin:0;line-height:25px}
.appname a{color:#333;font-weight:600;font-size:14px}
.appdesc{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;cursor:default;font-size:14px;max-width:300px}
.color-block-1{background-color:#B82F68}
.color-block-2{background-color:#DB4B00}
.color-block-3{background-color:#BA4B3A}
.color-block-4{background-color:#009BCB}
.color-block-5{background-color:#37B298}
.color-block-6{background-color:#F1C42C}
.color-block-7{background-color:#7BBA39}
.color-block-8{background-color:#7938BA}
.color-block-9{background-color:#3850BA}
.color-block-10{background-color:#51CB8F}
.card-market{position:relative;display:flex;flex-direction:column;-webkit-transition:.5s;-moz-transition:.5s;transition:.5s;-webkit-box-shadow:0 0 0 1px rgba(0,0,0,0.05),0 10px 20px 0 rgba(0,0,0,0.1);-moz-box-shadow:0 0 0 1px rgba(0,0,0,0.05),0 10px 20px 0 rgba(0,0,0,0.1);box-shadow:0 0 0 1px rgba(0,0,0,0.05),0 10px 20px 0 rgba(0,0,0,0.1)}
.card-market-info{position:relative;display:flex;flex-wrap:wrap;align-content:center;width:100%;word-wrap:break-word;background-color:#FFF;overflow:hidden;padding:15px;border:none;border-radius:15px;margin-bottom:15px;-webkit-box-shadow:0 0 0 1px rgba(0,0,0,0.05),0 10px 20px 0 rgba(0,0,0,0.1);-moz-box-shadow:0 0 0 1px rgba(0,0,0,0.05),0 10px 20px 0 rgba(0,0,0,0.1);box-shadow:0 0 0 1px rgba(0,0,0,0.05),0 10px 20px 0 rgba(0,0,0,0.1)}
.card-market:hover,.card-market:focus-within{box-shadow:0 0 0 2px #4c89fb,0 10px 20px 0 rgba(0,0,0,0.1);transform:translatey(-5px)}
.card-image{border-top-left-radius:12px;border-top-right-radius:12px;overflow:hidden;display:flex;justify-content:center;position:relative;align-items:center;width:100%}
.card-image img{height:120px;max-width:120px}
.card-market .card-title{display:flex;align-items:center;justify-content:space-between;font-weight:600}
.app-name-wrapper .appicon{position:absolute;left:0;top:2px}
.app-name-wrapper .appicon img{max-width:45px;max-height:45px;margin:0}
.app-name-wrapper .appname a{color:#000;font-weight:500;font-size:14px}
.app-name-wrapper .appdesc{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-size:13px;cursor:default}
.group-td-wrapper{max-width:120px;white-space:normal;overflow:hidden;text-overflow:ellipsis}
.group-td-wrapper>span{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.group-td-wrapper>span>img{margin:0;vertical-align:text-bottom}
.tag-td-wrapper{max-width:120px;white-space:normal;overflow:hidden;text-overflow:ellipsis}
.tag-td-wrapper a{display:inline-block;padding:0 2px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.table td img{max-width:45px;max-height:45px}