<!doctype html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="text/javascript" src="static/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="dzz/scripts/_fun.js?{VERHASH}"></script>
	<title>Flash{lang player}</title>
<style>
	body ,html{overflow:hidden}
</style>	
</head>
<body>
   <div id="container" style="width:100%;height:100%;position:absolute;left:0;top:0;overflow:hidden"></div>
<script type="text/javascript">
jQuery(document).ready(function(){
	jQuery('#container').html(AC_FL_RunContent('width', '100%', 'height', '100%', 'allowNetworking', 'internal', 'allowScriptAccess', 'never', 'src','$stream', 'quality', 'high', 'bgcolor', '#ffffff', 'wmode', 'transparent', 'allowfullscreen', 'true'));
});
</script>
<div id="fileID"></div>
</body>
</html>