<!--{template common/header_simple_start}-->
<!--{template common/header_simple_end}-->
<div class="container" style="padding:30px;">
	<div class="well" style="overflow:hidden;padding:40px;">
		<form id="appkey_form" name="appkey_form" class="" action="{DZZSCRIPT}?mod=zoho&op=appkey" method="post">
			<input type="hidden" name="confirmsubmit" value="true" />
			<input type="hidden" name="adminurl" value="$_GET['adminurl']" />
			<input type="hidden" name="formhash" value="{FORMHASH}" />
			<div class="form-group">
				<label>{lang input_ZohoAPIKey}：</label>
				<input id="app_key" type="text" class="form-control" style="max-width:200px;" name="app_key" value="" />
				<span class="help-block">{lang entryPointxoom_ZohoAPIKey},<a href="https://zapi.zoho.com.cn/apigen.do" target="_blank">{lang entryPointxoom}</a></span>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-primary" style="padding:8px 50px" onclick="if($('app_key').value==''){$('app_key').focus();}else{$('appkey_form').submit()}">{lang submit}</button>
			</div>

		</form>
	</div>
</div>
<!--{template common/footer_simple}-->