html,body{
	overflow:hidden;
	background:#fbfbfb;
}
.bs-main-container{
	overflow:auto;
}
.icon-item{
	position:relative;
	float: left; width: 120px; height: 108px;
	border:1px solid transparent;
	margin:15px;
	padding:5px;
	overflow:hidden;
	word-break:break-all
}.icon-item-next{
	
	float: left; width: 120px; height: 103px;
	border:1px solid transparent;
	margin:15px;
	overflow:hidden;
	word-break:break-all
}
.icon-item.hover,.icon-item.Icoselected{
	border:1px solid #e1e1e1;
	background:#F7F7F7;
	
}
.icon-img{
	
	width:64px;
	height:64px;
	padding:5px;
	background:#F7F7F7;
	border:1px solid #e1e1e1;
	text-align:center;
	vertical-align:middle
}
.img_50_50{
	max-width:50px;
	max-height:50px;
}

* html .img_50_50 {
	width: expression(this.width > 50 && this.width>=this.height ? 50 : true);
	height: expression(this.height > 50 && this.width<=this.height ? 50 : true);
}
.more{
	font-size:80px;line-height:20px;font-family: georgia;
	color:#BBBBBB;
}
.more:hover{
	color:#428bca;
}

.icoblank_rightbottom{
	position:absolute;
		width:16px;
		height:16px;
		bottom:2px;
		right:2px;
	}
	.hover .icoblank_rightbottom{

		right:0px;
		top:0px;
		_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='admin/icon/checkbox.png', sizingMethod='scale');
		background-image:url(checkbox.png) !important;
		background-image:none;
		background-repeat: no-repeat;
	}
	.Icoselected .icoblank_rightbottom{
		right:0px;
		top:0px;
		_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='admin/icon/selected.png', sizingMethod='scale');
		background-image:url(selected.png) !important;
		background-image:none;
		background-repeat: no-repeat;

	}
.Icoselected .icoblank_rightbottom,.hover .icoblank_rightbottom,.hover .icoblank_leftbottom{
	display:block;
}
