<!--{template lyear:header_simple}-->
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
        <ul class="nav nav-pills">
          <li class="nav-item"><a class="nav-link" href="{MOD_URL}"> {lang my_clouds}</a></li>
          <li class="nav-item"> <a class="nav-link" href="{MOD_URL}&op=addcloud">{lang add_clouds}</a> </li>
          <li class="nav-item"> <a class="nav-link active" href="{MOD_URL}&op=oauth&bz=disk">{lang add}{lang cloud_type_disk}</a> </li>
        </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <form name="aliform" class="form-horizontal" action="{MOD_URL}&op=oauth" method="post" onsubmit="return validate(this)">
        <input type="hidden" name="disksubmit" value="true" />
        <input type="hidden" name="bz" value="disk" />
        <input type="hidden" name="formhash" value="{FORMHASH}" />
        <div class="row mb-3">
          <label class="col-sm-2" for="cloudname">{lang disk_name}</label>
          <div class="col-sm-10">
            <input type="text" class="form-control required" id="cloudname" name="config[cloudname]" value="" required>
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-2" for="attachdir">{lang disk_dir}</label>
          <div class="col-sm-10">
            <input type="text" class="form-control required" id="attachdir" name="config[attachdir]" value="" required>
            <span class="form-text">{lang disk_dir_tip}</span>
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-2" for="charset">{lang encode}</label>    
          <div class="col-sm-10">
          <select class="form-select" name="config[charset]" id="charset">
            <option value="GBK">GBK</option>
            <option value="UTF-8" selected="selected">UTF-8</option>
            <option value="BIG5">BIG5</option>
          </select>
          <span class="form-text">{lang disk_encode_tip}</span>
        </div>
        </div>
        <dl class="mb-3 d-grid">
          <input type="submit" class="btn btn-primary btn-round bodyloading" value="{lang add}">
        </dl>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">
	function validate(form) {
		var i = 0;
		jQuery("input.required").each(function() {
			if(jQuery(this).val() == '') {
				jQuery(this).focus();
				return false;
			}
			i++;
		});
		if(i < jQuery("input.required").length) {
			return false;
		} else {
			return true;
		}
	}
</script>
<!--{template lyear:footer}-->