<!DOCTYPE html>
<html>
	<head>
		<!--{template mobile/mobile_header}-->
		<title>文件夹属性</title>
	</head>
	<body>
		<!--列表开始-->
		<section class="weui-cells weui-cells__recent">
			<a class="weui-cell weui-cell_access" href="javascript:;">
                <div class="weui-cell__hd"><img src="../images/1.jpg" class="weui-cell__recentimg"></div>
                <div class="weui-cell__bd">
                    <h4>图片.jpg</h4>
                </div>
            </a>
		</section>
		<!--列表结束-->
		<!--列表详情开始-->
		<section class="weui-form-preview weui-form-share__detail">
			<div class="weui-form-preview__bd">
	            <div class="weui-form-preview__item">
	                <label class="weui-form-preview__label">类型</label>
	                <span class="weui-form-preview__value">jpg</span>
	            </div>
	            <div class="weui-form-preview__item">
	                <label class="weui-form-preview__label">位置</label>
	                <span class="weui-form-preview__value">我的网盘/文件夹01</span>
	            </div>
	            <div class="weui-form-preview__item">
	                <label class="weui-form-preview__label">所以者</label>
	                <span class="weui-form-preview__value">admin</span>
	            </div>
	            <div class="weui-form-preview__item">
	                <label class="weui-form-preview__label">大小</label>
	                <span class="weui-form-preview__value">323M</span>
	            </div>
	            <div class="weui-form-preview__item">
	                <label class="weui-form-preview__label">上次修改</label>
	                <span class="weui-form-preview__value">2018-04-22&nbsp;14:10</span>
	            </div>
	            <div class="weui-form-preview__item">
	                <label class="weui-form-preview__label">上次打开</label>
	                <span class="weui-form-preview__value">2018-04-22&nbsp;14:10</span>
	            </div>
	            <div class="weui-form-preview__item">
	                <label class="weui-form-preview__label">创建时间</label>
	                <span class="weui-form-preview__value">2018-04-22&nbsp;14:10</span>
	            </div>
	        </div>
	        
		</section>
		<!--列表详情结束-->
	</body>
	<script type="text/javascript" src="../../../static/jquery_weui/js/jquery-weui.min.js"></script>
	<script type="text/javascript" src="../js/index.js"></script>
	<!--{hook footer_tpl}-->
</html>
