<!--{loop $eventdatas $v}-->
<div class="weui-cell weui-cell_access">
    <div class="weui-cell__hd">{eval echo avatar_block($v['uid'],array($v['uid']=>$v['headerColor']));}</div>
    <div class="weui-cell__bd">
        <h4><span class="weui-dynamic-user">$v['username']</span><span class="weui-dynamic-user-time">{eval echo dgmdate($v['dateline'],'Y-m-d');}&nbsp;{eval echo dgmdate($v['dateline'],'H:i');}</span></h4>
        <p class="weui-cell__bd_p">
            <span class="weui-dynamic-update">$v[details]</span><!--<span class="weui-dynamic-name">ok.jpg</span>-->
        </p>
    </div>
</div>
<!--{/loop}-->
<script type="text/javascript">
	param = eval('('+'{$return}'+')');
</script>