<!DOCTYPE html>
<html>

<head>
    <!--{template mobile/mobile_header}-->
    <title>{$navtitle}</title>
</head>

<body>
<!--地址栏开始-->
<section class="weui-address">
    <a href="{MOD_URL}" class="weui-index">
        <span class="dzz dzz-home dzz-index"></span>
        <i class="dzz dzz-vline dzz-index-vline"></i>
    </a>
    <div class="weui-address-container" id="weui_address_scroll">
	    <div class="scroller">
		    <ul class="weui-address-field">
                <!--{if $gid && $group['type']}-->
                <li>
                    <a href="{$_G['siteurl']}{MOD_URL}&op=mobile&do=group">群组</a><span class="dzz dzz-chevron-right"></span>
                </li>
                <!--{/if}-->
		        <!--{loop $folderpatharr $v}-->
		        <li>
		            <a href="{$_G['siteurl']}{MOD_URL}&op=mobile&do=file&gid={$v[gid]}&fid={$v[fid]}">$v[name]</a><span class="dzz dzz-chevron-right"></span>
		        </li>
		        <!--{/loop}-->
		    </ul>
	    </div>
    </div>
</section>
<!--地址栏结束-->
<!--列表开始-->
<section class="weui-cells weui-cells__recent weui-cells__margin_footer" id="fileList-{$fid}">


</section>
<!--列表结束-->
<div class="weui-cell-search-normal" style="display: none;">
    <!--{template mobile/template_normal}-->
</div>
<!--底部开始-->
<footer class="weui-footer">
    <!--{template mobile/template_footer}-->
</footer>
<!--底部结束-->
</body>
<script type="text/javascript" src="static/jquery_weui/js/jquery-weui.min.js"></script>

<script type="text/javascript" src="{MOD_PATH}/js/mobile/permcheck.js"></script>
<!--<script type="text/javascript" src="{MOD_PATH}/js/mobile/flexible.js"></script>-->
<script type="text/javascript" src="{MOD_PATH}/js/mobile/iscroll.js"></script>
<script type="text/javascript" src="{MOD_PATH}/js/mobile/navbarscroll.js"></script>
<script type="text/javascript" src="{MOD_PATH}/js/mobile/index.js"></script>
<script type="text/javascript" src="{MOD_PATH}/js/mobile/appevent.js"></script>
<!-- The basic File Upload plugin -->
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script type="text/javascript" src="static/jquery_file_upload/jquery.ui.widget.js?{VERHASH}"></script>
<script type="text/javascript" src="static/jquery_file_upload/jquery.iframe-transport.js?{VERHASH}"></script>
<!-- The basic File Upload plugin -->
<script type="text/javascript" src="static/jquery_file_upload/jquery.fileupload.js?{VERHASH}"></script>
<script type="text/javascript" src="static/jquery_file_upload/jquery.fileupload-process.js?{VERHASH}"></script>
<script type="text/javascript" src="static/jquery_file_upload/jquery.fileupload-validate.js?{VERHASH}"></script>
<script type="text/javascript">
    var folderjson='{$folderjson}',fid='{$fid}';
    $(function () {
        _filemanage.getConfig(MOD_URL+'&op=mobile&do=json',function(data){
            _filemanage.folderdata = eval('('+folderjson+')');
            _filemanage.fid = fid;
            _filemanage.contains = 'fileList-'+_filemanage.fid;
            _filemanage.dataurl = MOD_URL+'&op=mobile&do=file&operation=filelist';
            _filemanage.getData();
            height();
        })
        jQuery('#weui_address_scroll').navbarscroll();
    })
    //获取id高度
    function height(){
        var h = $(document).outerHeight(true);
        var h2 = $('.weui-cell-footer').outerHeight(true);
        $('.weui-cell-search-images').css('height',h-h2);
    }
</script>
<!--{hook footer_tpl}-->
<!--{eval output();}-->
</html>

