<!DOCTYPE html>
<html>
<head>
    <!--{template mobile/mobile_header}-->
    <title>成员</title>
</head>
<body>
<!--列表开始-->
<section class="weui-cells weui-cells__recent weui-cells__margin_footer">
    <!--{loop $members $v}-->
    <div class="weui-cell weui-cell_access" id="users_{$v['uid']}">
        <div class="weui-cell__hd">
            <!--<span class="weui-cell__dynamic">用</span>-->
            {eval echo avatar_block($v['uid'],array($v['uid']=>$v['headerColor']));}
        </div>
        <div class="weui-cell__bd">
            <h4>
                <span class="weui-dynamic-user">$v['username']</span><span class="weui-member-type weui-member-creator">
						<i class="dzz dzz-manager"></i>
                <!--{if $v['perm'] == 2 && $groupinfo['type'] == 1}-->
                创建者
                <!--{elseif $v['perm'] > 0}-->
                管理员
                <!--{else}-->
                协作成员
                <!--{/if}-->
                </span>
            </h4>
            <p>
                <span class="weui-dynamic-update">$v[email]</span>
            </p>
        </div>
    </div>
    <!--{/loop}-->
</section>
<!--列表结束-->
<!--{if $perm && $groupinfo['type']}-->
<footer class="weui-member-footer weui-tabbar">
        <a href="javascript:;" class="weui-tabbar__item adduser">
            <span class="dzz dzz-person-add weui-member-dzzicon"></span>
            <p class="weui-tabbar__label">添加成员</p>
        </a>
</footer>
<!--{/if}-->
</body>
<script type="text/javascript" src="static/jquery_weui/js/jquery-weui.min.js"></script>
<script type="text/javascript" src="{MOD_PATH}/js/mobile/appevent.js"></script>
<script type="text/javascript">
    $(document).off('tap.adduser').on('tap.adduser','.adduser',function(){
        var action = '{DZZSCRIPT}?mod=system&op=selorguser&stype=2&multiple=1&ids={$userstr}',
            callback_url = MOD_URL+'&op=mobile&do=ajax&operation=addgroupuser&gid={$gid}';
        if ($('#submitForm').length < 1) {
            var form = $('<form id="submitForm"></form>');
            $(document.body).append(form);
        } else {
            form = $('#submitForm');
        }
        if ($('#callbackdata').length < 1) {
            var callbackdata = $('<input type="hidden" name="callback_url" id="callbackdata" />');
            form.append(callbackdata);
        } else {
            var callbackdata = $('#callbackdata');
        }
        callbackdata.val(callback_url);
        form.attr('action', action);
        form.attr('method', 'post');
        form.submit();
        return false;
    })
</script>
<!--{hook footer_tpl}-->
<!--{eval output();}-->
</html>
