<!--{if $filter=='new'}-->
<div class="popover-header">
  <h4 class="modal-title text-truncate">
    {lang app_notice}
  </h4>
  <button class="btn-close"></button>
</div>
    <div class="popover-body overflow-auto" style="min-width: 300px;max-width: 800px;max-height: 500px;">
      <!--{if $list}-->
      <ul class="list-group">
        <!--{loop $list $value}-->
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <span><a href="user.php?uid=$value['authorid']" target="_blank">{eval echo avatar_block($value['authorid']);}</a></span>
          <div class="ms-2 me-auto text-break">
            <div class="fw-bold">$value[title]</div>
            $value[note]
            <div><small class="text-muted">$value['dateline']</small></div>
          </div>
          </li>
        <!--{/loop}-->
      </ul>
      <!--{else}-->
      <div class="card-body">
        {lang noapp_notice}
      </div>
      <!--{/if}-->
    </div>
    <div class="modal-footer">
    <a href="{DZZSCRIPT}?mod=system&op=notification" class="btn btn-primary">{lang lookallapp_notice}</a>
    </div>    
	<script type="text/javascript" reload="1">
		try{_notice.showTips(0);}catch(e){}
	</script>
<!--{/if}-->