<!--{template lyear:header_simple_start}-->
<link href="static/bootstrap/css/bootstrapSwitch.css?{VERHASH}" rel="stylesheet" media="all">
<script src="admin/scripts/admin.js?{VERHASH}" type="text/javascript"></script>
<style>
	p {
		min-height: 25px;
		min-width: 50px;
		margin: 5px 0;
	}
	
	p input.form-control {
		box-shadow: none;
		height: 25px;
		width: 90%;
	}
	
	p input.form-control:focus {
		box-shadow: none;
	}
</style>
<!--{template lyear:header_simple_end}-->
<main class="bs-main-container">
	<div class="container-fluid">
	  <div class="card">
      <div class="card-body">
        <div class="row mb-3">
          <label class="col-sm-2">{lang step}1</label>
          <div class="col-sm-10">
            <a class="btn btn-outline-primary" href="{MOD_URL}&op=export_tmpl" target="_blank">{lang inport_guide_download}</a>
            <span class="form-text">{lang inport_guide_template}</span>
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-2">{lang step}2</label>
          <div class="col-sm-10">
            {lang inport_guide_user}
          </div>
        </div>
        <form name="importfile" class="form-horizontal form-horizontal-left" method="post" action="{MOD_URL}&op=import" id="importfile" enctype="multipart/form-data">
          <input type="hidden" name="formhash" value="{FORMHASH}">
          <input type="hidden" name="importfilesubmit" value="true">
          <div class="row mb-3">
            <label class="col-sm-2">{lang inport_guide_step}</label>
            <div class="col-sm-10">
              <input type="file" name="importfile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" class="form-control"/>
              <span class="form-text">{lang inport_guide_layout}</span>
            </div>
          </div>
          <dl class="mb-3 d-grid">
            <input type="submit" name="" class="btn btn-primary btn-round bodyloading" style="padding:6px 25px" value="{lang next_step}" />
          </dl>
        </form>
        <div class="alert alert-warning ">
          <p><strong>{lang inport_guide_notice}</strong></p>
          <ul class="list-unstyled" style="padding-left:25px;">
            {lang inport_guide_notice_text}
          </ul>
        </div>
      </div>
    </div>
	</div>
</main>
<!--{template lyear:footer_simple}-->