<ul class="nav nav-pills nav-stacked nav-pills-leftguide" style="margin:10px 0;">
  <li <!--{if $operation=='basic'}-->class="active"<!--{/if}-->>
        <a href="{BASESCRIPT}?mod=$mod&operation=basic">{lang members_verify_base}</a>
  </li>
  
  <li <!--{if $operation=='datetime'}-->class="active"<!--{/if}-->>
        <a href="{BASESCRIPT}?mod=$mod&operation=datetime">{lang time_set}</a>
  </li>
  <li <!--{if $operation=='access'}-->class="active"<!--{/if}-->>
        <a href="{BASESCRIPT}?mod=$mod&operation=access">{lang register_visit}</a>
  </li>
  
  <li <!--{if $operation=='sec'}-->class="active"<!--{/if}-->>
        <a href="{BASESCRIPT}?mod=$mod&operation=sec">{lang verification_code_set}</a>
  </li>
  <li <!--{if $operation=='qqlogin'}-->class="active"<!--{/if}-->>
        <a href="{BASESCRIPT}?mod=$mod&operation=qqlogin">{lang qq_longin_set}</a>
  </li>
  
    <li <!--{if $operation=='mail' || $op=='mailcheck'}-->class="active"<!--{/if}-->>
        <a href="{BASESCRIPT}?mod=$mod&operation=mail">{lang mail}</a>
  </li>
   <li <!--{if $operation=='at'}-->class="active"<!--{/if}-->>
        <a href="{BASESCRIPT}?mod=$mod&operation=at">@{lang sector_set}</a>
  	</li> 
   <li <!--{if $operation=='upload'}-->class="active"<!--{/if}-->>
        <a href="{BASESCRIPT}?mod=$mod&operation=upload">{lang upload_set}</a>
  	</li> 
    <li <!--{if $operation=='smiley' || $op=='smiley'}-->class="active"<!--{/if}-->>
        <a href="{BASESCRIPT}?mod=$mod&operation=smiley">{lang expression_manage}</a>
  	</li> 
    <li <!--{if $operation=='censor'}-->class="active"<!--{/if}-->>
        <a href="{BASESCRIPT}?mod=$mod&operation=censor">{lang words_management}</a>
  	</li>
    
     <li <!--{if $operation=='desktop'}-->class="active"<!--{/if}-->>
        <a href="{BASESCRIPT}?mod=$mod&operation=desktop">{lang desktop_set}</a>
  	</li> 
    <li <!--{if $operation=='loginset'}-->class="active"<!--{/if}-->>
        <a href="{BASESCRIPT}?mod=$mod&operation=loginset">{lang login_page_set}</a>
  	</li>
    <li <!--{if $operation=='qywechat' || $op=='assistant' || $op=='wxsyn'}-->class="active"<!--{/if}-->>
        <a href="{BASESCRIPT}?mod=$mod&operation=qywechat">{lang weinxin_company}</a>
  	</li>
</ul>