<!--{template lyear:header_simple_start}-->
<!--{template lyear:header_simple_end}-->
<main class="bs-main-container">
	<div class="container-fluid">
		<div class="card text-center">
			<div class="card-header">
				<div class="card-title">
				  <b>{lang system_install_success}</b>
				</div>
			  </div>
				<div class="card-body">
				<p class="card-text">{lang thank_you_of}</p>
				<p class="text-danger">{lang after_installed_tip}</p>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
			<div class="card-title text-center">
				<b>{lang after_installed_help}</b>
			</div>
			</div>
			<div class="card-body">
				<ol class="list-group list-group-numbered">
					<li class="list-group-item d-flex justify-content-between align-items-start">
					<div class="ms-2 me-auto">
						<div class="fw-bold">{lang after_installed_step_one}</div>
						{lang after_installed_step_one_tip}
					</div>
					<span class="badge bg-primary rounded-pill">1</span>
					</li>
					<li class="list-group-item d-flex justify-content-between align-items-start">
					<div class="ms-2 me-auto">
						<div class="fw-bold">系统配置</div>
						{lang after_installed_step_two}
					</div>
					<span class="badge bg-primary rounded-pill">2</span>
					</li>
				</ol>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
			<div class="card-title">
				<b>{lang Communication_and_feedback}</b>
			</div>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-6 col-xl-3">
						<div class="card bg-cyan text-white">
							<div class="card-body">
							<div class="d-flex justify-content-between">
								<span class="avatar-md rounded-circle bg-white bg-opacity-25 avatar-box">
								<i class="mdi mdi-github fs-4"></i>
								</span>
								<span class="fs-4">GitHub</span>
							</div>
							<div class="text-end"><a href="https://github.com/zyx0814/dzzoffice/issues" target="_blank" class="btn btn-outline-primary">GitHub</a></div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-xl-3">
						<div class="card bg-danger text-white">
							<div class="card-body">
							<div class="d-flex justify-content-between">
								<span class="avatar-md rounded-circle bg-white bg-opacity-25 avatar-box">
								<i class="mdi mdi-link fs-4"></i>
								</span>
								<span class="fs-4">gitee</span>
							</div>
							<div class="text-end"><a href="https://gitee.com/zyx0814/dzzoffice/issues" target="_blank" class="btn btn-outline-primary">码云</a></div>
							</div>
						</div>
					</div>
		
					<div class="col-md-6 col-xl-3">
					<div class="card bg-success text-white">
						<div class="card-body">
						<div class="d-flex justify-content-between">
							<span class="avatar-md rounded-circle bg-white bg-opacity-25 avatar-box">
							<i class="mdi mdi-qqchat fs-4"></i>
							</span>
							<span class="fs-4">240726</span>
						</div>
						<div class="text-end"><a href="http://shang.qq.com/wpa/qunwpa?idkey=e8f8edf6c0ce50fd5916ea6e1ecf16ecbef3759c1d0dfc4e9a8dc89fcec2f211" title="DzzOffice交流群 240726 " target="_blank" class="btn btn-outline-primary">QQ群</a></div>
						</div>
					</div>
					</div>
		
				</div>
			</div>
		</div>
	</div>
</div>
</main>
<!--{template lyear:footer_simple}-->